In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Masked VAE

In [2]:
import pandas as pd,numpy as np

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Train/data/NewFullInsuranceFraudData.csv",low_memory=False)
# df=df.iloc[:,1:]

In [4]:
"IsFraud" in df.columns.tolist()

True

In [5]:
"TransactionID" in df.columns.tolist()

True

In [6]:
print(df.columns.tolist())

['AgeOfVehicle_7 years', 'dataset_name', 'NoOfMonths_PartACov_11', 'NumberOfCars_3 to 4', 'RenalDiseaseIndicator', 'Days:Policy-Accident_1 to 7', 'PolicyType_Sedan - Collision', 'umbrella_limit_0', 'SOCIAL_CLASS_MI', 'MaritalStatus_Single', 'PastNumberOfClaims_more than 4', 'NoOfMonths_PartACov_8', 'AgeOfVehicle_new', 'ChronicCond_Osteoporasis_2', 'witnesses_1', 'DriverRating_1', 'CITY_Nashville', 'number_of_vehicles_involved_1', 'incident_state_SC', 'INCIDENT_CITY_Manchester', 'CUSTOMER_EDUCATION_LEVEL_High School', 'VehiclePrice_20,000 to 29,000', 'incident_city_Arlington', 'STATE_AR', 'ChronicCond_ObstrPulmonary_2', 'insured_hobbies_bungie-jumping', 'AUTHORITY_CONTACTED_Police', 'auto_model_MDX', 'authorities_contacted_Police', 'DayOfWeekClaimed_Monday', 'WeekOfMonth_5', 'INCIDENT_CITY_Glendale', 'insured_education_level_JD', 'insured_relationship_unmarried', 'Police_Report', 'CUSTOMER_EDUCATION_LEVEL_Bachelor', 'MonthClaimed_Mar', 'insured_education_level_Associate', 'IPAnnualReimbursementAmt', 'CUSTOMER_EDUCATION_LEVEL_MD', 'MonthClaimed_Jun', 'Month_Oct', 'VehiclePrice_more than 69,000', 'witnesses_2', 'Gender', 'property_damage_YES', 'BasePolicy_Collision', 'MaritalStatus_Divorced', 'NumberOfSuppliments_3 to 5', 'incident_severity_Trivial Damage', 'Days:Policy-Accident_none', 'number_of_vehicles_involved_3', 'Days:Policy-Claim_8 to 15', 'witnesses_3', 'insured_occupation_sales', 'ChronicCond_stroke', 'collision_type_Front Collision', 'NoOfMonths_PartBCov_6', 'NumberOfCars_1 vehicle', 'NumberOfCars_2 vehicles', 'NO_OF_FAMILY_MEMBERS_7', 'Days:Policy-Accident_8 to 15', 'AddressChange-Claim_4 to 8 years', 'INCIDENT_SEVERITY_Minor Loss', 'INCIDENT_SEVERITY_Major Loss', 'bodily_injuries_0', 'AgeOfPolicyHolder_36 to 40', 'STATE_TN', 'MARITAL_STATUS_Y', 'RISK_SEGMENTATION_H', 'WitnessPresent_Yes', 'authorities_contacted_Ambulance', 'incident_state_WV', 'SOCIAL_CLASS_LI', 'property_claim', 'INCIDENT_CITY_Montgomery', 'capital-loss', 'NoOfMonths_PartBCov_10', 'NoOfMonths_PartBCov_12', 'HOUSE_TYPE_Own', 'NumberOfCars_5 to 8', 'ChronicCond_Diabetes_2', 'ANY_INJURY', 'CITY_Manchester', 'Make_Chevrolet', 'bodily_injuries_2', 'NO_OF_FAMILY_MEMBERS_5', 'NoOfMonths_PartACov_0', 'auto_make_Suburu', 'insured_occupation_machine-op-inspct', 'MonthClaimed_Oct', 'bodily_injuries_1', 'auto_make_Saab', 'CUSTOMER_EDUCATION_LEVEL_College', 'ChronicCond_Heartfailure_2', 'WeekOfMonth_4', 'DayOfWeek_Friday', 'auto_year', 'HOUSE_TYPE_Rent', 'CITY_Montgomery', 'incident_state_NY', 'Make_Mazda', 'ChronicCond_Cancer_2', 'Days:Policy-Accident_more than 30', 'auto_make_Chevrolet', 'auto_model_A3', 'AUTHORITY_CONTACTED_Ambulance', 'DayOfWeekClaimed_Tuesday', 'NO_OF_FAMILY_MEMBERS_2', 'Premium', 'AgeOfVehicle_5 years', 'STATE_CO', 'WeekOfMonth_1', 'number_of_vehicles_involved_4', 'witnesses_0', 'vehicle_claim', 'INSURANCE_TYPE_Mobile', 'EMPLOYMENT_STATUS_Y', 'NO_OF_FAMILY_MEMBERS_4', 'RISK_SEGMENTATION_M', 'policy_state_OH', 'insured_relationship_other-relative', 'incident_severity_Total Loss', 'VehiclePrice_30,000 to 39,000', 'insured_education_level_High School', 'PastNumberOfClaims_none', 'insured_relationship_not-in-family', 'insured_relationship_own-child', 'insured_education_level_Masters', 'collision_type_Side Collision', 'insured_occupation_exec-managerial', 'INSURANCE_TYPE_Property', 'OPAnnualDeductibleAmt', 'Month_Mar', 'insured_relationship_husband', 'MonthClaimed_Jan', 'Claim_Amount', 'INCIDENT_CITY_Arvada', 'NoOfMonths_PartBCov_11', 'OPAnnualReimbursementAmt', 'STATE_CA', 'PastNumberOfClaims_1', 'LOSS_TO_TXN_DELAY', 'umbrella_limit_7000000', 'DayOfWeekClaimed_Thursday', 'Days:Policy-Accident_15 to 30', 'ClaimDuration', 'NumberOfCars_more than 8', 'Make_Toyota', 'DayOfWeek_Thursday', 'CITY_Fayetteville', 'IPAnnualDeductibleAmt', 'DriverRating_4', 'DayOfWeek_Monday', 'incident_city_Springfield', 'ChronicCond_KidneyDisease_2', 'MaritalStatus_Widow', 'VehiclePrice_40,000 to 59,000', 'NumberOfSuppliments_1 to 2', 'ChronicCond_Depression_2', 'Make_Honda', 'incident_city_Northbrook', 'INCIDENT_CITY_Washington', 'Fault_Third Party', 'property_damage_NO', 'DayOfWeekClaimed_Wednesday', 'VehicleCategory_Sport', 'MaritalStatus_Married', 'HOUSE_TYPE_Mortgage', 'policy_deductable_500', 'incident_state_NC', 'SOCIAL_CLASS_HI', 'policy_csl_100/300', 'insured_occupation_prof-specialty', 'Deductible', 'Month_May', 'insured_education_level_PhD', 'insured_education_level_College', 'MonthClaimed_May', 'policy_deductable_1000', 'INSURANCE_TYPE_Health', 'AgeOfPolicyHolder_51 to 65', 'PolicyType_Sedan - Liability', 'IsInpatient', 'AgeOfPolicyHolder_31 to 35', 'Make_Pontiac', 'injury_claim', 'insured_hobbies_exercise', 'INSURANCE_TYPE_Travel', 'DayOfWeekClaimed_Friday', 'auto_model_Neon', 'VehicleCategory_Sedan', 'VehicleCategory_Utility', 'VehiclePrice_less than 20,000', 'AddressChange-Claim_under 6 months', 'INSURANCE_TYPE_Motor', 'auto_make_Dodge', 'DayOfWeek_Wednesday', 'policy_deductable_2000', 'insured_occupation_tech-support', 'AddressChange-Claim_1 year', 'capital-gains', 'NumberOfSuppliments_more than 5', 'ChronicCond_rheumatoidarthritis_2', 'Tenure', 'incident_city_Riverwood', 'umbrella_limit_6000000', 'AddressChange-Claim_2 to 3 years', 'PolicyType_Sedan - All Perils', 'DriverRating_3', 'INSURANCE_TYPE_Life', 'NoOfMonths_PartACov_12', 'DriverRating_2', 'policy_state_IN', 'STATE_FL', 'incident_type_Vehicle Theft', 'insured_hobbies_paintball', 'CITY_Washington', 'NoOfMonths_PartACov_6', 'AgeOfPolicyHolder_41 to 50', 'Month_Jun', 'PolicyType_Utility - All Perils', 'insured_hobbies_reading', 'WeekOfMonthClaimed', 'BasePolicy_All Perils', 'umbrella_limit_4000000', 'WeekOfMonth_3', 'incident_type_Parked Car', 'AgentType_Internal', 'AccidentArea_Urban', 'Age', 'incident_severity_Minor Damage', 'InscClaimAmtReimbursed', 'authorities_contacted_Fire', 'TransactionID', 'NO_OF_FAMILY_MEMBERS_3', 'auto_model_Wrangler', 'auto_model_RAM', 'POLICY_AGE_DAYS', 'Days:Policy-Claim_15 to 30', 'AgeOfPolicyHolder_26 to 30', 'incident_city_Northbend', 'auto_make_Nissan', 'policy_state_IL', 'REPORT_DELAY_DAYS', 'insured_education_level_MD', 'policy_csl_500/1000', 'incident_type_Multi-vehicle Collision', 'INCIDENT_SEVERITY_Total Loss', 'DayOfWeek_Tuesday', 'incident_severity_Major Damage', 'incident_state_VA', 'BasePolicy_Liability', 'ChronicCond_Alzheimer_2', 'insured_hobbies_movies', 'IsDead', 'incident_type_Single Vehicle Collision', 'insured_relationship_wife', 'Month_Jan', 'umbrella_limit_5000000', 'AgeOfVehicle_6 years', 'incident_city_Hillsdale', 'RISK_SEGMENTATION_L', 'PastNumberOfClaims_2 to 4', 'WeekOfMonth_2', 'PolicyType_Sport - Collision', 'AgeOfVehicle_more than 7', 'NoOfMonths_PartBCov_0', 'property_damage_?', 'NumberOfSuppliments_none', 'incident_city_Columbus', 'AddressChange-Claim_no change', 'CUSTOMER_EDUCATION_LEVEL_Masters', 'NO_OF_FAMILY_MEMBERS_6', 'IsFraud', 'Days:Policy-Claim_more than 30', 'Incident_Hour', 'number_of_vehicles_involved_2', 'policy_csl_250/500', 'collision_type_Rear Collision', 'Days:Policy-Claim_none']

In [7]:
def display(matching_rows):
    print("counting list of Uniquic all featurs")
    li=[]
    for i in matching_rows.columns:
        #print(str(i),' :',len(matching_rows[i].unique()),matching_rows[i].unique())
        print(str(i), ' :', matching_rows[i].nunique(),',',list(matching_rows[i].unique())[:2])
        li.append(matching_rows[i].nunique())
    #return li
        # if(matching_rows[i].nunique()<50):
        #     print(str(i),' :',matching_rows[i].unique())

In [8]:
display(df)

counting list of Uniquic all featurs
AgeOfVehicle_7 years  : 2 , [np.float64(nan), np.float64(0.0)]
dataset_name  : 4 , ['Insurance Fraud Detection', 'Insurance Claims Fraud Data']
NoOfMonths_PartACov_11  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfCars_3 to 4  : 2 , [np.float64(nan), np.float64(1.0)]
RenalDiseaseIndicator  : 2 , [np.float64(nan), np.float64(0.0)]
Days:Policy-Accident_1 to 7  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sedan - Collision  : 2 , [np.float64(nan), np.float64(0.0)]
umbrella_limit_0  : 2 , [np.float64(1.0), np.float64(0.0)]
SOCIAL_CLASS_MI  : 2 , [np.float64(nan), np.float64(0.0)]
MaritalStatus_Single  : 2 , [np.float64(nan), np.float64(1.0)]
PastNumberOfClaims_more than 4  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_8  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfVehicle_new  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Osteoporasis_2  : 2 , [np.float64(nan), np.float64(1.0)]
witnesses_1  : 2 , [np.float64(0.0), np.float64(1.0)]
DriverRating_1  : 2 , [np.float64(nan), np.float64(1.0)]
CITY_Nashville  : 2 , [np.float64(nan), np.float64(0.0)]
number_of_vehicles_involved_1  : 2 , [np.float64(1.0), np.float64(0.0)]
incident_state_SC  : 2 , [np.float64(1.0), np.float64(0.0)]
INCIDENT_CITY_Manchester  : 2 , [np.float64(nan), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_High School  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_20,000 to 29,000  : 2 , [np.float64(nan), np.float64(0.0)]
incident_city_Arlington  : 2 , [np.float64(0.0), np.float64(1.0)]
STATE_AR  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_ObstrPulmonary_2  : 2 , [np.float64(nan), np.float64(1.0)]
insured_hobbies_bungie-jumping  : 2 , [np.float64(0.0), np.float64(1.0)]
AUTHORITY_CONTACTED_Police  : 2 , [np.float64(nan), np.float64(1.0)]
auto_model_MDX  : 2 , [np.float64(0.0), np.float64(1.0)]
authorities_contacted_Police  : 2 , [np.float64(1.0), np.float64(0.0)]
DayOfWeekClaimed_Monday  : 2 , [np.float64(nan), np.float64(0.0)]
WeekOfMonth_5  : 2 , [np.float64(nan), np.float64(1.0)]
INCIDENT_CITY_Glendale  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_JD  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_relationship_unmarried  : 2 , [np.float64(0.0), np.float64(1.0)]
Police_Report  : 2 , [np.float64(1.0), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_Bachelor  : 2 , [np.float64(nan), np.float64(1.0)]
MonthClaimed_Mar  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_Associate  : 2 , [np.float64(0.0), np.float64(1.0)]
IPAnnualReimbursementAmt  : 3004 , [np.float64(nan), np.float64(36000.0)]
CUSTOMER_EDUCATION_LEVEL_MD  : 2 , [np.float64(nan), np.float64(0.0)]
MonthClaimed_Jun  : 2 , [np.float64(nan), np.float64(0.0)]
Month_Oct  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_more than 69,000  : 2 , [np.float64(nan), np.float64(1.0)]
witnesses_2  : 2 , [np.float64(1.0), np.float64(0.0)]
Gender  : 2 , [np.float64(1.0), np.float64(0.0)]
property_damage_YES  : 2 , [np.float64(1.0), np.float64(0.0)]
BasePolicy_Collision  : 2 , [np.float64(nan), np.float64(0.0)]
MaritalStatus_Divorced  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfSuppliments_3 to 5  : 2 , [np.float64(nan), np.float64(0.0)]
incident_severity_Trivial Damage  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Accident_none  : 2 , [np.float64(nan), np.float64(0.0)]
number_of_vehicles_involved_3  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Claim_8 to 15  : 2 , [np.float64(nan), np.float64(0.0)]
witnesses_3  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_sales  : 2 , [np.float64(0.0), np.float64(1.0)]
ChronicCond_stroke  : 2 , [np.float64(nan), np.float64(1.0)]
collision_type_Front Collision  : 2 , [np.float64(0.0), np.float64(1.0)]
NoOfMonths_PartBCov_6  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfCars_1 vehicle  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfCars_2 vehicles  : 2 , [np.float64(nan), np.float64(0.0)]
NO_OF_FAMILY_MEMBERS_7  : 2 , [np.float64(nan), np.float64(0.0)]
Days:Policy-Accident_8 to 15  : 2 , [np.float64(nan), np.float64(0.0)]
AddressChange-Claim_4 to 8 years  : 2 , [np.float64(nan), np.float64(0.0)]
INCIDENT_SEVERITY_Minor Loss  : 2 , [np.float64(nan), np.float64(0.0)]
INCIDENT_SEVERITY_Major Loss  : 2 , [np.float64(nan), np.float64(1.0)]
bodily_injuries_0  : 2 , [np.float64(0.0), np.float64(1.0)]
AgeOfPolicyHolder_36 to 40  : 2 , [np.float64(nan), np.float64(0.0)]
STATE_TN  : 2 , [np.float64(nan), np.float64(0.0)]
MARITAL_STATUS_Y  : 2 , [np.float64(nan), np.float64(1.0)]
RISK_SEGMENTATION_H  : 2 , [np.float64(nan), np.float64(0.0)]
WitnessPresent_Yes  : 2 , [np.float64(nan), np.float64(0.0)]
authorities_contacted_Ambulance  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_state_WV  : 2 , [np.float64(0.0), np.float64(1.0)]
SOCIAL_CLASS_LI  : 2 , [np.float64(nan), np.float64(1.0)]
property_claim  : 626 , [np.float64(13020.0), np.float64(780.0)]
INCIDENT_CITY_Montgomery  : 2 , [np.float64(nan), np.float64(0.0)]
capital-loss  : 354 , [np.float64(0.0), np.float64(-62400.0)]
NoOfMonths_PartBCov_10  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartBCov_12  : 2 , [np.float64(nan), np.float64(1.0)]
HOUSE_TYPE_Own  : 2 , [np.float64(nan), np.float64(1.0)]
NumberOfCars_5 to 8  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Diabetes_2  : 2 , [np.float64(nan), np.float64(0.0)]
ANY_INJURY  : 2 , [np.float64(nan), np.float64(0.0)]
CITY_Manchester  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Chevrolet  : 2 , [np.float64(nan), np.float64(0.0)]
bodily_injuries_2  : 2 , [np.float64(0.0), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_5  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_0  : 2 , [np.float64(nan), np.float64(0.0)]
auto_make_Suburu  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_machine-op-inspct  : 2 , [np.float64(0.0), np.float64(1.0)]
MonthClaimed_Oct  : 2 , [np.float64(nan), np.float64(0.0)]
bodily_injuries_1  : 2 , [np.float64(1.0), np.float64(0.0)]
auto_make_Saab  : 2 , [np.float64(1.0), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_College  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Heartfailure_2  : 2 , [np.float64(nan), np.float64(1.0)]
WeekOfMonth_4  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Friday  : 2 , [np.float64(nan), np.float64(0.0)]
auto_year  : 21 , [np.float64(2004.0), np.float64(2007.0)]
HOUSE_TYPE_Rent  : 2 , [np.float64(nan), np.float64(0.0)]
CITY_Montgomery  : 2 , [np.float64(nan), np.float64(0.0)]
incident_state_NY  : 2 , [np.float64(0.0), np.float64(1.0)]
Make_Mazda  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Cancer_2  : 2 , [np.float64(nan), np.float64(1.0)]
Days:Policy-Accident_more than 30  : 2 , [np.float64(nan), np.float64(1.0)]
auto_make_Chevrolet  : 2 , [np.float64(0.0), np.float64(1.0)]
auto_model_A3  : 2 , [np.float64(0.0), np.float64(1.0)]
AUTHORITY_CONTACTED_Ambulance  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeekClaimed_Tuesday  : 2 , [np.float64(nan), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_2  : 2 , [np.float64(nan), np.float64(0.0)]
Premium  : 7541 , [np.float64(1406.91), np.float64(1197.22)]
AgeOfVehicle_5 years  : 2 , [np.float64(nan), np.float64(0.0)]
STATE_CO  : 2 , [np.float64(nan), np.float64(0.0)]
WeekOfMonth_1  : 2 , [np.float64(nan), np.float64(0.0)]
number_of_vehicles_involved_4  : 2 , [np.float64(0.0), np.float64(1.0)]
witnesses_0  : 2 , [np.float64(0.0), np.float64(1.0)]
vehicle_claim  : 726 , [np.float64(52080.0), np.float64(3510.0)]
INSURANCE_TYPE_Mobile  : 2 , [np.float64(nan), np.float64(0.0)]
EMPLOYMENT_STATUS_Y  : 2 , [np.float64(nan), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_4  : 2 , [np.float64(nan), np.float64(0.0)]
RISK_SEGMENTATION_M  : 2 , [np.float64(nan), np.float64(0.0)]
policy_state_OH  : 2 , [np.float64(1.0), np.float64(0.0)]
insured_relationship_other-relative  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_severity_Total Loss  : 2 , [np.float64(0.0), np.float64(1.0)]
VehiclePrice_30,000 to 39,000  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_High School  : 2 , [np.float64(0.0), np.float64(1.0)]
PastNumberOfClaims_none  : 2 , [np.float64(nan), np.float64(1.0)]
insured_relationship_not-in-family  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_relationship_own-child  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_education_level_Masters  : 2 , [np.float64(0.0), np.float64(1.0)]
collision_type_Side Collision  : 2 , [np.float64(1.0), np.float64(0.0)]
insured_occupation_exec-managerial  : 2 , [np.float64(0.0), np.float64(1.0)]
INSURANCE_TYPE_Property  : 2 , [np.float64(nan), np.float64(0.0)]
OPAnnualDeductibleAmt  : 789 , [np.float64(nan), np.float64(70.0)]
Month_Mar  : 2 , [np.float64(nan), np.float64(0.0)]
insured_relationship_husband  : 2 , [np.float64(1.0), np.float64(0.0)]
MonthClaimed_Jan  : 2 , [np.float64(nan), np.float64(1.0)]
Claim_Amount  : 1399 , [np.float64(71610.0), np.float64(5070.0)]
INCIDENT_CITY_Arvada  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartBCov_11  : 2 , [np.float64(nan), np.float64(0.0)]
OPAnnualReimbursementAmt  : 2078 , [np.float64(nan), np.float64(60.0)]
STATE_CA  : 2 , [np.float64(nan), np.float64(0.0)]
PastNumberOfClaims_1  : 2 , [np.float64(nan), np.float64(0.0)]
LOSS_TO_TXN_DELAY  : 20 , [np.float64(nan), np.float64(16.0)]
umbrella_limit_7000000  : 2 , [np.float64(0.0), np.float64(1.0)]
DayOfWeekClaimed_Thursday  : 2 , [np.float64(nan), np.float64(0.0)]
Days:Policy-Accident_15 to 30  : 2 , [np.float64(nan), np.float64(0.0)]
ClaimDuration  : 37 , [np.float64(nan), np.float64(6.0)]
NumberOfCars_more than 8  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Toyota  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Thursday  : 2 , [np.float64(nan), np.float64(0.0)]
CITY_Fayetteville  : 2 , [np.float64(nan), np.float64(0.0)]
IPAnnualDeductibleAmt  : 147 , [np.float64(nan), np.float64(3204.0)]
DriverRating_4  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Monday  : 2 , [np.float64(nan), np.float64(0.0)]
incident_city_Springfield  : 2 , [np.float64(0.0), np.float64(1.0)]
ChronicCond_KidneyDisease_2  : 2 , [np.float64(nan), np.float64(0.0)]
MaritalStatus_Widow  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_40,000 to 59,000  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfSuppliments_1 to 2  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Depression_2  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Honda  : 2 , [np.float64(nan), np.float64(1.0)]
incident_city_Northbrook  : 2 , [np.float64(0.0), np.float64(1.0)]
INCIDENT_CITY_Washington  : 2 , [np.float64(nan), np.float64(0.0)]
Fault_Third Party  : 2 , [np.float64(nan), np.float64(0.0)]
property_damage_NO  : 2 , [np.float64(0.0), np.float64(1.0)]
DayOfWeekClaimed_Wednesday  : 2 , [np.float64(nan), np.float64(0.0)]
VehicleCategory_Sport  : 2 , [np.float64(nan), np.float64(1.0)]
MaritalStatus_Married  : 2 , [np.float64(nan), np.float64(0.0)]
HOUSE_TYPE_Mortgage  : 2 , [np.float64(nan), np.float64(0.0)]
policy_deductable_500  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_state_NC  : 2 , [np.float64(0.0), np.float64(1.0)]
SOCIAL_CLASS_HI  : 2 , [np.float64(nan), np.float64(0.0)]
policy_csl_100/300  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_prof-specialty  : 2 , [np.float64(0.0), np.float64(1.0)]
Deductible  : 22 , [np.float64(nan), np.float64(1068.0)]
Month_May  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_PhD  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_education_level_College  : 2 , [np.float64(0.0), np.float64(1.0)]
MonthClaimed_May  : 2 , [np.float64(nan), np.float64(0.0)]
policy_deductable_1000  : 2 , [np.float64(1.0), np.float64(0.0)]
INSURANCE_TYPE_Health  : 2 , [np.float64(nan), np.float64(1.0)]
AgeOfPolicyHolder_51 to 65  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sedan - Liability  : 2 , [np.float64(nan), np.float64(0.0)]
IsInpatient  : 2 , [np.float64(nan), np.float64(1.0)]
AgeOfPolicyHolder_31 to 35  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Pontiac  : 2 , [np.float64(nan), np.float64(0.0)]
injury_claim  : 638 , [np.float64(6510.0), np.float64(780.0)]
insured_hobbies_exercise  : 2 , [np.float64(0.0), np.float64(1.0)]
INSURANCE_TYPE_Travel  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeekClaimed_Friday  : 2 , [np.float64(nan), np.float64(0.0)]
auto_model_Neon  : 2 , [np.float64(0.0), np.float64(1.0)]
VehicleCategory_Sedan  : 2 , [np.float64(nan), np.float64(0.0)]
VehicleCategory_Utility  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_less than 20,000  : 2 , [np.float64(nan), np.float64(0.0)]
AddressChange-Claim_under 6 months  : 2 , [np.float64(nan), np.float64(0.0)]
INSURANCE_TYPE_Motor  : 2 , [np.float64(nan), np.float64(0.0)]
auto_make_Dodge  : 2 , [np.float64(0.0), np.float64(1.0)]
DayOfWeek_Wednesday  : 2 , [np.float64(nan), np.float64(1.0)]
policy_deductable_2000  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_tech-support  : 2 , [np.float64(0.0), np.float64(1.0)]
AddressChange-Claim_1 year  : 2 , [np.float64(nan), np.float64(1.0)]
capital-gains  : 338 , [np.float64(53300.0), np.float64(0.0)]
NumberOfSuppliments_more than 5  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_rheumatoidarthritis_2  : 2 , [np.float64(nan), np.float64(0.0)]
Tenure  : 402 , [np.float64(328.0), np.float64(228.0)]
incident_city_Riverwood  : 2 , [np.float64(0.0), np.float64(1.0)]
umbrella_limit_6000000  : 2 , [np.float64(0.0), np.float64(1.0)]
AddressChange-Claim_2 to 3 years  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sedan - All Perils  : 2 , [np.float64(nan), np.float64(0.0)]
DriverRating_3  : 2 , [np.float64(nan), np.float64(0.0)]
INSURANCE_TYPE_Life  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_12  : 2 , [np.float64(nan), np.float64(1.0)]
DriverRating_2  : 2 , [np.float64(nan), np.float64(0.0)]
policy_state_IN  : 2 , [np.float64(0.0), np.float64(1.0)]
STATE_FL  : 2 , [np.float64(nan), np.float64(0.0)]
incident_type_Vehicle Theft  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_hobbies_paintball  : 2 , [np.float64(0.0), np.float64(1.0)]
CITY_Washington  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_6  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfPolicyHolder_41 to 50  : 2 , [np.float64(nan), np.float64(0.0)]
Month_Jun  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Utility - All Perils  : 2 , [np.float64(nan), np.float64(0.0)]
insured_hobbies_reading  : 2 , [np.float64(0.0), np.float64(1.0)]
WeekOfMonthClaimed  : 5 , [np.float64(nan), np.float64(1.0)]
BasePolicy_All Perils  : 2 , [np.float64(nan), np.float64(0.0)]
umbrella_limit_4000000  : 2 , [np.float64(0.0), np.float64(1.0)]
WeekOfMonth_3  : 2 , [np.float64(nan), np.float64(0.0)]
incident_type_Parked Car  : 2 , [np.float64(0.0), np.float64(1.0)]
AgentType_Internal  : 2 , [np.float64(nan), np.float64(0.0)]
AccidentArea_Urban  : 2 , [np.float64(nan), np.float64(1.0)]
Age  : 87 , [np.int64(48), np.int64(42)]
incident_severity_Minor Damage  : 2 , [np.float64(0.0), np.float64(1.0)]
InscClaimAmtReimbursed  : 438 , [np.float64(nan), np.float64(26000.0)]
authorities_contacted_Fire  : 2 , [np.float64(0.0), np.float64(1.0)]
TransactionID  : 584631 , ['InsuranceFraud_000001', 'InsuranceFraud_000002']
NO_OF_FAMILY_MEMBERS_3  : 2 , [np.float64(nan), np.float64(1.0)]
auto_model_Wrangler  : 2 , [np.float64(0.0), np.float64(1.0)]
auto_model_RAM  : 2 , [np.float64(0.0), np.float64(1.0)]
POLICY_AGE_DAYS  : 3474 , [np.float64(nan), np.float64(1789.0)]
Days:Policy-Claim_15 to 30  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfPolicyHolder_26 to 30  : 2 , [np.float64(nan), np.float64(1.0)]
incident_city_Northbend  : 2 , [np.float64(0.0), np.float64(1.0)]
auto_make_Nissan  : 2 , [np.float64(0.0), np.float64(1.0)]
policy_state_IL  : 2 , [np.float64(0.0), np.float64(1.0)]
REPORT_DELAY_DAYS  : 5 , [np.float64(nan), np.float64(5.0)]
insured_education_level_MD  : 2 , [np.float64(1.0), np.float64(0.0)]
policy_csl_500/1000  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_type_Multi-vehicle Collision  : 2 , [np.float64(0.0), np.float64(1.0)]
INCIDENT_SEVERITY_Total Loss  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Tuesday  : 2 , [np.float64(nan), np.float64(0.0)]
incident_severity_Major Damage  : 2 , [np.float64(1.0), np.float64(0.0)]
incident_state_VA  : 2 , [np.float64(0.0), np.float64(1.0)]
BasePolicy_Liability  : 2 , [np.float64(nan), np.float64(1.0)]
ChronicCond_Alzheimer_2  : 2 , [np.float64(nan), np.float64(0.0)]
insured_hobbies_movies  : 2 , [np.float64(0.0), np.float64(1.0)]
IsDead  : 2 , [np.float64(nan), np.float64(0.0)]
incident_type_Single Vehicle Collision  : 2 , [np.float64(1.0), np.float64(0.0)]
insured_relationship_wife  : 2 , [np.float64(0.0), np.float64(1.0)]
Month_Jan  : 2 , [np.float64(nan), np.float64(0.0)]
umbrella_limit_5000000  : 2 , [np.float64(0.0), np.float64(1.0)]
AgeOfVehicle_6 years  : 2 , [np.float64(nan), np.float64(0.0)]
incident_city_Hillsdale  : 2 , [np.float64(0.0), np.float64(1.0)]
RISK_SEGMENTATION_L  : 2 , [np.float64(nan), np.float64(1.0)]
PastNumberOfClaims_2 to 4  : 2 , [np.float64(nan), np.float64(0.0)]
WeekOfMonth_2  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sport - Collision  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfVehicle_more than 7  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartBCov_0  : 2 , [np.float64(nan), np.float64(0.0)]
property_damage_?  : 2 , [np.float64(0.0), np.float64(1.0)]
NumberOfSuppliments_none  : 2 , [np.float64(nan), np.float64(1.0)]
incident_city_Columbus  : 2 , [np.float64(1.0), np.float64(0.0)]
AddressChange-Claim_no change  : 2 , [np.float64(nan), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_Masters  : 2 , [np.float64(nan), np.float64(0.0)]
NO_OF_FAMILY_MEMBERS_6  : 2 , [np.float64(nan), np.float64(0.0)]
IsFraud  : 2 , [np.float64(1.0), np.float64(0.0)]
Days:Policy-Claim_more than 30  : 2 , [np.float64(nan), np.float64(1.0)]
Incident_Hour  : 24 , [np.float64(5.0), np.float64(8.0)]
number_of_vehicles_involved_2  : 2 , [np.float64(0.0), np.float64(1.0)]
policy_csl_250/500  : 2 , [np.float64(1.0), np.float64(0.0)]
collision_type_Rear Collision  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Claim_none  : 2 , [np.float64(nan), np.float64(0.0)]

In [9]:
df.shape

(584631, 281)

In [10]:
df.value_counts("IsFraud")

IsFraud
0.0    370162
1.0    214469
Name: count, dtype: int64

In [11]:
df['IsFraud'].value_counts()/len(df)

IsFraud
0.0    0.633155
1.0    0.366845
Name: count, dtype: float64

In [12]:
# a =df.copy()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584631 entries, 0 to 584630
Columns: 281 entries, AgeOfVehicle_7 years to Days:Policy-Claim_none
dtypes: float64(278), int64(1), object(2)
memory usage: 1.2+ GB

In [44]:
# import pandas as pd

# # Set option to show all columns when printing
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)      # If needed for rows
# pd.set_option('display.max_colwidth', None)  # Show full content in cells

# # Now print all dtypes
# print(df.dtypes)

In [14]:
# Show only columns with non-numeric data types
non_numeric_cols = df.select_dtypes(exclude=['int64', 'float64']).dtypes

print(non_numeric_cols)

dataset_name     object
TransactionID    object
dtype: object

In [15]:
"object" in df.dtypes.tolist()

True

In [16]:
df.drop(columns =["TransactionID","dataset_name"],inplace=True)

In [17]:
# threshold = 0.98
# cols_to_drop = [col for col in df.columns if df[col].isna().mean() > threshold]
# df = df.drop(columns=cols_to_drop)

In [18]:
df.shape#131 features are their

(584631, 279)

In [19]:
df.shape

(584631, 279)

In [20]:
def print_null_counts(df):
    null_counts = df.isnull().sum()
    total_rows = len(df)

    print(f"Total rows: {total_rows}\n")
    print(f"{'Column Name':35} | {'Null Count':10} | {'Null Percentage':15}")
    print("-" * 65)

    for col, null_count in null_counts.items():
        null_pct = (null_count / total_rows) * 100
        print(f"{col:35} | {null_count:<10} | {null_pct:>14.2f}%")

In [16]:
print_null_counts(df)

Total rows: 584631

Column Name                         | Null Count | Null Percentage
-----------------------------------------------------------------
AgeOfVehicle_7 years                | 569211     |          97.36%
NoOfMonths_PartACov_11              | 26420      |           4.52%
NumberOfCars_3 to 4                 | 569211     |          97.36%
RenalDiseaseIndicator               | 26420      |           4.52%
Days:Policy-Accident_1 to 7         | 569211     |          97.36%
PolicyType_Sedan - Collision        | 569211     |          97.36%
umbrella_limit_0                    | 583631     |          99.83%
SOCIAL_CLASS_MI                     | 574631     |          98.29%
MaritalStatus_Single                | 569211     |          97.36%
PastNumberOfClaims_more than 4      | 569211     |          97.36%
NoOfMonths_PartACov_8               | 26420      |           4.52%
AgeOfVehicle_new                    | 569211     |          97.36%
ChronicCond_Osteoporasis_2          | 26420      |           4.52%
witnesses_1                         | 583631     |          99.83%
DriverRating_1                      | 569211     |          97.36%
CITY_Nashville                      | 574631     |          98.29%
number_of_vehicles_involved_1       | 583631     |          99.83%
incident_state_SC                   | 583631     |          99.83%
INCIDENT_CITY_Manchester            | 574631     |          98.29%
CUSTOMER_EDUCATION_LEVEL_High School | 574631     |          98.29%
VehiclePrice_20,000 to 29,000       | 569211     |          97.36%
incident_city_Arlington             | 583631     |          99.83%
STATE_AR                            | 574631     |          98.29%
ChronicCond_ObstrPulmonary_2        | 26420      |           4.52%
insured_hobbies_bungie-jumping      | 583631     |          99.83%
AUTHORITY_CONTACTED_Police          | 574631     |          98.29%
auto_model_MDX                      | 583631     |          99.83%
authorities_contacted_Police        | 583631     |          99.83%
DayOfWeekClaimed_Monday             | 569211     |          97.36%
WeekOfMonth_5                       | 569211     |          97.36%
INCIDENT_CITY_Glendale              | 574631     |          98.29%
insured_education_level_JD          | 583631     |          99.83%
insured_relationship_unmarried      | 583631     |          99.83%
Police_Report                       | 558211     |          95.48%
CUSTOMER_EDUCATION_LEVEL_Bachelor   | 574631     |          98.29%
MonthClaimed_Mar                    | 569211     |          97.36%
insured_education_level_Associate   | 583631     |          99.83%
IPAnnualReimbursementAmt            | 26420      |           4.52%
CUSTOMER_EDUCATION_LEVEL_MD         | 574631     |          98.29%
MonthClaimed_Jun                    | 569211     |          97.36%
Month_Oct                           | 569211     |          97.36%
VehiclePrice_more than 69,000       | 569211     |          97.36%
witnesses_2                         | 583631     |          99.83%
Gender                              | 10000      |           1.71%
property_damage_YES                 | 583631     |          99.83%
BasePolicy_Collision                | 569211     |          97.36%
MaritalStatus_Divorced              | 569211     |          97.36%
NumberOfSuppliments_3 to 5          | 569211     |          97.36%
incident_severity_Trivial Damage    | 583631     |          99.83%
Days:Policy-Accident_none           | 569211     |          97.36%
number_of_vehicles_involved_3       | 583631     |          99.83%
Days:Policy-Claim_8 to 15           | 569211     |          97.36%
witnesses_3                         | 583631     |          99.83%
insured_occupation_sales            | 583631     |          99.83%
ChronicCond_stroke                  | 26420      |           4.52%
collision_type_Front Collision      | 583631     |          99.83%
NoOfMonths_PartBCov_6               | 26420      |           4.52%
NumberOfCars_1 vehicle              | 569211     |          97.36%
NumberOfCars_2 vehicles             | 569211     |          97.36%
NO_OF_FAMILY_MEMBERS_7              | 574631     |          98.29%
Days:Policy-Accident_8 to 15        | 569211     |          97.36%
AddressChange-Claim_4 to 8 years    | 569211     |          97.36%
INCIDENT_SEVERITY_Minor Loss        | 574631     |          98.29%
INCIDENT_SEVERITY_Major Loss        | 574631     |          98.29%
bodily_injuries_0                   | 583631     |          99.83%
AgeOfPolicyHolder_36 to 40          | 569211     |          97.36%
STATE_TN                            | 574631     |          98.29%
MARITAL_STATUS_Y                    | 574631     |          98.29%
RISK_SEGMENTATION_H                 | 574631     |          98.29%
WitnessPresent_Yes                  | 569211     |          97.36%
authorities_contacted_Ambulance     | 583631     |          99.83%
incident_state_WV                   | 583631     |          99.83%
SOCIAL_CLASS_LI                     | 574631     |          98.29%
property_claim                      | 583631     |          99.83%
INCIDENT_CITY_Montgomery            | 574631     |          98.29%
capital-loss                        | 583631     |          99.83%
NoOfMonths_PartBCov_10              | 26420      |           4.52%
NoOfMonths_PartBCov_12              | 26420      |           4.52%
HOUSE_TYPE_Own                      | 574631     |          98.29%
NumberOfCars_5 to 8                 | 569211     |          97.36%
ChronicCond_Diabetes_2              | 26420      |           4.52%
ANY_INJURY                          | 574631     |          98.29%
CITY_Manchester                     | 574631     |          98.29%
Make_Chevrolet                      | 569211     |          97.36%
bodily_injuries_2                   | 583631     |          99.83%
NO_OF_FAMILY_MEMBERS_5              | 574631     |          98.29%
NoOfMonths_PartACov_0               | 26420      |           4.52%
auto_make_Suburu                    | 583631     |          99.83%
insured_occupation_machine-op-inspct | 583631     |          99.83%
MonthClaimed_Oct                    | 569211     |          97.36%
bodily_injuries_1                   | 583631     |          99.83%
auto_make_Saab                      | 583631     |          99.83%
CUSTOMER_EDUCATION_LEVEL_College    | 574631     |          98.29%
ChronicCond_Heartfailure_2          | 26420      |           4.52%
WeekOfMonth_4                       | 569211     |          97.36%
DayOfWeek_Friday                    | 569211     |          97.36%
auto_year                           | 583631     |          99.83%
HOUSE_TYPE_Rent                     | 574631     |          98.29%
CITY_Montgomery                     | 574631     |          98.29%
incident_state_NY                   | 583631     |          99.83%
Make_Mazda                          | 569211     |          97.36%
ChronicCond_Cancer_2                | 26420      |           4.52%
Days:Policy-Accident_more than 30   | 569211     |          97.36%
auto_make_Chevrolet                 | 583631     |          99.83%
auto_model_A3                       | 583631     |          99.83%
AUTHORITY_CONTACTED_Ambulance       | 574631     |          98.29%
DayOfWeekClaimed_Tuesday            | 569211     |          97.36%
NO_OF_FAMILY_MEMBERS_2              | 574631     |          98.29%
Premium                             | 573631     |          98.12%
AgeOfVehicle_5 years                | 569211     |          97.36%
STATE_CO                            | 574631     |          98.29%
WeekOfMonth_1                       | 569211     |          97.36%
number_of_vehicles_involved_4       | 583631     |          99.83%
witnesses_0                         | 583631     |          99.83%
vehicle_claim                       | 583631     |          99.83%
INSURANCE_TYPE_Mobile               | 574631     |          98.29%
EMPLOYMENT_STATUS_Y                 | 574631     |          98.29%
NO_OF_FAMILY_MEMBERS_4              | 574631     |          98.29%
RISK_SEGMENTATION_M                 | 574631     |          98.29%
policy_state_OH                     | 583631     |          99.83%
insured_relationship_other-relative | 583631     |          99.83%
incident_severity_Total Loss        | 583631     |          99.83%
VehiclePrice_30,000 to 39,000       | 569211     |          97.36%
insured_education_level_High School | 583631     |          99.83%
PastNumberOfClaims_none             | 569211     |          97.36%
insured_relationship_not-in-family  | 583631     |          99.83%
insured_relationship_own-child      | 583631     |          99.83%
insured_education_level_Masters     | 583631     |          99.83%
collision_type_Side Collision       | 583631     |          99.83%
insured_occupation_exec-managerial  | 583631     |          99.83%
INSURANCE_TYPE_Property             | 574631     |          98.29%
OPAnnualDeductibleAmt               | 26420      |           4.52%
Month_Mar                           | 569211     |          97.36%
insured_relationship_husband        | 583631     |          99.83%
MonthClaimed_Jan                    | 569211     |          97.36%
Claim_Amount                        | 15420      |           2.64%
INCIDENT_CITY_Arvada                | 574631     |          98.29%
NoOfMonths_PartBCov_11              | 26420      |           4.52%
OPAnnualReimbursementAmt            | 26420      |           4.52%
STATE_CA                            | 574631     |          98.29%
PastNumberOfClaims_1                | 569211     |          97.36%
LOSS_TO_TXN_DELAY                   | 574631     |          98.29%
umbrella_limit_7000000              | 583631     |          99.83%
DayOfWeekClaimed_Thursday           | 569211     |          97.36%
Days:Policy-Accident_15 to 30       | 569211     |          97.36%
ClaimDuration                       | 26420      |           4.52%
NumberOfCars_more than 8            | 569211     |          97.36%
Make_Toyota                         | 569211     |          97.36%
DayOfWeek_Thursday                  | 569211     |          97.36%
CITY_Fayetteville                   | 574631     |          98.29%
IPAnnualDeductibleAmt               | 26420      |           4.52%
DriverRating_4                      | 569211     |          97.36%
DayOfWeek_Monday                    | 569211     |          97.36%
incident_city_Springfield           | 583631     |          99.83%
ChronicCond_KidneyDisease_2         | 26420      |           4.52%
MaritalStatus_Widow                 | 569211     |          97.36%
VehiclePrice_40,000 to 59,000       | 569211     |          97.36%
NumberOfSuppliments_1 to 2          | 569211     |          97.36%
ChronicCond_Depression_2            | 26420      |           4.52%
Make_Honda                          | 569211     |          97.36%
incident_city_Northbrook            | 583631     |          99.83%
INCIDENT_CITY_Washington            | 574631     |          98.29%
Fault_Third Party                   | 569211     |          97.36%
property_damage_NO                  | 583631     |          99.83%
DayOfWeekClaimed_Wednesday          | 569211     |          97.36%
VehicleCategory_Sport               | 569211     |          97.36%
MaritalStatus_Married               | 569211     |          97.36%
HOUSE_TYPE_Mortgage                 | 574631     |          98.29%
policy_deductable_500               | 583631     |          99.83%
incident_state_NC                   | 583631     |          99.83%
SOCIAL_CLASS_HI                     | 574631     |          98.29%
policy_csl_100/300                  | 583631     |          99.83%
insured_occupation_prof-specialty   | 583631     |          99.83%
Deductible                          | 11000      |           1.88%
Month_May                           | 569211     |          97.36%
insured_education_level_PhD         | 583631     |          99.83%
insured_education_level_College     | 583631     |          99.83%
MonthClaimed_May                    | 569211     |          97.36%
policy_deductable_1000              | 583631     |          99.83%
INSURANCE_TYPE_Health               | 574631     |          98.29%
AgeOfPolicyHolder_51 to 65          | 569211     |          97.36%
PolicyType_Sedan - Liability        | 569211     |          97.36%
IsInpatient                         | 26420      |           4.52%
AgeOfPolicyHolder_31 to 35          | 569211     |          97.36%
Make_Pontiac                        | 569211     |          97.36%
injury_claim                        | 583631     |          99.83%
insured_hobbies_exercise            | 583631     |          99.83%
INSURANCE_TYPE_Travel               | 574631     |          98.29%
DayOfWeekClaimed_Friday             | 569211     |          97.36%
auto_model_Neon                     | 583631     |          99.83%
VehicleCategory_Sedan               | 569211     |          97.36%
VehicleCategory_Utility             | 569211     |          97.36%
VehiclePrice_less than 20,000       | 569211     |          97.36%
AddressChange-Claim_under 6 months  | 569211     |          97.36%
INSURANCE_TYPE_Motor                | 574631     |          98.29%
auto_make_Dodge                     | 583631     |          99.83%
DayOfWeek_Wednesday                 | 569211     |          97.36%
policy_deductable_2000              | 583631     |          99.83%
insured_occupation_tech-support     | 583631     |          99.83%
AddressChange-Claim_1 year          | 569211     |          97.36%
capital-gains                       | 583631     |          99.83%
NumberOfSuppliments_more than 5     | 569211     |          97.36%
ChronicCond_rheumatoidarthritis_2   | 26420      |           4.52%
Tenure                              | 573631     |          98.12%
incident_city_Riverwood             | 583631     |          99.83%
umbrella_limit_6000000              | 583631     |          99.83%
AddressChange-Claim_2 to 3 years    | 569211     |          97.36%
PolicyType_Sedan - All Perils       | 569211     |          97.36%
DriverRating_3                      | 569211     |          97.36%
INSURANCE_TYPE_Life                 | 574631     |          98.29%
NoOfMonths_PartACov_12              | 26420      |           4.52%
DriverRating_2                      | 569211     |          97.36%
policy_state_IN                     | 583631     |          99.83%
STATE_FL                            | 574631     |          98.29%
incident_type_Vehicle Theft         | 583631     |          99.83%
insured_hobbies_paintball           | 583631     |          99.83%
CITY_Washington                     | 574631     |          98.29%
NoOfMonths_PartACov_6               | 26420      |           4.52%
AgeOfPolicyHolder_41 to 50          | 569211     |          97.36%
Month_Jun                           | 569211     |          97.36%
PolicyType_Utility - All Perils     | 569211     |          97.36%
insured_hobbies_reading             | 583631     |          99.83%
WeekOfMonthClaimed                  | 569211     |          97.36%
BasePolicy_All Perils               | 569211     |          97.36%
umbrella_limit_4000000              | 583631     |          99.83%
WeekOfMonth_3                       | 569211     |          97.36%
incident_type_Parked Car            | 583631     |          99.83%
AgentType_Internal                  | 569211     |          97.36%
AccidentArea_Urban                  | 569211     |          97.36%
Age                                 | 0          |           0.00%
incident_severity_Minor Damage      | 583631     |          99.83%
InscClaimAmtReimbursed              | 26420      |           4.52%
authorities_contacted_Fire          | 583631     |          99.83%
NO_OF_FAMILY_MEMBERS_3              | 574631     |          98.29%
auto_model_Wrangler                 | 583631     |          99.83%
auto_model_RAM                      | 583631     |          99.83%
POLICY_AGE_DAYS                     | 574631     |          98.29%
Days:Policy-Claim_15 to 30          | 569211     |          97.36%
AgeOfPolicyHolder_26 to 30          | 569211     |          97.36%
incident_city_Northbend             | 583631     |          99.83%
auto_make_Nissan                    | 583631     |          99.83%
policy_state_IL                     | 583631     |          99.83%
REPORT_DELAY_DAYS                   | 574631     |          98.29%
insured_education_level_MD          | 583631     |          99.83%
policy_csl_500/1000                 | 583631     |          99.83%
incident_type_Multi-vehicle Collision | 583631     |          99.83%
INCIDENT_SEVERITY_Total Loss        | 574631     |          98.29%
DayOfWeek_Tuesday                   | 569211     |          97.36%
incident_severity_Major Damage      | 583631     |          99.83%
incident_state_VA                   | 583631     |          99.83%
BasePolicy_Liability                | 569211     |          97.36%
ChronicCond_Alzheimer_2             | 26420      |           4.52%
insured_hobbies_movies              | 583631     |          99.83%
IsDead                              | 26420      |           4.52%
incident_type_Single Vehicle Collision | 583631     |          99.83%
insured_relationship_wife           | 583631     |          99.83%
Month_Jan                           | 569211     |          97.36%
umbrella_limit_5000000              | 583631     |          99.83%
AgeOfVehicle_6 years                | 569211     |          97.36%
incident_city_Hillsdale             | 583631     |          99.83%
RISK_SEGMENTATION_L                 | 574631     |          98.29%
PastNumberOfClaims_2 to 4           | 569211     |          97.36%
WeekOfMonth_2                       | 569211     |          97.36%
PolicyType_Sport - Collision        | 569211     |          97.36%
AgeOfVehicle_more than 7            | 569211     |          97.36%
NoOfMonths_PartBCov_0               | 26420      |           4.52%
property_damage_?                   | 583631     |          99.83%
NumberOfSuppliments_none            | 569211     |          97.36%
incident_city_Columbus              | 583631     |          99.83%
AddressChange-Claim_no change       | 569211     |          97.36%
CUSTOMER_EDUCATION_LEVEL_Masters    | 574631     |          98.29%
NO_OF_FAMILY_MEMBERS_6              | 574631     |          98.29%
IsFraud                             | 0          |           0.00%
Days:Policy-Claim_more than 30      | 569211     |          97.36%
Incident_Hour                       | 573631     |          98.12%
number_of_vehicles_involved_2       | 583631     |          99.83%
policy_csl_250/500                  | 583631     |          99.83%
collision_type_Rear Collision       | 583631     |          99.83%
Days:Policy-Claim_none              | 569211     |          97.36%

In [22]:
# for i in df.columns:
#     print(i)
df_new=df

In [21]:
df.shape

(584631, 279)

In [23]:
# 1. Mask: 1 for observed, 0 for missing
mask = (~df.isna()).astype('float32')

# 2. Compute observed mean & std (ignore missing)
df_mean = df.sum() / mask.sum()
df_var = ((df - df_mean) ** 2 * mask).sum() / mask.sum()
df_std = np.sqrt(df_var + 1e-6)

# 3. Normalize (skip missing entries)
df_normalized = (df - df_mean) / df_std

# 4. Fill NaNs with 0 for model input
df_filled = df_normalized.fillna(0.0)

# 5. Convert to NumPy
data_np = df_filled.to_numpy().astype('float32')
mask_np = mask.to_numpy().astype('float32')

In [24]:
import numpy as np
import pandas as pd
from tensorflow.keras.layers import Input, Dense, Lambda, Layer
from tensorflow.keras.models import Model
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras import backend as K

# Custom layer for VAE loss
class VAELossLayer(Layer):
    def __init__(self, **kwargs):
        super(VAELossLayer, self).__init__(**kwargs)

    def vae_loss(self, x, x_decoded_mean, z_log_var, z_mean):
        reconstruction_loss = binary_crossentropy(x, x_decoded_mean)
        reconstruction_loss *= original_dim
        kl_loss = 1 + z_log_var - K.square(z_mean) - K.exp(z_log_var)
        kl_loss = K.sum(kl_loss, axis=-1)
        kl_loss *= -0.5
        return K.mean(reconstruction_loss + kl_loss)

    def call(self, inputs):
        x = inputs[0]
        x_decoded_mean = inputs[1]
        z_log_var = inputs[2]
        z_mean = inputs[3]

        loss = self.vae_loss(x, x_decoded_mean, z_log_var, z_mean)
        self.add_loss(loss)

        return x

class MaskedVAELoss(Layer):
    def call(self, inputs):
        x, x_decoded, z_mean, z_log_var, mask = inputs

        # Clip z_log_var to avoid exploding exp()
        z_log_var = K.clip(z_log_var, -10.0, 10.0)

        # Apply per-sample masking to reconstruction loss
        squared_diff = K.square(x - x_decoded)
        masked_squared_diff = mask * squared_diff

        recon_loss = K.sum(masked_squared_diff, axis=-1)
        recon_loss /= (K.sum(mask, axis=-1) + K.epsilon())  # avoid div by zero

        # KL divergence
        kl = -0.5 * K.sum(1 + z_log_var - K.square(z_mean) - K.exp(z_log_var), axis=-1)

        total_loss = K.mean(recon_loss + kl)
        self.add_loss(total_loss)

        return x  # return input, we only care about loss

In [25]:
from tensorflow.keras.layers import Input, Dense, Lambda
from tensorflow.keras.models import Model
original_dim = data_np.shape[1]
intermediate_dim = 64
latent_dim = 32

# Inputs
x_input = Input(shape=(original_dim,), name='input_data')
mask_input = Input(shape=(original_dim,), name='input_mask')  # <- New

# Encoder
h = Dense(intermediate_dim, activation='relu')(x_input)
z_mean = Dense(latent_dim)(h)
z_log_var = Dense(latent_dim)(h)

def sampling(args):
    mean, log_var = args
    epsilon = K.random_normal(shape=K.shape(mean))
    return mean + K.exp(0.5 * log_var) * epsilon

z = Lambda(sampling)([z_mean, z_log_var])

# Decoder
decoder_h = Dense(intermediate_dim, activation='relu')
decoder_out = Dense(original_dim, activation='linear')
h_dec = decoder_h(z)
x_decoded = decoder_out(h_dec)

# Masked loss layer
loss_layer = MaskedVAELoss()([x_input, x_decoded, z_mean, z_log_var, mask_input])

# Define model with 2 inputs
vae = Model(inputs=[x_input, mask_input], outputs=loss_layer)
from tensorflow.keras.optimizers import Adam
vae.compile(optimizer=Adam(learning_rate=1e-4))  # Slower but stable

In [26]:
import numpy as np

print("NaN in data:", np.isnan(data_np).sum())
print("Inf in data:", np.isinf(data_np).sum())

print("NaN in mask:", np.isnan(mask_np).sum())
print("Inf in mask:", np.isinf(mask_np).sum())

NaN in data: 0
Inf in data: 0
NaN in mask: 0
Inf in mask: 0

In [27]:
from tensorflow.keras.callbacks import TerminateOnNaN


vae.fit([data_np, mask_np], epochs=3, batch_size=32,callbacks=[TerminateOnNaN()],validation_split=0.1)

Epoch 1/3
16443/16443  57s 3ms/step - loss: 2.5112 - val_loss: 2.1613
Epoch 2/3
16443/16443  55s 3ms/step - loss: 0.9992 - val_loss: 2.1130
Epoch 3/3
16443/16443  56s 3ms/step - loss: 0.9880 - val_loss: 2.0932

In [28]:
# Step 1: Select the first 300 rows
df_subset = df_new.iloc[:300].copy()

# Step 2: Create missing value mask
missing_mask = df_subset.isnull()

# Step 3: Fill missing values with 0
data_filled = df_subset.fillna(0)

# Step 4: Convert to numpy arrays
data_filled_np = data_filled.to_numpy()
mask_np = (~missing_mask).astype(int).to_numpy()  # 1 if not missing, 0 if missing

# Step 5: Predict missing values using VAE
predicted_data = vae.predict([data_filled_np, mask_np])

# Step 6: Replace only missing values with predicted ones
imputed_array = np.where(missing_mask.to_numpy(), predicted_data, data_filled_np)

# Step 7: Denormalize imputed data
imputed_array = imputed_array * df_new.std().to_numpy() + df_new.mean().to_numpy()

10/10  0s 20ms/step

In [38]:
def print_null_counts(df):
    null_counts = df.isnull().sum()
    total_rows = len(df)

    print(f"Total rows: {total_rows}\n")
    print(f"{'Column Name':35} | {'Null Count':10} | {'Null Percentage':15}")
    print("-" * 65)

    for col, null_count in null_counts.items():
        null_pct = (null_count / total_rows) * 100
        print(f"{col:35} | {null_count:<10} | {null_pct:>14.2f}%")
def display(matching_rows):
    print("counting list of Uniquic all featurs")
    li=[]
    for i in matching_rows.columns:
        #print(str(i),' :',len(matching_rows[i].unique()),matching_rows[i].unique())
        print(str(i), ' :', matching_rows[i].nunique(),',',list(matching_rows[i].unique())[:2])
        li.append(matching_rows[i].nunique())
    #return li
        # if(matching_rows[i].nunique()<50):
        #     print(str(i),' :',matching_rows[i].unique())
def print_categorical_value_counts(df, max_unique_values=10):
    """
    Prints structured value counts for each categorical feature in the DataFrame.
    Detects both object-type columns and numeric columns with low unique values.

    Parameters:
    - df: pandas DataFrame
    - max_unique_values: maximum number of unique values to consider a numeric column categorical

    Returns:
    - None (output is printed)
    """
    import pandas as pd

    # Step 1: Identify object or category dtype columns
    cat_cols = list(df.select_dtypes(include=['object', 'category']).columns)

    # Step 2: Add numeric columns with few unique values (likely categorical)
    for col in df.select_dtypes(include=['int64', 'int32', 'float64']).columns:
        num_unique = df[col].nunique(dropna=False)  # Count unique values including NaNs
        if num_unique <= max_unique_values:
            cat_cols.append(col)

    # Step 3: Deduplicate list of categorical-like columns
    cat_cols = list(set(cat_cols))

    # Step 4: Print structured value counts for each column
    for col in cat_cols:
        print(f"Feature: '{col}'")
        print(f" - Data Type      : {df[col].dtype}")
        print(f" - Non-Null Count : {df[col].notna().sum()}")
        print(f" - Null Count     : {df[col].isna().sum()}")
        print(f" - Unique Values  : {df[col].nunique(dropna=False)}")
        print("\nValue Counts:")
        print(df[col].value_counts(dropna=False))
        print("----------")

    return None

In [ ]:
# # Impute missing values
# missing_mask = df_new.isnull()
# data_filled = df_new.fillna(0)
# # Convert to numpy array for prediction
# data_filled_np = data_filled.to_numpy()

# predicted_data = vae.predict([data_filled_np, mask_np]) # Pass both data and mask

# # Replace missing values in original data with imputed values
# imputed_data = df_new.where(~missing_mask, predicted_data)

# # Denormalize to original scale
# imputed_data = imputed_data * df_new.std() + df_new.mean()

In [37]:
# display(imputed_data)

In [ ]:
# print_null_counts(imputed_data)

In [ ]:
# print_categorical_value_counts(imputed_data)

In [31]:
# print_null_counts(imputed_data)

In [ ]:
imputed_df_subset = pd.DataFrame(imputed_array, columns=df_new.columns, index=df_new.index[:300])

In [40]:
print_null_counts(df_new.iloc[:300])

Total rows: 300

Column Name                         | Null Count | Null Percentage
-----------------------------------------------------------------
AgeOfVehicle_7 years                | 300        |         100.00%
NoOfMonths_PartACov_11              | 300        |         100.00%
NumberOfCars_3 to 4                 | 300        |         100.00%
RenalDiseaseIndicator               | 300        |         100.00%
Days:Policy-Accident_1 to 7         | 300        |         100.00%
PolicyType_Sedan - Collision        | 300        |         100.00%
umbrella_limit_0                    | 0          |           0.00%
SOCIAL_CLASS_MI                     | 300        |         100.00%
MaritalStatus_Single                | 300        |         100.00%
PastNumberOfClaims_more than 4      | 300        |         100.00%
NoOfMonths_PartACov_8               | 300        |         100.00%
AgeOfVehicle_new                    | 300        |         100.00%
ChronicCond_Osteoporasis_2          | 300        |         100.00%
witnesses_1                         | 0          |           0.00%
DriverRating_1                      | 300        |         100.00%
CITY_Nashville                      | 300        |         100.00%
number_of_vehicles_involved_1       | 0          |           0.00%
incident_state_SC                   | 0          |           0.00%
INCIDENT_CITY_Manchester            | 300        |         100.00%
CUSTOMER_EDUCATION_LEVEL_High School | 300        |         100.00%
VehiclePrice_20,000 to 29,000       | 300        |         100.00%
incident_city_Arlington             | 0          |           0.00%
STATE_AR                            | 300        |         100.00%
ChronicCond_ObstrPulmonary_2        | 300        |         100.00%
insured_hobbies_bungie-jumping      | 0          |           0.00%
AUTHORITY_CONTACTED_Police          | 300        |         100.00%
auto_model_MDX                      | 0          |           0.00%
authorities_contacted_Police        | 0          |           0.00%
DayOfWeekClaimed_Monday             | 300        |         100.00%
WeekOfMonth_5                       | 300        |         100.00%
INCIDENT_CITY_Glendale              | 300        |         100.00%
insured_education_level_JD          | 0          |           0.00%
insured_relationship_unmarried      | 0          |           0.00%
Police_Report                       | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_Bachelor   | 300        |         100.00%
MonthClaimed_Mar                    | 300        |         100.00%
insured_education_level_Associate   | 0          |           0.00%
IPAnnualReimbursementAmt            | 300        |         100.00%
CUSTOMER_EDUCATION_LEVEL_MD         | 300        |         100.00%
MonthClaimed_Jun                    | 300        |         100.00%
Month_Oct                           | 300        |         100.00%
VehiclePrice_more than 69,000       | 300        |         100.00%
witnesses_2                         | 0          |           0.00%
Gender                              | 0          |           0.00%
property_damage_YES                 | 0          |           0.00%
BasePolicy_Collision                | 300        |         100.00%
MaritalStatus_Divorced              | 300        |         100.00%
NumberOfSuppliments_3 to 5          | 300        |         100.00%
incident_severity_Trivial Damage    | 0          |           0.00%
Days:Policy-Accident_none           | 300        |         100.00%
number_of_vehicles_involved_3       | 0          |           0.00%
Days:Policy-Claim_8 to 15           | 300        |         100.00%
witnesses_3                         | 0          |           0.00%
insured_occupation_sales            | 0          |           0.00%
ChronicCond_stroke                  | 300        |         100.00%
collision_type_Front Collision      | 0          |           0.00%
NoOfMonths_PartBCov_6               | 300        |         100.00%
NumberOfCars_1 vehicle              | 300        |         100.00%
NumberOfCars_2 vehicles             | 300        |         100.00%
NO_OF_FAMILY_MEMBERS_7              | 300        |         100.00%
Days:Policy-Accident_8 to 15        | 300        |         100.00%
AddressChange-Claim_4 to 8 years    | 300        |         100.00%
INCIDENT_SEVERITY_Minor Loss        | 300        |         100.00%
INCIDENT_SEVERITY_Major Loss        | 300        |         100.00%
bodily_injuries_0                   | 0          |           0.00%
AgeOfPolicyHolder_36 to 40          | 300        |         100.00%
STATE_TN                            | 300        |         100.00%
MARITAL_STATUS_Y                    | 300        |         100.00%
RISK_SEGMENTATION_H                 | 300        |         100.00%
WitnessPresent_Yes                  | 300        |         100.00%
authorities_contacted_Ambulance     | 0          |           0.00%
incident_state_WV                   | 0          |           0.00%
SOCIAL_CLASS_LI                     | 300        |         100.00%
property_claim                      | 0          |           0.00%
INCIDENT_CITY_Montgomery            | 300        |         100.00%
capital-loss                        | 0          |           0.00%
NoOfMonths_PartBCov_10              | 300        |         100.00%
NoOfMonths_PartBCov_12              | 300        |         100.00%
HOUSE_TYPE_Own                      | 300        |         100.00%
NumberOfCars_5 to 8                 | 300        |         100.00%
ChronicCond_Diabetes_2              | 300        |         100.00%
ANY_INJURY                          | 300        |         100.00%
CITY_Manchester                     | 300        |         100.00%
Make_Chevrolet                      | 300        |         100.00%
bodily_injuries_2                   | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_5              | 300        |         100.00%
NoOfMonths_PartACov_0               | 300        |         100.00%
auto_make_Suburu                    | 0          |           0.00%
insured_occupation_machine-op-inspct | 0          |           0.00%
MonthClaimed_Oct                    | 300        |         100.00%
bodily_injuries_1                   | 0          |           0.00%
auto_make_Saab                      | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_College    | 300        |         100.00%
ChronicCond_Heartfailure_2          | 300        |         100.00%
WeekOfMonth_4                       | 300        |         100.00%
DayOfWeek_Friday                    | 300        |         100.00%
auto_year                           | 0          |           0.00%
HOUSE_TYPE_Rent                     | 300        |         100.00%
CITY_Montgomery                     | 300        |         100.00%
incident_state_NY                   | 0          |           0.00%
Make_Mazda                          | 300        |         100.00%
ChronicCond_Cancer_2                | 300        |         100.00%
Days:Policy-Accident_more than 30   | 300        |         100.00%
auto_make_Chevrolet                 | 0          |           0.00%
auto_model_A3                       | 0          |           0.00%
AUTHORITY_CONTACTED_Ambulance       | 300        |         100.00%
DayOfWeekClaimed_Tuesday            | 300        |         100.00%
NO_OF_FAMILY_MEMBERS_2              | 300        |         100.00%
Premium                             | 0          |           0.00%
AgeOfVehicle_5 years                | 300        |         100.00%
STATE_CO                            | 300        |         100.00%
WeekOfMonth_1                       | 300        |         100.00%
number_of_vehicles_involved_4       | 0          |           0.00%
witnesses_0                         | 0          |           0.00%
vehicle_claim                       | 0          |           0.00%
INSURANCE_TYPE_Mobile               | 300        |         100.00%
EMPLOYMENT_STATUS_Y                 | 300        |         100.00%
NO_OF_FAMILY_MEMBERS_4              | 300        |         100.00%
RISK_SEGMENTATION_M                 | 300        |         100.00%
policy_state_OH                     | 0          |           0.00%
insured_relationship_other-relative | 0          |           0.00%
incident_severity_Total Loss        | 0          |           0.00%
VehiclePrice_30,000 to 39,000       | 300        |         100.00%
insured_education_level_High School | 0          |           0.00%
PastNumberOfClaims_none             | 300        |         100.00%
insured_relationship_not-in-family  | 0          |           0.00%
insured_relationship_own-child      | 0          |           0.00%
insured_education_level_Masters     | 0          |           0.00%
collision_type_Side Collision       | 0          |           0.00%
insured_occupation_exec-managerial  | 0          |           0.00%
INSURANCE_TYPE_Property             | 300        |         100.00%
OPAnnualDeductibleAmt               | 300        |         100.00%
Month_Mar                           | 300        |         100.00%
insured_relationship_husband        | 0          |           0.00%
MonthClaimed_Jan                    | 300        |         100.00%
Claim_Amount                        | 0          |           0.00%
INCIDENT_CITY_Arvada                | 300        |         100.00%
NoOfMonths_PartBCov_11              | 300        |         100.00%
OPAnnualReimbursementAmt            | 300        |         100.00%
STATE_CA                            | 300        |         100.00%
PastNumberOfClaims_1                | 300        |         100.00%
LOSS_TO_TXN_DELAY                   | 300        |         100.00%
umbrella_limit_7000000              | 0          |           0.00%
DayOfWeekClaimed_Thursday           | 300        |         100.00%
Days:Policy-Accident_15 to 30       | 300        |         100.00%
ClaimDuration                       | 300        |         100.00%
NumberOfCars_more than 8            | 300        |         100.00%
Make_Toyota                         | 300        |         100.00%
DayOfWeek_Thursday                  | 300        |         100.00%
CITY_Fayetteville                   | 300        |         100.00%
IPAnnualDeductibleAmt               | 300        |         100.00%
DriverRating_4                      | 300        |         100.00%
DayOfWeek_Monday                    | 300        |         100.00%
incident_city_Springfield           | 0          |           0.00%
ChronicCond_KidneyDisease_2         | 300        |         100.00%
MaritalStatus_Widow                 | 300        |         100.00%
VehiclePrice_40,000 to 59,000       | 300        |         100.00%
NumberOfSuppliments_1 to 2          | 300        |         100.00%
ChronicCond_Depression_2            | 300        |         100.00%
Make_Honda                          | 300        |         100.00%
incident_city_Northbrook            | 0          |           0.00%
INCIDENT_CITY_Washington            | 300        |         100.00%
Fault_Third Party                   | 300        |         100.00%
property_damage_NO                  | 0          |           0.00%
DayOfWeekClaimed_Wednesday          | 300        |         100.00%
VehicleCategory_Sport               | 300        |         100.00%
MaritalStatus_Married               | 300        |         100.00%
HOUSE_TYPE_Mortgage                 | 300        |         100.00%
policy_deductable_500               | 0          |           0.00%
incident_state_NC                   | 0          |           0.00%
SOCIAL_CLASS_HI                     | 300        |         100.00%
policy_csl_100/300                  | 0          |           0.00%
insured_occupation_prof-specialty   | 0          |           0.00%
Deductible                          | 300        |         100.00%
Month_May                           | 300        |         100.00%
insured_education_level_PhD         | 0          |           0.00%
insured_education_level_College     | 0          |           0.00%
MonthClaimed_May                    | 300        |         100.00%
policy_deductable_1000              | 0          |           0.00%
INSURANCE_TYPE_Health               | 300        |         100.00%
AgeOfPolicyHolder_51 to 65          | 300        |         100.00%
PolicyType_Sedan - Liability        | 300        |         100.00%
IsInpatient                         | 300        |         100.00%
AgeOfPolicyHolder_31 to 35          | 300        |         100.00%
Make_Pontiac                        | 300        |         100.00%
injury_claim                        | 0          |           0.00%
insured_hobbies_exercise            | 0          |           0.00%
INSURANCE_TYPE_Travel               | 300        |         100.00%
DayOfWeekClaimed_Friday             | 300        |         100.00%
auto_model_Neon                     | 0          |           0.00%
VehicleCategory_Sedan               | 300        |         100.00%
VehicleCategory_Utility             | 300        |         100.00%
VehiclePrice_less than 20,000       | 300        |         100.00%
AddressChange-Claim_under 6 months  | 300        |         100.00%
INSURANCE_TYPE_Motor                | 300        |         100.00%
auto_make_Dodge                     | 0          |           0.00%
DayOfWeek_Wednesday                 | 300        |         100.00%
policy_deductable_2000              | 0          |           0.00%
insured_occupation_tech-support     | 0          |           0.00%
AddressChange-Claim_1 year          | 300        |         100.00%
capital-gains                       | 0          |           0.00%
NumberOfSuppliments_more than 5     | 300        |         100.00%
ChronicCond_rheumatoidarthritis_2   | 300        |         100.00%
Tenure                              | 0          |           0.00%
incident_city_Riverwood             | 0          |           0.00%
umbrella_limit_6000000              | 0          |           0.00%
AddressChange-Claim_2 to 3 years    | 300        |         100.00%
PolicyType_Sedan - All Perils       | 300        |         100.00%
DriverRating_3                      | 300        |         100.00%
INSURANCE_TYPE_Life                 | 300        |         100.00%
NoOfMonths_PartACov_12              | 300        |         100.00%
DriverRating_2                      | 300        |         100.00%
policy_state_IN                     | 0          |           0.00%
STATE_FL                            | 300        |         100.00%
incident_type_Vehicle Theft         | 0          |           0.00%
insured_hobbies_paintball           | 0          |           0.00%
CITY_Washington                     | 300        |         100.00%
NoOfMonths_PartACov_6               | 300        |         100.00%
AgeOfPolicyHolder_41 to 50          | 300        |         100.00%
Month_Jun                           | 300        |         100.00%
PolicyType_Utility - All Perils     | 300        |         100.00%
insured_hobbies_reading             | 0          |           0.00%
WeekOfMonthClaimed                  | 300        |         100.00%
BasePolicy_All Perils               | 300        |         100.00%
umbrella_limit_4000000              | 0          |           0.00%
WeekOfMonth_3                       | 300        |         100.00%
incident_type_Parked Car            | 0          |           0.00%
AgentType_Internal                  | 300        |         100.00%
AccidentArea_Urban                  | 300        |         100.00%
Age                                 | 0          |           0.00%
incident_severity_Minor Damage      | 0          |           0.00%
InscClaimAmtReimbursed              | 300        |         100.00%
authorities_contacted_Fire          | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_3              | 300        |         100.00%
auto_model_Wrangler                 | 0          |           0.00%
auto_model_RAM                      | 0          |           0.00%
POLICY_AGE_DAYS                     | 300        |         100.00%
Days:Policy-Claim_15 to 30          | 300        |         100.00%
AgeOfPolicyHolder_26 to 30          | 300        |         100.00%
incident_city_Northbend             | 0          |           0.00%
auto_make_Nissan                    | 0          |           0.00%
policy_state_IL                     | 0          |           0.00%
REPORT_DELAY_DAYS                   | 300        |         100.00%
insured_education_level_MD          | 0          |           0.00%
policy_csl_500/1000                 | 0          |           0.00%
incident_type_Multi-vehicle Collision | 0          |           0.00%
INCIDENT_SEVERITY_Total Loss        | 300        |         100.00%
DayOfWeek_Tuesday                   | 300        |         100.00%
incident_severity_Major Damage      | 0          |           0.00%
incident_state_VA                   | 0          |           0.00%
BasePolicy_Liability                | 300        |         100.00%
ChronicCond_Alzheimer_2             | 300        |         100.00%
insured_hobbies_movies              | 0          |           0.00%
IsDead                              | 300        |         100.00%
incident_type_Single Vehicle Collision | 0          |           0.00%
insured_relationship_wife           | 0          |           0.00%
Month_Jan                           | 300        |         100.00%
umbrella_limit_5000000              | 0          |           0.00%
AgeOfVehicle_6 years                | 300        |         100.00%
incident_city_Hillsdale             | 0          |           0.00%
RISK_SEGMENTATION_L                 | 300        |         100.00%
PastNumberOfClaims_2 to 4           | 300        |         100.00%
WeekOfMonth_2                       | 300        |         100.00%
PolicyType_Sport - Collision        | 300        |         100.00%
AgeOfVehicle_more than 7            | 300        |         100.00%
NoOfMonths_PartBCov_0               | 300        |         100.00%
property_damage_?                   | 0          |           0.00%
NumberOfSuppliments_none            | 300        |         100.00%
incident_city_Columbus              | 0          |           0.00%
AddressChange-Claim_no change       | 300        |         100.00%
CUSTOMER_EDUCATION_LEVEL_Masters    | 300        |         100.00%
NO_OF_FAMILY_MEMBERS_6              | 300        |         100.00%
IsFraud                             | 0          |           0.00%
Days:Policy-Claim_more than 30      | 300        |         100.00%
Incident_Hour                       | 0          |           0.00%
number_of_vehicles_involved_2       | 0          |           0.00%
policy_csl_250/500                  | 0          |           0.00%
collision_type_Rear Collision       | 0          |           0.00%
Days:Policy-Claim_none              | 300        |         100.00%

In [42]:
print_null_counts(imputed_df_subset)

Total rows: 300

Column Name                         | Null Count | Null Percentage
-----------------------------------------------------------------
AgeOfVehicle_7 years                | 0          |           0.00%
NoOfMonths_PartACov_11              | 0          |           0.00%
NumberOfCars_3 to 4                 | 0          |           0.00%
RenalDiseaseIndicator               | 0          |           0.00%
Days:Policy-Accident_1 to 7         | 0          |           0.00%
PolicyType_Sedan - Collision        | 0          |           0.00%
umbrella_limit_0                    | 0          |           0.00%
SOCIAL_CLASS_MI                     | 0          |           0.00%
MaritalStatus_Single                | 0          |           0.00%
PastNumberOfClaims_more than 4      | 0          |           0.00%
NoOfMonths_PartACov_8               | 0          |           0.00%
AgeOfVehicle_new                    | 0          |           0.00%
ChronicCond_Osteoporasis_2          | 0          |           0.00%
witnesses_1                         | 0          |           0.00%
DriverRating_1                      | 0          |           0.00%
CITY_Nashville                      | 0          |           0.00%
number_of_vehicles_involved_1       | 0          |           0.00%
incident_state_SC                   | 0          |           0.00%
INCIDENT_CITY_Manchester            | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_High School | 0          |           0.00%
VehiclePrice_20,000 to 29,000       | 0          |           0.00%
incident_city_Arlington             | 0          |           0.00%
STATE_AR                            | 0          |           0.00%
ChronicCond_ObstrPulmonary_2        | 0          |           0.00%
insured_hobbies_bungie-jumping      | 0          |           0.00%
AUTHORITY_CONTACTED_Police          | 0          |           0.00%
auto_model_MDX                      | 0          |           0.00%
authorities_contacted_Police        | 0          |           0.00%
DayOfWeekClaimed_Monday             | 0          |           0.00%
WeekOfMonth_5                       | 0          |           0.00%
INCIDENT_CITY_Glendale              | 0          |           0.00%
insured_education_level_JD          | 0          |           0.00%
insured_relationship_unmarried      | 0          |           0.00%
Police_Report                       | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_Bachelor   | 0          |           0.00%
MonthClaimed_Mar                    | 0          |           0.00%
insured_education_level_Associate   | 0          |           0.00%
IPAnnualReimbursementAmt            | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_MD         | 0          |           0.00%
MonthClaimed_Jun                    | 0          |           0.00%
Month_Oct                           | 0          |           0.00%
VehiclePrice_more than 69,000       | 0          |           0.00%
witnesses_2                         | 0          |           0.00%
Gender                              | 0          |           0.00%
property_damage_YES                 | 0          |           0.00%
BasePolicy_Collision                | 0          |           0.00%
MaritalStatus_Divorced              | 0          |           0.00%
NumberOfSuppliments_3 to 5          | 0          |           0.00%
incident_severity_Trivial Damage    | 0          |           0.00%
Days:Policy-Accident_none           | 0          |           0.00%
number_of_vehicles_involved_3       | 0          |           0.00%
Days:Policy-Claim_8 to 15           | 0          |           0.00%
witnesses_3                         | 0          |           0.00%
insured_occupation_sales            | 0          |           0.00%
ChronicCond_stroke                  | 0          |           0.00%
collision_type_Front Collision      | 0          |           0.00%
NoOfMonths_PartBCov_6               | 0          |           0.00%
NumberOfCars_1 vehicle              | 0          |           0.00%
NumberOfCars_2 vehicles             | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_7              | 0          |           0.00%
Days:Policy-Accident_8 to 15        | 0          |           0.00%
AddressChange-Claim_4 to 8 years    | 0          |           0.00%
INCIDENT_SEVERITY_Minor Loss        | 0          |           0.00%
INCIDENT_SEVERITY_Major Loss        | 0          |           0.00%
bodily_injuries_0                   | 0          |           0.00%
AgeOfPolicyHolder_36 to 40          | 0          |           0.00%
STATE_TN                            | 0          |           0.00%
MARITAL_STATUS_Y                    | 0          |           0.00%
RISK_SEGMENTATION_H                 | 0          |           0.00%
WitnessPresent_Yes                  | 0          |           0.00%
authorities_contacted_Ambulance     | 0          |           0.00%
incident_state_WV                   | 0          |           0.00%
SOCIAL_CLASS_LI                     | 0          |           0.00%
property_claim                      | 0          |           0.00%
INCIDENT_CITY_Montgomery            | 0          |           0.00%
capital-loss                        | 0          |           0.00%
NoOfMonths_PartBCov_10              | 0          |           0.00%
NoOfMonths_PartBCov_12              | 0          |           0.00%
HOUSE_TYPE_Own                      | 0          |           0.00%
NumberOfCars_5 to 8                 | 0          |           0.00%
ChronicCond_Diabetes_2              | 0          |           0.00%
ANY_INJURY                          | 0          |           0.00%
CITY_Manchester                     | 0          |           0.00%
Make_Chevrolet                      | 0          |           0.00%
bodily_injuries_2                   | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_5              | 0          |           0.00%
NoOfMonths_PartACov_0               | 0          |           0.00%
auto_make_Suburu                    | 0          |           0.00%
insured_occupation_machine-op-inspct | 0          |           0.00%
MonthClaimed_Oct                    | 0          |           0.00%
bodily_injuries_1                   | 0          |           0.00%
auto_make_Saab                      | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_College    | 0          |           0.00%
ChronicCond_Heartfailure_2          | 0          |           0.00%
WeekOfMonth_4                       | 0          |           0.00%
DayOfWeek_Friday                    | 0          |           0.00%
auto_year                           | 0          |           0.00%
HOUSE_TYPE_Rent                     | 0          |           0.00%
CITY_Montgomery                     | 0          |           0.00%
incident_state_NY                   | 0          |           0.00%
Make_Mazda                          | 0          |           0.00%
ChronicCond_Cancer_2                | 0          |           0.00%
Days:Policy-Accident_more than 30   | 0          |           0.00%
auto_make_Chevrolet                 | 0          |           0.00%
auto_model_A3                       | 0          |           0.00%
AUTHORITY_CONTACTED_Ambulance       | 0          |           0.00%
DayOfWeekClaimed_Tuesday            | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_2              | 0          |           0.00%
Premium                             | 0          |           0.00%
AgeOfVehicle_5 years                | 0          |           0.00%
STATE_CO                            | 0          |           0.00%
WeekOfMonth_1                       | 0          |           0.00%
number_of_vehicles_involved_4       | 0          |           0.00%
witnesses_0                         | 0          |           0.00%
vehicle_claim                       | 0          |           0.00%
INSURANCE_TYPE_Mobile               | 0          |           0.00%
EMPLOYMENT_STATUS_Y                 | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_4              | 0          |           0.00%
RISK_SEGMENTATION_M                 | 0          |           0.00%
policy_state_OH                     | 0          |           0.00%
insured_relationship_other-relative | 0          |           0.00%
incident_severity_Total Loss        | 0          |           0.00%
VehiclePrice_30,000 to 39,000       | 0          |           0.00%
insured_education_level_High School | 0          |           0.00%
PastNumberOfClaims_none             | 0          |           0.00%
insured_relationship_not-in-family  | 0          |           0.00%
insured_relationship_own-child      | 0          |           0.00%
insured_education_level_Masters     | 0          |           0.00%
collision_type_Side Collision       | 0          |           0.00%
insured_occupation_exec-managerial  | 0          |           0.00%
INSURANCE_TYPE_Property             | 0          |           0.00%
OPAnnualDeductibleAmt               | 0          |           0.00%
Month_Mar                           | 0          |           0.00%
insured_relationship_husband        | 0          |           0.00%
MonthClaimed_Jan                    | 0          |           0.00%
Claim_Amount                        | 0          |           0.00%
INCIDENT_CITY_Arvada                | 0          |           0.00%
NoOfMonths_PartBCov_11              | 0          |           0.00%
OPAnnualReimbursementAmt            | 0          |           0.00%
STATE_CA                            | 0          |           0.00%
PastNumberOfClaims_1                | 0          |           0.00%
LOSS_TO_TXN_DELAY                   | 0          |           0.00%
umbrella_limit_7000000              | 0          |           0.00%
DayOfWeekClaimed_Thursday           | 0          |           0.00%
Days:Policy-Accident_15 to 30       | 0          |           0.00%
ClaimDuration                       | 0          |           0.00%
NumberOfCars_more than 8            | 0          |           0.00%
Make_Toyota                         | 0          |           0.00%
DayOfWeek_Thursday                  | 0          |           0.00%
CITY_Fayetteville                   | 0          |           0.00%
IPAnnualDeductibleAmt               | 0          |           0.00%
DriverRating_4                      | 0          |           0.00%
DayOfWeek_Monday                    | 0          |           0.00%
incident_city_Springfield           | 0          |           0.00%
ChronicCond_KidneyDisease_2         | 0          |           0.00%
MaritalStatus_Widow                 | 0          |           0.00%
VehiclePrice_40,000 to 59,000       | 0          |           0.00%
NumberOfSuppliments_1 to 2          | 0          |           0.00%
ChronicCond_Depression_2            | 0          |           0.00%
Make_Honda                          | 0          |           0.00%
incident_city_Northbrook            | 0          |           0.00%
INCIDENT_CITY_Washington            | 0          |           0.00%
Fault_Third Party                   | 0          |           0.00%
property_damage_NO                  | 0          |           0.00%
DayOfWeekClaimed_Wednesday          | 0          |           0.00%
VehicleCategory_Sport               | 0          |           0.00%
MaritalStatus_Married               | 0          |           0.00%
HOUSE_TYPE_Mortgage                 | 0          |           0.00%
policy_deductable_500               | 0          |           0.00%
incident_state_NC                   | 0          |           0.00%
SOCIAL_CLASS_HI                     | 0          |           0.00%
policy_csl_100/300                  | 0          |           0.00%
insured_occupation_prof-specialty   | 0          |           0.00%
Deductible                          | 0          |           0.00%
Month_May                           | 0          |           0.00%
insured_education_level_PhD         | 0          |           0.00%
insured_education_level_College     | 0          |           0.00%
MonthClaimed_May                    | 0          |           0.00%
policy_deductable_1000              | 0          |           0.00%
INSURANCE_TYPE_Health               | 0          |           0.00%
AgeOfPolicyHolder_51 to 65          | 0          |           0.00%
PolicyType_Sedan - Liability        | 0          |           0.00%
IsInpatient                         | 0          |           0.00%
AgeOfPolicyHolder_31 to 35          | 0          |           0.00%
Make_Pontiac                        | 0          |           0.00%
injury_claim                        | 0          |           0.00%
insured_hobbies_exercise            | 0          |           0.00%
INSURANCE_TYPE_Travel               | 0          |           0.00%
DayOfWeekClaimed_Friday             | 0          |           0.00%
auto_model_Neon                     | 0          |           0.00%
VehicleCategory_Sedan               | 0          |           0.00%
VehicleCategory_Utility             | 0          |           0.00%
VehiclePrice_less than 20,000       | 0          |           0.00%
AddressChange-Claim_under 6 months  | 0          |           0.00%
INSURANCE_TYPE_Motor                | 0          |           0.00%
auto_make_Dodge                     | 0          |           0.00%
DayOfWeek_Wednesday                 | 0          |           0.00%
policy_deductable_2000              | 0          |           0.00%
insured_occupation_tech-support     | 0          |           0.00%
AddressChange-Claim_1 year          | 0          |           0.00%
capital-gains                       | 0          |           0.00%
NumberOfSuppliments_more than 5     | 0          |           0.00%
ChronicCond_rheumatoidarthritis_2   | 0          |           0.00%
Tenure                              | 0          |           0.00%
incident_city_Riverwood             | 0          |           0.00%
umbrella_limit_6000000              | 0          |           0.00%
AddressChange-Claim_2 to 3 years    | 0          |           0.00%
PolicyType_Sedan - All Perils       | 0          |           0.00%
DriverRating_3                      | 0          |           0.00%
INSURANCE_TYPE_Life                 | 0          |           0.00%
NoOfMonths_PartACov_12              | 0          |           0.00%
DriverRating_2                      | 0          |           0.00%
policy_state_IN                     | 0          |           0.00%
STATE_FL                            | 0          |           0.00%
incident_type_Vehicle Theft         | 0          |           0.00%
insured_hobbies_paintball           | 0          |           0.00%
CITY_Washington                     | 0          |           0.00%
NoOfMonths_PartACov_6               | 0          |           0.00%
AgeOfPolicyHolder_41 to 50          | 0          |           0.00%
Month_Jun                           | 0          |           0.00%
PolicyType_Utility - All Perils     | 0          |           0.00%
insured_hobbies_reading             | 0          |           0.00%
WeekOfMonthClaimed                  | 0          |           0.00%
BasePolicy_All Perils               | 0          |           0.00%
umbrella_limit_4000000              | 0          |           0.00%
WeekOfMonth_3                       | 0          |           0.00%
incident_type_Parked Car            | 0          |           0.00%
AgentType_Internal                  | 0          |           0.00%
AccidentArea_Urban                  | 0          |           0.00%
Age                                 | 0          |           0.00%
incident_severity_Minor Damage      | 0          |           0.00%
InscClaimAmtReimbursed              | 0          |           0.00%
authorities_contacted_Fire          | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_3              | 0          |           0.00%
auto_model_Wrangler                 | 0          |           0.00%
auto_model_RAM                      | 0          |           0.00%
POLICY_AGE_DAYS                     | 0          |           0.00%
Days:Policy-Claim_15 to 30          | 0          |           0.00%
AgeOfPolicyHolder_26 to 30          | 0          |           0.00%
incident_city_Northbend             | 0          |           0.00%
auto_make_Nissan                    | 0          |           0.00%
policy_state_IL                     | 0          |           0.00%
REPORT_DELAY_DAYS                   | 0          |           0.00%
insured_education_level_MD          | 0          |           0.00%
policy_csl_500/1000                 | 0          |           0.00%
incident_type_Multi-vehicle Collision | 0          |           0.00%
INCIDENT_SEVERITY_Total Loss        | 0          |           0.00%
DayOfWeek_Tuesday                   | 0          |           0.00%
incident_severity_Major Damage      | 0          |           0.00%
incident_state_VA                   | 0          |           0.00%
BasePolicy_Liability                | 0          |           0.00%
ChronicCond_Alzheimer_2             | 0          |           0.00%
insured_hobbies_movies              | 0          |           0.00%
IsDead                              | 0          |           0.00%
incident_type_Single Vehicle Collision | 0          |           0.00%
insured_relationship_wife           | 0          |           0.00%
Month_Jan                           | 0          |           0.00%
umbrella_limit_5000000              | 0          |           0.00%
AgeOfVehicle_6 years                | 0          |           0.00%
incident_city_Hillsdale             | 0          |           0.00%
RISK_SEGMENTATION_L                 | 0          |           0.00%
PastNumberOfClaims_2 to 4           | 0          |           0.00%
WeekOfMonth_2                       | 0          |           0.00%
PolicyType_Sport - Collision        | 0          |           0.00%
AgeOfVehicle_more than 7            | 0          |           0.00%
NoOfMonths_PartBCov_0               | 0          |           0.00%
property_damage_?                   | 0          |           0.00%
NumberOfSuppliments_none            | 0          |           0.00%
incident_city_Columbus              | 0          |           0.00%
AddressChange-Claim_no change       | 0          |           0.00%
CUSTOMER_EDUCATION_LEVEL_Masters    | 0          |           0.00%
NO_OF_FAMILY_MEMBERS_6              | 0          |           0.00%
IsFraud                             | 0          |           0.00%
Days:Policy-Claim_more than 30      | 0          |           0.00%
Incident_Hour                       | 0          |           0.00%
number_of_vehicles_involved_2       | 0          |           0.00%
policy_csl_250/500                  | 0          |           0.00%
collision_type_Rear Collision       | 0          |           0.00%
Days:Policy-Claim_none              | 0          |           0.00%

In [43]:
print_categorical_value_counts(imputed_df_subset)

Feature: 'Fault_Third Party'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Fault_Third Party
0.271725    300
Name: count, dtype: int64
----------
Feature: 'VehicleCategory_Sport'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
VehicleCategory_Sport
0.347471    300
Name: count, dtype: int64
----------
Feature: 'HOUSE_TYPE_Mortgage'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
HOUSE_TYPE_Mortgage
0.3652    300
Name: count, dtype: int64
----------
Feature: 'BasePolicy_Collision'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
BasePolicy_Collision
0.386641    300
Name: count, dtype: int64
----------
Feature: 'BasePolicy_All Perils'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
BasePolicy_All Perils
0.288521    300
Name: count, dtype: int64
----------
Feature: 'Month_Jan'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Month_Jan
0.091505    300
Name: count, dtype: int64
----------
Feature: 'NoOfMonths_PartACov_6'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NoOfMonths_PartACov_6
0.000208    300
Name: count, dtype: int64
----------
Feature: 'AgeOfVehicle_7 years'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
AgeOfVehicle_7 years
0.376589    300
Name: count, dtype: int64
----------
Feature: 'NO_OF_FAMILY_MEMBERS_3'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NO_OF_FAMILY_MEMBERS_3
0.1683    300
Name: count, dtype: int64
----------
Feature: 'insured_hobbies_movies'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
insured_hobbies_movies
0.055000    285
0.283094     15
Name: count, dtype: int64
----------
Feature: 'Days:Policy-Accident_more than 30'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Days:Policy-Accident_more than 30
0.988781    300
Name: count, dtype: int64
----------
Feature: 'INSURANCE_TYPE_Mobile'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
INSURANCE_TYPE_Mobile
0.1692    300
Name: count, dtype: int64
----------
Feature: 'DriverRating_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DriverRating_2
0.246498    300
Name: count, dtype: int64
----------
Feature: 'AddressChange-Claim_1 year'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
AddressChange-Claim_1 year
0.011025    300
Name: count, dtype: int64
----------
Feature: 'INSURANCE_TYPE_Property'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
INSURANCE_TYPE_Property
0.1692    300
Name: count, dtype: int64
----------
Feature: 'auto_model_RAM'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
auto_model_RAM
0.043000    287
0.245959     13
Name: count, dtype: int64
----------
Feature: 'incident_type_Single Vehicle Collision'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
incident_type_Single Vehicle Collision
0.403000    193
0.893746    107
Name: count, dtype: int64
----------
Feature: 'insured_hobbies_exercise'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
insured_hobbies_exercise
0.057000    282
0.288959     18
Name: count, dtype: int64
----------
Feature: 'Gender'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
Gender
0.585727    164
1.078324    136
Name: count, dtype: int64
----------
Feature: 'insured_hobbies_bungie-jumping'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
insured_hobbies_bungie-jumping
0.056000    281
0.286037     19
Name: count, dtype: int64
----------
Feature: 'Days:Policy-Claim_8 to 15'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Days:Policy-Claim_8 to 15
0.001362    300
Name: count, dtype: int64
----------
Feature: 'MonthClaimed_Mar'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
MonthClaimed_Mar
0.087419    300
Name: count, dtype: int64
----------
Feature: 'AgeOfVehicle_5 years'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
AgeOfVehicle_5 years
0.088003    300
Name: count, dtype: int64
----------
Feature: 'authorities_contacted_Ambulance'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
authorities_contacted_Ambulance
0.196000    246
0.593167     54
Name: count, dtype: int64
----------
Feature: 'authorities_contacted_Police'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
authorities_contacted_Police
0.383000    176
0.869362    124
Name: count, dtype: int64
----------
Feature: 'INCIDENT_CITY_Montgomery'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
INCIDENT_CITY_Montgomery
0.0584    300
Name: count, dtype: int64
----------
Feature: 'incident_severity_Total Loss'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
incident_severity_Total Loss
0.280000    223
0.729224     77
Name: count, dtype: int64
----------
Feature: 'bodily_injuries_0'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
bodily_injuries_0
0.340000    203
0.813946     97
Name: count, dtype: int64
----------
Feature: 'ChronicCond_Depression_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ChronicCond_Depression_2
0.565193    300
Name: count, dtype: int64
----------
Feature: 'policy_deductable_2000'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
policy_deductable_2000
0.30700    193
0.76848    107
Name: count, dtype: int64
----------
Feature: 'incident_state_NC'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
incident_state_NC
0.110000    268
0.423046     32
Name: count, dtype: int64
----------
Feature: 'PastNumberOfClaims_none'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
PastNumberOfClaims_none
0.282231    300
Name: count, dtype: int64
----------
Feature: 'DayOfWeek_Tuesday'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DayOfWeek_Tuesday
0.149157    300
Name: count, dtype: int64
----------
Feature: 'insured_relationship_husband'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
insured_relationship_husband
0.170000    255
0.545821     45
Name: count, dtype: int64
----------
Feature: 'DayOfWeekClaimed_Wednesday'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DayOfWeekClaimed_Wednesday
0.191375    300
Name: count, dtype: int64
----------
Feature: 'PastNumberOfClaims_2 to 4'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
PastNumberOfClaims_2 to 4
0.355707    300
Name: count, dtype: int64
----------
Feature: 'insured_occupation_prof-specialty'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
insured_occupation_prof-specialty
0.085000    273
0.364021     27
Name: count, dtype: int64
----------
Feature: 'WeekOfMonth_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
WeekOfMonth_2
0.230739    300
Name: count, dtype: int64
----------
Feature: 'ChronicCond_ObstrPulmonary_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ChronicCond_ObstrPulmonary_2
0.68707    300
Name: count, dtype: int64
----------
Feature: 'CITY_Manchester'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
CITY_Manchester
0.0576    300
Name: count, dtype: int64
----------
Feature: 'PastNumberOfClaims_more than 4'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
PastNumberOfClaims_more than 4
0.13035    300
Name: count, dtype: int64
----------
Feature: 'NumberOfCars_1 vehicle'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NumberOfCars_1 vehicle
0.928405    300
Name: count, dtype: int64
----------
Feature: 'Police_Report'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
Police_Report
0.290310    207
0.744225     93
Name: count, dtype: int64
----------
Feature: 'AddressChange-Claim_no change'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
AddressChange-Claim_no change
0.928923    300
Name: count, dtype: int64
----------
Feature: 'DayOfWeek_Friday'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DayOfWeek_Friday
0.15856    300
Name: count, dtype: int64
----------
Feature: 'DayOfWeek_Monday'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DayOfWeek_Monday
0.16965    300
Name: count, dtype: int64
----------
Feature: 'IsInpatient'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
IsInpatient
0.072507    300
Name: count, dtype: int64
----------
Feature: 'REPORT_DELAY_DAYS'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
REPORT_DELAY_DAYS
3.2118    300
Name: count, dtype: int64
----------
Feature: 'Deductible'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Deductible
87.272088    300
Name: count, dtype: int64
----------
Feature: 'NO_OF_FAMILY_MEMBERS_5'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NO_OF_FAMILY_MEMBERS_5
0.1647    300
Name: count, dtype: int64
----------
Feature: 'AUTHORITY_CONTACTED_Police'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
AUTHORITY_CONTACTED_Police
0.2982    300
Name: count, dtype: int64
----------
Feature: 'NO_OF_FAMILY_MEMBERS_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NO_OF_FAMILY_MEMBERS_2
0.169    300
Name: count, dtype: int64
----------
Feature: 'ChronicCond_KidneyDisease_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ChronicCond_KidneyDisease_2
0.587998    300
Name: count, dtype: int64
----------
Feature: 'STATE_FL'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
STATE_FL
0.065    300
Name: count, dtype: int64
----------
Feature: 'MaritalStatus_Single'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
MaritalStatus_Single
0.303761    300
Name: count, dtype: int64
----------
Feature: 'NoOfMonths_PartACov_8'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NoOfMonths_PartACov_8
0.000179    300
Name: count, dtype: int64
----------
Feature: 'auto_model_A3'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
auto_model_A3
0.037000    285
0.225856     15
Name: count, dtype: int64
----------
Feature: 'RISK_SEGMENTATION_H'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
RISK_SEGMENTATION_H
0.1455    300
Name: count, dtype: int64
----------
Feature: 'incident_city_Springfield'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
incident_city_Springfield
0.157000    250
0.520983     50
Name: count, dtype: int64
----------
Feature: 'RISK_SEGMENTATION_M'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
RISK_SEGMENTATION_M
0.415    300
Name: count, dtype: int64
----------
Feature: 'MonthClaimed_Jun'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
MonthClaimed_Jun
0.083852    300
Name: count, dtype: int64
----------
Feature: 'MonthClaimed_Jan'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
MonthClaimed_Jan
0.093774    300
Name: count, dtype: int64
----------
Feature: 'Days:Policy-Claim_15 to 30'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Days:Policy-Claim_15 to 30
0.003632    300
Name: count, dtype: int64
----------
Feature: 'NumberOfCars_more than 8'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NumberOfCars_more than 8
0.00013    300
Name: count, dtype: int64
----------
Feature: 'collision_type_Side Collision'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
collision_type_Side Collision
0.438000    166
0.934389    134
Name: count, dtype: int64
----------
Feature: 'bodily_injuries_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
bodily_injuries_2
0.332000    200
0.803167    100
Name: count, dtype: int64
----------
Feature: 'NumberOfSuppliments_1 to 2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
NumberOfSuppliments_1 to 2
0.161414    300
Name: count, dtype: int64
----------
Feature: 'witnesses_3'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
witnesses_3
0.24300    236
0.67211     64
Name: count, dtype: int64
----------
Feature: 'DriverRating_4'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DriverRating_4
0.24585    300
Name: count, dtype: int64
----------
Feature: 'DayOfWeek_Wednesday'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DayOfWeek_Wednesday
0.140013    300
Name: count, dtype: int64
----------
Feature: 'ANY_INJURY'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ANY_INJURY
0.6991    300
Name: count, dtype: int64
----------
Feature: 'incident_severity_Trivial Damage'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
incident_severity_Trivial Damage
0.090000    272
0.376325     28
Name: count, dtype: int64
----------
Feature: 'HOUSE_TYPE_Rent'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
HOUSE_TYPE_Rent
0.3385    300
Name: count, dtype: int64
----------
Feature: 'WeekOfMonthClaimed'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
WeekOfMonthClaimed
2.693969    300
Name: count, dtype: int64
----------
Feature: 'ChronicCond_Alzheimer_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ChronicCond_Alzheimer_2
0.598132    300
Name: count, dtype: int64
----------
Feature: 'INCIDENT_SEVERITY_Major Loss'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
INCIDENT_SEVERITY_Major Loss
0.3317    300
Name: count, dtype: int64
----------
Feature: 'SOCIAL_CLASS_LI'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
SOCIAL_CLASS_LI
0.2727    300
Name: count, dtype: int64
----------
Feature: 'DayOfWeekClaimed_Friday'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
DayOfWeekClaimed_Friday
0.161933    300
Name: count, dtype: int64
----------
Feature: 'auto_model_Wrangler'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
auto_model_Wrangler
0.04200    292
0.24269      8
Name: count, dtype: int64
----------
Feature: 'LOSS_TO_TXN_DELAY'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
LOSS_TO_TXN_DELAY
10.4201    300
Name: count, dtype: int64
----------
Feature: 'incident_city_Arlington'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
incident_city_Arlington
0.152000    256
0.511201     44
Name: count, dtype: int64
----------
Feature: 'ChronicCond_Diabetes_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ChronicCond_Diabetes_2
0.294605    300
Name: count, dtype: int64
----------
Feature: 'ClaimDuration'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ClaimDuration
1.72794    300
Name: count, dtype: int64
----------
Feature: 'PastNumberOfClaims_1'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
PastNumberOfClaims_1
0.231712    300
Name: count, dtype: int64
----------
Feature: 'property_damage_YES'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
property_damage_YES
0.302000    211
0.761355     89
Name: count, dtype: int64
----------
Feature: 'ChronicCond_Heartfailure_2'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
ChronicCond_Heartfailure_2
0.409573    300
Name: count, dtype: int64
----------
Feature: 'auto_model_MDX'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 2

Value Counts:
auto_model_MDX
0.036000    288
0.222383     12
Name: count, dtype: int64
----------
Feature: 'Month_May'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Month_May
0.088651    300
Name: count, dtype: int64
----------
Feature: 'AgeOfVehicle_6 years'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
AgeOfVehicle_6 years
0.223606    300
Name: count, dtype: int64
----------
Feature: 'Month_Oct'
 - Data Type      : float64
 - Non-Null Count : 300
 - Null Count     : 0
 - Unique Values  : 1

Value Counts:
Month_Oct
0.08463    300
Name: count, dtype: int64
----------
Feature: 'auto_make_Dodge'

In [ ]:
imputed_data.to_csv("/content/drive/MyDrive/Train/data/New_imputed_data.csv")

In [45]:
# # Optional: Save as a single HDF5 file
# vae.save("/content/drive/MyDrive/Train/data/my_model.h5")  # Creates file 'my_model.h5'
vae.save("/content/drive/MyDrive/Train/data/masked_vae1.keras")  # Recommended format

## Loading Model

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("/content/drive/MyDrive/Train/data/dataset_part2.csv",low_memory=False)

In [ ]:
a = df.copy()

In [ ]:
df.drop(columns =["TransactionID","dataset_name"],inplace=True)

In [ ]:
print(df.columns.tolist())

['AgeOfVehicle_7 years', 'NoOfMonths_PartACov_11', 'NumberOfCars_3 to 4', 'RenalDiseaseIndicator', 'Days:Policy-Accident_1 to 7', 'PolicyType_Sedan - Collision', 'umbrella_limit_0', 'SOCIAL_CLASS_MI', 'MaritalStatus_Single', 'PastNumberOfClaims_more than 4', 'NoOfMonths_PartACov_8', 'AgeOfVehicle_new', 'ChronicCond_Osteoporasis_2', 'witnesses_1', 'DriverRating_1', 'CITY_Nashville', 'number_of_vehicles_involved_1', 'incident_state_SC', 'INCIDENT_CITY_Manchester', 'CUSTOMER_EDUCATION_LEVEL_High School', 'VehiclePrice_20,000 to 29,000', 'incident_city_Arlington', 'STATE_AR', 'ChronicCond_ObstrPulmonary_2', 'insured_hobbies_bungie-jumping', 'AUTHORITY_CONTACTED_Police', 'auto_model_MDX', 'authorities_contacted_Police', 'DayOfWeekClaimed_Monday', 'WeekOfMonth_5', 'INCIDENT_CITY_Glendale', 'insured_education_level_JD', 'insured_relationship_unmarried', 'Police_Report', 'CUSTOMER_EDUCATION_LEVEL_Bachelor', 'MonthClaimed_Mar', 'insured_education_level_Associate', 'IPAnnualReimbursementAmt', 'CUSTOMER_EDUCATION_LEVEL_MD', 'MonthClaimed_Jun', 'Month_Oct', 'VehiclePrice_more than 69,000', 'witnesses_2', 'Gender', 'property_damage_YES', 'BasePolicy_Collision', 'MaritalStatus_Divorced', 'NumberOfSuppliments_3 to 5', 'incident_severity_Trivial Damage', 'Days:Policy-Accident_none', 'number_of_vehicles_involved_3', 'Days:Policy-Claim_8 to 15', 'witnesses_3', 'insured_occupation_sales', 'ChronicCond_stroke', 'collision_type_Front Collision', 'NoOfMonths_PartBCov_6', 'NumberOfCars_1 vehicle', 'NumberOfCars_2 vehicles', 'NO_OF_FAMILY_MEMBERS_7', 'Days:Policy-Accident_8 to 15', 'AddressChange-Claim_4 to 8 years', 'INCIDENT_SEVERITY_Minor Loss', 'INCIDENT_SEVERITY_Major Loss', 'bodily_injuries_0', 'AgeOfPolicyHolder_36 to 40', 'STATE_TN', 'MARITAL_STATUS_Y', 'RISK_SEGMENTATION_H', 'WitnessPresent_Yes', 'authorities_contacted_Ambulance', 'incident_state_WV', 'SOCIAL_CLASS_LI', 'property_claim', 'INCIDENT_CITY_Montgomery', 'capital-loss', 'NoOfMonths_PartBCov_10', 'NoOfMonths_PartBCov_12', 'HOUSE_TYPE_Own', 'NumberOfCars_5 to 8', 'ChronicCond_Diabetes_2', 'ANY_INJURY', 'CITY_Manchester', 'Make_Chevrolet', 'bodily_injuries_2', 'NO_OF_FAMILY_MEMBERS_5', 'NoOfMonths_PartACov_0', 'auto_make_Suburu', 'insured_occupation_machine-op-inspct', 'MonthClaimed_Oct', 'bodily_injuries_1', 'auto_make_Saab', 'CUSTOMER_EDUCATION_LEVEL_College', 'ChronicCond_Heartfailure_2', 'WeekOfMonth_4', 'DayOfWeek_Friday', 'auto_year', 'HOUSE_TYPE_Rent', 'CITY_Montgomery', 'incident_state_NY', 'Make_Mazda', 'ChronicCond_Cancer_2', 'Days:Policy-Accident_more than 30', 'auto_make_Chevrolet', 'auto_model_A3', 'AUTHORITY_CONTACTED_Ambulance', 'DayOfWeekClaimed_Tuesday', 'NO_OF_FAMILY_MEMBERS_2', 'Premium', 'AgeOfVehicle_5 years', 'STATE_CO', 'WeekOfMonth_1', 'number_of_vehicles_involved_4', 'witnesses_0', 'vehicle_claim', 'INSURANCE_TYPE_Mobile', 'EMPLOYMENT_STATUS_Y', 'NO_OF_FAMILY_MEMBERS_4', 'RISK_SEGMENTATION_M', 'policy_state_OH', 'insured_relationship_other-relative', 'incident_severity_Total Loss', 'VehiclePrice_30,000 to 39,000', 'insured_education_level_High School', 'PastNumberOfClaims_none', 'insured_relationship_not-in-family', 'insured_relationship_own-child', 'insured_education_level_Masters', 'collision_type_Side Collision', 'insured_occupation_exec-managerial', 'INSURANCE_TYPE_Property', 'OPAnnualDeductibleAmt', 'Month_Mar', 'insured_relationship_husband', 'MonthClaimed_Jan', 'Claim_Amount', 'INCIDENT_CITY_Arvada', 'NoOfMonths_PartBCov_11', 'OPAnnualReimbursementAmt', 'STATE_CA', 'PastNumberOfClaims_1', 'LOSS_TO_TXN_DELAY', 'umbrella_limit_7000000', 'DayOfWeekClaimed_Thursday', 'Days:Policy-Accident_15 to 30', 'ClaimDuration', 'NumberOfCars_more than 8', 'Make_Toyota', 'DayOfWeek_Thursday', 'CITY_Fayetteville', 'IPAnnualDeductibleAmt', 'DriverRating_4', 'DayOfWeek_Monday', 'incident_city_Springfield', 'ChronicCond_KidneyDisease_2', 'MaritalStatus_Widow', 'VehiclePrice_40,000 to 59,000', 'NumberOfSuppliments_1 to 2', 'ChronicCond_Depression_2', 'Make_Honda', 'incident_city_Northbrook', 'INCIDENT_CITY_Washington', 'Fault_Third Party', 'property_damage_NO', 'DayOfWeekClaimed_Wednesday', 'VehicleCategory_Sport', 'MaritalStatus_Married', 'HOUSE_TYPE_Mortgage', 'policy_deductable_500', 'incident_state_NC', 'SOCIAL_CLASS_HI', 'policy_csl_100/300', 'insured_occupation_prof-specialty', 'Deductible', 'Month_May', 'insured_education_level_PhD', 'insured_education_level_College', 'MonthClaimed_May', 'policy_deductable_1000', 'INSURANCE_TYPE_Health', 'AgeOfPolicyHolder_51 to 65', 'PolicyType_Sedan - Liability', 'IsInpatient', 'AgeOfPolicyHolder_31 to 35', 'Make_Pontiac', 'injury_claim', 'insured_hobbies_exercise', 'INSURANCE_TYPE_Travel', 'DayOfWeekClaimed_Friday', 'auto_model_Neon', 'VehicleCategory_Sedan', 'VehicleCategory_Utility', 'VehiclePrice_less than 20,000', 'AddressChange-Claim_under 6 months', 'INSURANCE_TYPE_Motor', 'auto_make_Dodge', 'DayOfWeek_Wednesday', 'policy_deductable_2000', 'insured_occupation_tech-support', 'AddressChange-Claim_1 year', 'capital-gains', 'NumberOfSuppliments_more than 5', 'ChronicCond_rheumatoidarthritis_2', 'Tenure', 'incident_city_Riverwood', 'umbrella_limit_6000000', 'AddressChange-Claim_2 to 3 years', 'PolicyType_Sedan - All Perils', 'DriverRating_3', 'INSURANCE_TYPE_Life', 'NoOfMonths_PartACov_12', 'DriverRating_2', 'policy_state_IN', 'STATE_FL', 'incident_type_Vehicle Theft', 'insured_hobbies_paintball', 'CITY_Washington', 'NoOfMonths_PartACov_6', 'AgeOfPolicyHolder_41 to 50', 'Month_Jun', 'PolicyType_Utility - All Perils', 'insured_hobbies_reading', 'WeekOfMonthClaimed', 'BasePolicy_All Perils', 'umbrella_limit_4000000', 'WeekOfMonth_3', 'incident_type_Parked Car', 'AgentType_Internal', 'AccidentArea_Urban', 'Age', 'incident_severity_Minor Damage', 'InscClaimAmtReimbursed', 'authorities_contacted_Fire', 'NO_OF_FAMILY_MEMBERS_3', 'auto_model_Wrangler', 'auto_model_RAM', 'POLICY_AGE_DAYS', 'Days:Policy-Claim_15 to 30', 'AgeOfPolicyHolder_26 to 30', 'incident_city_Northbend', 'auto_make_Nissan', 'policy_state_IL', 'REPORT_DELAY_DAYS', 'insured_education_level_MD', 'policy_csl_500/1000', 'incident_type_Multi-vehicle Collision', 'INCIDENT_SEVERITY_Total Loss', 'DayOfWeek_Tuesday', 'incident_severity_Major Damage', 'incident_state_VA', 'BasePolicy_Liability', 'ChronicCond_Alzheimer_2', 'insured_hobbies_movies', 'IsDead', 'incident_type_Single Vehicle Collision', 'insured_relationship_wife', 'Month_Jan', 'umbrella_limit_5000000', 'AgeOfVehicle_6 years', 'incident_city_Hillsdale', 'RISK_SEGMENTATION_L', 'PastNumberOfClaims_2 to 4', 'WeekOfMonth_2', 'PolicyType_Sport - Collision', 'AgeOfVehicle_more than 7', 'NoOfMonths_PartBCov_0', 'property_damage_?', 'NumberOfSuppliments_none', 'incident_city_Columbus', 'AddressChange-Claim_no change', 'CUSTOMER_EDUCATION_LEVEL_Masters', 'NO_OF_FAMILY_MEMBERS_6', 'IsFraud', 'Days:Policy-Claim_more than 30', 'Incident_Hour', 'number_of_vehicles_involved_2', 'policy_csl_250/500', 'collision_type_Rear Collision', 'Days:Policy-Claim_none']

In [ ]:
# for i in df.columns:
#     print(i)
df_new=df

In [ ]:
data_normalized = (df_new - df_new.mean()) / df_new.std()
# data_normalized

In [ ]:
# ----------------------------------------
# 2. Load your data (df_new and a)
# ----------------------------------------
# Make sure to replace this with your actual data loading logic

# Normalize data
data_normalized = (df_new - df_new.mean()) / df_new.std()
original_dim = data_normalized.shape[1]

In [ ]:
data_normalized_np = data_normalized.to_numpy()

In [ ]:
from tensorflow.keras.saving import register_keras_serializable
import numpy as np
from tensorflow.keras.layers import Input, Dense, Lambda, Layer
from tensorflow.keras.models import Model
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras import backend as K
from tensorflow.keras.models import load_model

# Register again here too (for loading)
@register_keras_serializable()
def sampling(args):
    z_mean, z_log_var = args
    batch = K.shape(z_mean)[0]
    dim = K.int_shape(z_mean)[1]
    epsilon = K.random_normal(shape=(batch, dim))
    return z_mean + K.exp(0.5 * z_log_var) * epsilon

# Redefine VAELossLayer
class VAELossLayer(Layer):
    def __init__(self, **kwargs):
        super(VAELossLayer, self).__init__(**kwargs)

    def vae_loss(self, x, x_decoded_mean, z_log_var, z_mean):
        reconstruction_loss = binary_crossentropy(x, x_decoded_mean)
        reconstruction_loss *= original_dim
        kl_loss = 1 + z_log_var - K.square(z_mean) - K.exp(z_log_var)
        kl_loss = K.sum(kl_loss, axis=-1)
        kl_loss *= -0.5
        return K.mean(reconstruction_loss + kl_loss)

    def call(self, inputs):
        x = inputs[0]
        x_decoded_mean = inputs[1]
        z_log_var = inputs[2]
        z_mean = inputs[3]

        loss = self.vae_loss(x, x_decoded_mean, z_log_var, z_mean)
        self.add_loss(loss)
        return x

# Load the model with custom objects
vae = load_model(
    "/content/drive/MyDrive/Train/data/my_model.keras",
    custom_objects={
        "VAELossLayer": VAELossLayer,
        "sampling": sampling
    }
)

In [ ]:
# ----------------------------------------
# 4. Predict missing values
# ----------------------------------------
# Create a mask of missing values
missing_mask = data_normalized.isnull()

# Fill missing values with zeros for input
data_filled = data_normalized.fillna(0)

# Convert to numpy
data_filled_np = data_filled.to_numpy()

# Use the VAE to predict
predicted_data = vae.predict(data_filled_np)

# Replace missing values in original data
imputed_data = data_normalized.where(~missing_mask, predicted_data)

# Denormalize to original scale
imputed_data = imputed_data * df_new.std() + df_new.mean()

9135/9135  13s 1ms/step

In [ ]:
# Round for cleaner output
imputed_data = imputed_data.round(3)

In [32]:
def display(matching_rows):
    print("counting list of Uniquic all featurs")
    li=[]
    for i in matching_rows.columns:
        #print(str(i),' :',len(matching_rows[i].unique()),matching_rows[i].unique())
        print(str(i), ' :', matching_rows[i].nunique(),',',list(matching_rows[i].unique())[:2])
        li.append(matching_rows[i].nunique())
    #return li
        # if(matching_rows[i].nunique()<50):
        #     print(str(i),' :',matching_rows[i].unique())

In [ ]:
display(imputed_data)

counting list of Uniquic all featurs
AgeOfVehicle_7 years  : 3 , [np.float64(0.377), np.float64(0.0)]
NoOfMonths_PartACov_11  : 2 , [np.float64(0.0), np.float64(1.0)]
NumberOfCars_3 to 4  : 3 , [np.float64(0.024), np.float64(1.0)]
RenalDiseaseIndicator  : 3 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Accident_1 to 7  : 3 , [np.float64(0.001), np.float64(0.0)]
PolicyType_Sedan - Collision  : 3 , [np.float64(0.362), np.float64(0.0)]
umbrella_limit_0  : 0 , [np.float64(nan)]
SOCIAL_CLASS_MI  : 0 , [np.float64(nan)]
MaritalStatus_Single  : 3 , [np.float64(0.304), np.float64(1.0)]
PastNumberOfClaims_more than 4  : 3 , [np.float64(0.13), np.float64(0.0)]
NoOfMonths_PartACov_8  : 2 , [np.float64(0.0), np.float64(1.0)]
AgeOfVehicle_new  : 3 , [np.float64(0.024), np.float64(0.0)]
ChronicCond_Osteoporasis_2  : 3 , [np.float64(1.0), np.float64(0.0)]
witnesses_1  : 0 , [np.float64(nan)]
DriverRating_1  : 3 , [np.float64(0.256), np.float64(1.0)]
CITY_Nashville  : 0 , [np.float64(nan)]
number_of_vehicles_involved_1  : 0 , [np.float64(nan)]
incident_state_SC  : 0 , [np.float64(nan)]
INCIDENT_CITY_Manchester  : 0 , [np.float64(nan)]
CUSTOMER_EDUCATION_LEVEL_High School  : 0 , [np.float64(nan)]
VehiclePrice_20,000 to 29,000  : 3 , [np.float64(0.524), np.float64(0.0)]
incident_city_Arlington  : 0 , [np.float64(nan)]
STATE_AR  : 0 , [np.float64(nan)]
ChronicCond_ObstrPulmonary_2  : 3 , [np.float64(1.0), np.float64(0.0)]
insured_hobbies_bungie-jumping  : 0 , [np.float64(nan)]
AUTHORITY_CONTACTED_Police  : 0 , [np.float64(nan)]
auto_model_MDX  : 0 , [np.float64(nan)]
authorities_contacted_Police  : 0 , [np.float64(nan)]
DayOfWeekClaimed_Monday  : 3 , [np.float64(0.244), np.float64(0.0)]
WeekOfMonth_5  : 3 , [np.float64(0.106), np.float64(1.0)]
INCIDENT_CITY_Glendale  : 0 , [np.float64(nan)]
insured_education_level_JD  : 0 , [np.float64(nan)]
insured_relationship_unmarried  : 0 , [np.float64(nan)]
Police_Report  : 3 , [np.float64(0.028), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_Bachelor  : 0 , [np.float64(nan)]
MonthClaimed_Mar  : 3 , [np.float64(0.087), np.float64(0.0)]
insured_education_level_Associate  : 0 , [np.float64(nan)]
IPAnnualReimbursementAmt  : 2115 , [np.float64(0.0), np.float64(5080.0)]
CUSTOMER_EDUCATION_LEVEL_MD  : 0 , [np.float64(nan)]
MonthClaimed_Jun  : 3 , [np.float64(0.084), np.float64(0.0)]
Month_Oct  : 3 , [np.float64(0.085), np.float64(0.0)]
VehiclePrice_more than 69,000  : 3 , [np.float64(0.14), np.float64(1.0)]
witnesses_2  : 0 , [np.float64(nan)]
Gender  : 2 , [np.float64(1.0), np.float64(0.0)]
property_damage_YES  : 0 , [np.float64(nan)]
BasePolicy_Collision  : 3 , [np.float64(0.387), np.float64(0.0)]
MaritalStatus_Divorced  : 3 , [np.float64(0.005), np.float64(0.0)]
NumberOfSuppliments_3 to 5  : 3 , [np.float64(0.131), np.float64(0.0)]
incident_severity_Trivial Damage  : 0 , [np.float64(nan)]
Days:Policy-Accident_none  : 3 , [np.float64(0.004), np.float64(0.0)]
number_of_vehicles_involved_3  : 0 , [np.float64(nan)]
Days:Policy-Claim_8 to 15  : 3 , [np.float64(0.001), np.float64(0.0)]
witnesses_3  : 0 , [np.float64(nan)]
insured_occupation_sales  : 0 , [np.float64(nan)]
ChronicCond_stroke  : 3 , [np.float64(2.0), np.float64(1.0)]
collision_type_Front Collision  : 0 , [np.float64(nan)]
NoOfMonths_PartBCov_6  : 3 , [np.float64(0.0), np.float64(1.0)]
NumberOfCars_1 vehicle  : 3 , [np.float64(0.928), np.float64(0.0)]
NumberOfCars_2 vehicles  : 3 , [np.float64(0.046), np.float64(0.0)]
NO_OF_FAMILY_MEMBERS_7  : 0 , [np.float64(nan)]
Days:Policy-Accident_8 to 15  : 3 , [np.float64(0.004), np.float64(0.0)]
AddressChange-Claim_4 to 8 years  : 3 , [np.float64(0.041), np.float64(0.0)]
INCIDENT_SEVERITY_Minor Loss  : 0 , [np.float64(nan)]
INCIDENT_SEVERITY_Major Loss  : 0 , [np.float64(nan)]
bodily_injuries_0  : 0 , [np.float64(nan)]
AgeOfPolicyHolder_36 to 40  : 3 , [np.float64(0.262), np.float64(0.0)]
STATE_TN  : 0 , [np.float64(nan)]
MARITAL_STATUS_Y  : 0 , [np.float64(nan)]
RISK_SEGMENTATION_H  : 0 , [np.float64(nan)]
WitnessPresent_Yes  : 3 , [np.float64(0.006), np.float64(0.0)]
authorities_contacted_Ambulance  : 0 , [np.float64(nan)]
incident_state_WV  : 0 , [np.float64(nan)]
SOCIAL_CLASS_LI  : 0 , [np.float64(nan)]
property_claim  : 0 , [np.float64(nan)]
INCIDENT_CITY_Montgomery  : 0 , [np.float64(nan)]
capital-loss  : 0 , [np.float64(nan)]
NoOfMonths_PartBCov_10  : 3 , [np.float64(0.0), np.float64(1.0)]
NoOfMonths_PartBCov_12  : 3 , [np.float64(1.0), np.float64(-0.0)]
HOUSE_TYPE_Own  : 0 , [np.float64(nan)]
NumberOfCars_5 to 8  : 3 , [np.float64(0.001), np.float64(0.0)]
ChronicCond_Diabetes_2  : 3 , [np.float64(0.0), np.float64(1.0)]
ANY_INJURY  : 0 , [np.float64(nan)]
CITY_Manchester  : 0 , [np.float64(nan)]
Make_Chevrolet  : 3 , [np.float64(0.109), np.float64(0.0)]
bodily_injuries_2  : 0 , [np.float64(nan)]
NO_OF_FAMILY_MEMBERS_5  : 0 , [np.float64(nan)]
NoOfMonths_PartACov_0  : 3 , [np.float64(0.0), np.float64(1.0)]
auto_make_Suburu  : 0 , [np.float64(nan)]
insured_occupation_machine-op-inspct  : 0 , [np.float64(nan)]
MonthClaimed_Oct  : 3 , [np.float64(0.087), np.float64(0.0)]
bodily_injuries_1  : 0 , [np.float64(nan)]
auto_make_Saab  : 0 , [np.float64(nan)]
CUSTOMER_EDUCATION_LEVEL_College  : 0 , [np.float64(nan)]
ChronicCond_Heartfailure_2  : 3 , [np.float64(1.0), np.float64(0.0)]
WeekOfMonth_4  : 3 , [np.float64(0.22), np.float64(0.0)]
DayOfWeek_Friday  : 3 , [np.float64(0.159), np.float64(0.0)]
auto_year  : 0 , [np.float64(nan)]
HOUSE_TYPE_Rent  : 0 , [np.float64(nan)]
CITY_Montgomery  : 0 , [np.float64(nan)]
incident_state_NY  : 0 , [np.float64(nan)]
Make_Mazda  : 3 , [np.float64(0.153), np.float64(0.0)]
ChronicCond_Cancer_2  : 3 , [np.float64(1.0), np.float64(0.0)]
Days:Policy-Accident_more than 30  : 3 , [np.float64(0.989), np.float64(1.0)]
auto_make_Chevrolet  : 0 , [np.float64(nan)]
auto_model_A3  : 0 , [np.float64(nan)]
AUTHORITY_CONTACTED_Ambulance  : 0 , [np.float64(nan)]
DayOfWeekClaimed_Tuesday  : 3 , [np.float64(0.219), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_2  : 0 , [np.float64(nan)]
Premium  : 0 , [np.float64(nan)]
AgeOfVehicle_5 years  : 3 , [np.float64(0.088), np.float64(0.0)]
STATE_CO  : 0 , [np.float64(nan)]
WeekOfMonth_1  : 3 , [np.float64(0.207), np.float64(0.0)]
number_of_vehicles_involved_4  : 0 , [np.float64(nan)]
witnesses_0  : 0 , [np.float64(nan)]
vehicle_claim  : 0 , [np.float64(nan)]
INSURANCE_TYPE_Mobile  : 0 , [np.float64(nan)]
EMPLOYMENT_STATUS_Y  : 0 , [np.float64(nan)]
NO_OF_FAMILY_MEMBERS_4  : 0 , [np.float64(nan)]
RISK_SEGMENTATION_M  : 0 , [np.float64(nan)]
policy_state_OH  : 0 , [np.float64(nan)]
insured_relationship_other-relative  : 0 , [np.float64(nan)]
incident_severity_Total Loss  : 0 , [np.float64(nan)]
VehiclePrice_30,000 to 39,000  : 3 , [np.float64(0.229), np.float64(0.0)]
insured_education_level_High School  : 0 , [np.float64(nan)]
PastNumberOfClaims_none  : 3 , [np.float64(0.282), np.float64(1.0)]
insured_relationship_not-in-family  : 0 , [np.float64(nan)]
insured_relationship_own-child  : 0 , [np.float64(nan)]
insured_education_level_Masters  : 0 , [np.float64(nan)]
collision_type_Side Collision  : 0 , [np.float64(nan)]
insured_occupation_exec-managerial  : 0 , [np.float64(nan)]
INSURANCE_TYPE_Property  : 0 , [np.float64(nan)]
OPAnnualDeductibleAmt  : 690 , [np.float64(560.0), np.float64(590.0)]
Month_Mar  : 3 , [np.float64(0.088), np.float64(0.0)]
insured_relationship_husband  : 0 , [np.float64(nan)]
MonthClaimed_Jan  : 3 , [np.float64(0.094), np.float64(1.0)]
Claim_Amount  : 423 , [np.float64(80.0), np.float64(30.0)]
INCIDENT_CITY_Arvada  : 0 , [np.float64(nan)]
NoOfMonths_PartBCov_11  : 3 , [np.float64(0.0), np.float64(1.0)]
OPAnnualReimbursementAmt  : 1648 , [np.float64(2760.0), np.float64(680.0)]
STATE_CA  : 0 , [np.float64(nan)]
PastNumberOfClaims_1  : 3 , [np.float64(0.232), np.float64(0.0)]
LOSS_TO_TXN_DELAY  : 0 , [np.float64(nan)]
umbrella_limit_7000000  : 0 , [np.float64(nan)]
DayOfWeekClaimed_Thursday  : 3 , [np.float64(0.173), np.float64(0.0)]
Days:Policy-Accident_15 to 30  : 3 , [np.float64(0.003), np.float64(0.0)]
ClaimDuration  : 22 , [np.float64(0.0), np.float64(2.0)]
NumberOfCars_more than 8  : 2 , [np.float64(0.0), np.float64(1.0)]
Make_Toyota  : 3 , [np.float64(0.202), np.float64(0.0)]
DayOfWeek_Thursday  : 3 , [np.float64(0.141), np.float64(0.0)]
CITY_Fayetteville  : 0 , [np.float64(nan)]
IPAnnualDeductibleAmt  : 112 , [np.float64(0.0), np.float64(1068.0)]
DriverRating_4  : 3 , [np.float64(0.246), np.float64(0.0)]
DayOfWeek_Monday  : 3 , [np.float64(0.17), np.float64(0.0)]
incident_city_Springfield  : 0 , [np.float64(nan)]
ChronicCond_KidneyDisease_2  : 3 , [np.float64(1.0), np.float64(0.0)]
MaritalStatus_Widow  : 3 , [np.float64(0.002), np.float64(0.0)]
VehiclePrice_40,000 to 59,000  : 3 , [np.float64(0.03), np.float64(0.0)]
NumberOfSuppliments_1 to 2  : 3 , [np.float64(0.161), np.float64(0.0)]
ChronicCond_Depression_2  : 3 , [np.float64(1.0), np.float64(0.0)]
Make_Honda  : 3 , [np.float64(0.182), np.float64(1.0)]
incident_city_Northbrook  : 0 , [np.float64(nan)]
INCIDENT_CITY_Washington  : 0 , [np.float64(nan)]
Fault_Third Party  : 3 , [np.float64(0.272), np.float64(0.0)]
property_damage_NO  : 0 , [np.float64(nan)]
DayOfWeekClaimed_Wednesday  : 3 , [np.float64(0.191), np.float64(0.0)]
VehicleCategory_Sport  : 3 , [np.float64(0.347), np.float64(1.0)]
MaritalStatus_Married  : 3 , [np.float64(0.689), np.float64(0.0)]
HOUSE_TYPE_Mortgage  : 0 , [np.float64(nan)]
policy_deductable_500  : 0 , [np.float64(nan)]
incident_state_NC  : 0 , [np.float64(nan)]
SOCIAL_CLASS_HI  : 0 , [np.float64(nan)]
policy_csl_100/300  : 0 , [np.float64(nan)]
insured_occupation_prof-specialty  : 0 , [np.float64(nan)]
Deductible  : 19 , [np.float64(0.0), np.float64(80.0)]
Month_May  : 3 , [np.float64(0.089), np.float64(0.0)]
insured_education_level_PhD  : 0 , [np.float64(nan)]
insured_education_level_College  : 0 , [np.float64(nan)]
MonthClaimed_May  : 3 , [np.float64(0.092), np.float64(0.0)]
policy_deductable_1000  : 0 , [np.float64(nan)]
INSURANCE_TYPE_Health  : 0 , [np.float64(nan)]
AgeOfPolicyHolder_51 to 65  : 3 , [np.float64(0.09), np.float64(0.0)]
PolicyType_Sedan - Liability  : 3 , [np.float64(0.323), np.float64(0.0)]
IsInpatient  : 1 , [np.float64(0.0)]
AgeOfPolicyHolder_31 to 35  : 3 , [np.float64(0.363), np.float64(0.0)]
Make_Pontiac  : 3 , [np.float64(0.249), np.float64(0.0)]
injury_claim  : 0 , [np.float64(nan)]
insured_hobbies_exercise  : 0 , [np.float64(nan)]
INSURANCE_TYPE_Travel  : 0 , [np.float64(nan)]
DayOfWeekClaimed_Friday  : 3 , [np.float64(0.162), np.float64(0.0)]
auto_model_Neon  : 0 , [np.float64(nan)]
VehicleCategory_Sedan  : 3 , [np.float64(0.627), np.float64(0.0)]
VehicleCategory_Utility  : 3 , [np.float64(0.025), np.float64(0.0)]
VehiclePrice_less than 20,000  : 3 , [np.float64(0.071), np.float64(0.0)]
AddressChange-Claim_under 6 months  : 2 , [np.float64(0.0), np.float64(1.0)]
INSURANCE_TYPE_Motor  : 0 , [np.float64(nan)]
auto_make_Dodge  : 0 , [np.float64(nan)]
DayOfWeek_Wednesday  : 3 , [np.float64(0.14), np.float64(1.0)]
policy_deductable_2000  : 0 , [np.float64(nan)]
insured_occupation_tech-support  : 0 , [np.float64(nan)]
AddressChange-Claim_1 year  : 3 , [np.float64(0.011), np.float64(1.0)]
capital-gains  : 0 , [np.float64(nan)]
NumberOfSuppliments_more than 5  : 3 , [np.float64(0.251), np.float64(0.0)]
ChronicCond_rheumatoidarthritis_2  : 3 , [np.float64(1.0), np.float64(0.0)]
Tenure  : 0 , [np.float64(nan)]
incident_city_Riverwood  : 0 , [np.float64(nan)]
umbrella_limit_6000000  : 0 , [np.float64(nan)]
AddressChange-Claim_2 to 3 years  : 3 , [np.float64(0.019), np.float64(0.0)]
PolicyType_Sedan - All Perils  : 3 , [np.float64(0.265), np.float64(0.0)]
DriverRating_3  : 3 , [np.float64(0.252), np.float64(0.0)]
INSURANCE_TYPE_Life  : 0 , [np.float64(nan)]
NoOfMonths_PartACov_12  : 3 , [np.float64(1.0), np.float64(0.0)]
DriverRating_2  : 3 , [np.float64(0.246), np.float64(-0.0)]
policy_state_IN  : 0 , [np.float64(nan)]
STATE_FL  : 0 , [np.float64(nan)]
incident_type_Vehicle Theft  : 0 , [np.float64(nan)]
insured_hobbies_paintball  : 0 , [np.float64(nan)]
CITY_Washington  : 0 , [np.float64(nan)]
NoOfMonths_PartACov_6  : 2 , [np.float64(0.0), np.float64(1.0)]
AgeOfPolicyHolder_41 to 50  : 3 , [np.float64(0.183), np.float64(0.0)]
Month_Jun  : 3 , [np.float64(0.086), np.float64(0.0)]
PolicyType_Utility - All Perils  : 3 , [np.float64(0.022), np.float64(0.0)]
insured_hobbies_reading  : 0 , [np.float64(nan)]
WeekOfMonthClaimed  : 6 , [np.float64(2.694), np.float64(1.0)]
BasePolicy_All Perils  : 3 , [np.float64(0.289), np.float64(0.0)]
umbrella_limit_4000000  : 0 , [np.float64(nan)]
WeekOfMonth_3  : 3 , [np.float64(0.236), np.float64(0.0)]
incident_type_Parked Car  : 0 , [np.float64(nan)]
AgentType_Internal  : 3 , [np.float64(0.016), np.float64(0.0)]
AccidentArea_Urban  : 3 , [np.float64(0.896), np.float64(1.0)]
Age  : 87 , [np.float64(79.0), np.float64(80.0)]
incident_severity_Minor Damage  : 0 , [np.float64(nan)]
InscClaimAmtReimbursed  : 295 , [np.float64(80.0), np.float64(30.0)]
authorities_contacted_Fire  : 0 , [np.float64(nan)]
NO_OF_FAMILY_MEMBERS_3  : 0 , [np.float64(nan)]
auto_model_Wrangler  : 0 , [np.float64(nan)]
auto_model_RAM  : 0 , [np.float64(nan)]
POLICY_AGE_DAYS  : 0 , [np.float64(nan)]
Days:Policy-Claim_15 to 30  : 3 , [np.float64(0.004), np.float64(0.0)]
AgeOfPolicyHolder_26 to 30  : 3 , [np.float64(0.04), np.float64(1.0)]
incident_city_Northbend  : 0 , [np.float64(nan)]
auto_make_Nissan  : 0 , [np.float64(nan)]
policy_state_IL  : 0 , [np.float64(nan)]
REPORT_DELAY_DAYS  : 0 , [np.float64(nan)]
insured_education_level_MD  : 0 , [np.float64(nan)]
policy_csl_500/1000  : 0 , [np.float64(nan)]
incident_type_Multi-vehicle Collision  : 0 , [np.float64(nan)]
INCIDENT_SEVERITY_Total Loss  : 0 , [np.float64(nan)]
DayOfWeek_Tuesday  : 3 , [np.float64(0.149), np.float64(0.0)]
incident_severity_Major Damage  : 0 , [np.float64(nan)]
incident_state_VA  : 0 , [np.float64(nan)]
BasePolicy_Liability  : 3 , [np.float64(0.325), np.float64(1.0)]
ChronicCond_Alzheimer_2  : 3 , [np.float64(1.0), np.float64(0.0)]
insured_hobbies_movies  : 0 , [np.float64(nan)]
IsDead  : 3 , [np.float64(0.0), np.float64(1.0)]
incident_type_Single Vehicle Collision  : 0 , [np.float64(nan)]
insured_relationship_wife  : 0 , [np.float64(nan)]
Month_Jan  : 3 , [np.float64(0.092), np.float64(0.0)]
umbrella_limit_5000000  : 0 , [np.float64(nan)]
AgeOfVehicle_6 years  : 3 , [np.float64(0.224), np.float64(0.0)]
incident_city_Hillsdale  : 0 , [np.float64(nan)]
RISK_SEGMENTATION_L  : 0 , [np.float64(nan)]
PastNumberOfClaims_2 to 4  : 3 , [np.float64(0.356), np.float64(0.0)]
WeekOfMonth_2  : 3 , [np.float64(0.231), np.float64(0.0)]
PolicyType_Sport - Collision  : 3 , [np.float64(0.023), np.float64(0.0)]
AgeOfVehicle_more than 7  : 3 , [np.float64(0.258), np.float64(0.0)]
NoOfMonths_PartBCov_0  : 3 , [np.float64(0.0), np.float64(1.0)]
property_damage_?  : 0 , [np.float64(nan)]
NumberOfSuppliments_none  : 3 , [np.float64(0.457), np.float64(1.0)]
incident_city_Columbus  : 0 , [np.float64(nan)]
AddressChange-Claim_no change  : 3 , [np.float64(0.929), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_Masters  : 0 , [np.float64(nan)]
NO_OF_FAMILY_MEMBERS_6  : 0 , [np.float64(nan)]
IsFraud  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Claim_more than 30  : 3 , [np.float64(0.995), np.float64(1.0)]
Incident_Hour  : 0 , [np.float64(nan)]
number_of_vehicles_involved_2  : 0 , [np.float64(nan)]
policy_csl_250/500  : 0 , [np.float64(nan)]
collision_type_Rear Collision  : 0 , [np.float64(nan)]
Days:Policy-Claim_none  : 2 , [np.float64(0.0), np.float64(1.0)]

In [ ]:

# ----------------------------------------
# 5. Save outputs
# ----------------------------------------

# Save imputed data
imputed_data.to_csv("/content/drive/MyDrive/Train/data/vae_data_data.csv", index=False)

In [ ]:
# Combine with metadata and save df2
df2 = pd.concat([imputed_data, a[["TransactionID", "dataset_name"]]], axis=1)
df2.to_csv("/content/drive/MyDrive/Train/data/vae_index_index_data.csv", index=False)

print(" Imputation completed and saved.")

## Next

In [ ]:
# Impute missing values
missing_mask = data_normalized.isnull()
data_filled = data_normalized.fillna(0)
predicted_data = vae.predict(data_filled)
imputed_data = data_normalized.where(~missing_mask, predicted_data)
imputed_data = imputed_data * df_new.std() + df_new.mean()

# Round the imputed values to three decimal places
imputed_data = imputed_data.round(3)

# Display the imputed data
imputed_data

In [ ]:
df.shape

In [ ]:
imputed_data.shape

In [ ]:
aa=display(df)

counting list of Uniquic all featurs
isFraud  : 2 , [np.int64(0), np.int64(1)]
dataset_name  : 3 , ['Transaction_Fraud', 'Mobile_Transaction_Fraud']
transaction_type_EMI Payment  : 2 , [np.int64(0), np.int64(1)]
 Total ERC20 tnxs  : 300 , [np.int64(0), np.int64(265)]
oldbalanceOrg  : 54092 , [np.float64(0.0), np.float64(19391.0)]
transaction_type_Deposit  : 2 , [np.int64(0), np.int64(1)]
newbalanceOrig  : 42997 , [np.float64(0.0), np.float64(16374.82)]
 ERC20_most_rec_token_type_Others  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Utilities  : 2 , [np.int64(0), np.int64(1)]
 ERC20 total ether sent  : 1415 , [np.float64(0.0), np.float64(35603169.52)]
 ERC20 most sent token type_Golem  : 2 , [np.int64(0), np.int64(1)]
device_used_Web  : 2 , [np.int64(1), np.int64(0)]
TransactionID  : 159841 , ['DigitalTrans_000001', 'DigitalTrans_000002']
transaction_type_Bill Payment  : 2 , [np.int64(1), np.int64(0)]
transaction_type_Loan Disbursement  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Groceries  : 2 , [np.int64(0), np.int64(1)]
 ERC20 total Ether received  : 3460 , [np.float64(0.0), np.float64(35588543.78)]
avg val sent  : 5854 , [np.float64(0.0), np.float64(1.200681)]
total ether balance  : 5717 , [np.float64(0.0), np.float64(-279.2244185)]
max val sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
transaction_location_Kalyan-Dombivli, Nagaland  : 2 , [np.int64(0), np.int64(1)]
account_balance_after_transaction  : 30267 , [np.float64(8211.0), np.float64(12858.0)]
Number of Created Contracts  : 20 , [np.int64(0), np.int64(1)]
merchant_category_Online Shopping  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Healthcare  : 2 , [np.int64(0), np.int64(1)]
transaction_type_Fund Transfer  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Travel  : 2 , [np.int64(0), np.int64(1)]
 ERC20 most sent token type_EOS  : 2 , [np.int64(0), np.int64(1)]
total ether received  : 6728 , [np.float64(0.0), np.float64(586.4666748)]
is_international_transaction  : 2 , [np.int64(0), np.int64(1)]
transaction_location_Davanagere, Himachal Pradesh  : 2 , [np.int64(0), np.int64(1)]
Time Diff between first and last (Mins)  : 7810 , [np.float64(0.0), np.float64(704785.63)]
 ERC20 most sent token type_OmiseGO  : 2 , [np.int64(0), np.int64(1)]
transaction_type_Credit Card  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Financial Services  : 2 , [np.int64(0), np.int64(1)]
type_DEBIT  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Education  : 2 , [np.int64(0), np.int64(1)]
Unique Sent To Addresses  : 258 , [np.int64(0), np.int64(118)]
min val sent  : 4719 , [np.float64(0.0), np.float64(0.05)]
avg value sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20_most_rec_token_type_Blockwell say NOTSAFU  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Electronics  : 2 , [np.int64(0), np.int64(1)]
Received Tnx  : 727 , [np.int64(0), np.int64(89)]
Unique Received From Addresses  : 256 , [np.int64(0), np.int64(40)]
 ERC20 uniq sent addr  : 107 , [np.int64(0), np.int64(30)]
Avg min between received tnx  : 6223 , [np.float64(0.0), np.float64(1093.71)]
transaction_type_Net Banking  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Fuel  : 2 , [np.int64(0), np.int64(1)]
 ERC20 max val rec  : 2647 , [np.float64(0.0), np.float64(15000000.0)]
min value sent to contract  : 3 , [np.float64(0.0), np.float64(0.02)]
transaction_status_Success  : 2 , [np.int64(1), np.int64(0)]
transaction_type_UPI  : 2 , [np.int64(0), np.int64(1)]
max val sent  : 6647 , [np.float64(0.0), np.float64(31.22)]
total ether sent contracts  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20 uniq rec contract addr  : 123 , [np.int64(0), np.int64(58)]
Sent tnx  : 641 , [np.int64(0), np.int64(721)]
Avg min between sent tnx  : 5013 , [np.float64(0.0), np.float64(844.26)]
 ERC20 avg val sent  : 1309 , [np.float64(0.0), np.float64(271779.92)]
max value received   : 6302 , [np.float64(0.0), np.float64(45.806785)]
transaction_type_Debit Card  : 2 , [np.int64(0), np.int64(1)]
avg val received  : 6767 , [np.float64(0.0), np.float64(6.589513)]
 ERC20 max val sent  : 1130 , [np.float64(0.0), np.float64(16830998.35)]
 ERC20 uniq sent token name  : 70 , [np.int64(0), np.int64(39)]
TransactionAmt  : 101058 , [np.float64(2100.0), np.float64(1400.0)]
 ERC20 uniq rec token name  : 121 , [np.int64(0), np.int64(57)]
type_PAYMENT  : 2 , [np.int64(0), np.int64(1)]
 ERC20 most sent token type_0  : 2 , [np.int64(0), np.int64(1)]
step  : 459 , [np.int64(0), np.int64(162)]
 ERC20_most_rec_token_type_OmiseGO  : 2 , [np.int64(0), np.int64(1)]
device_used_POS  : 2 , [np.int64(0), np.int64(1)]
 ERC20_most_rec_token_type_Livepeer Token  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Dining  : 2 , [np.int64(1), np.int64(0)]
transaction_location_Siwan, Sikkim  : 2 , [np.int64(0), np.int64(1)]
type_TRANSFER  : 2 , [np.int64(0), np.int64(1)]
 ERC20 uniq rec addr  : 147 , [np.int64(0), np.int64(54)]
device_used_Mobile  : 2 , [np.int64(0), np.int64(1)]
 ERC20_most_rec_token_type_DATAcoin  : 2 , [np.int64(0), np.int64(1)]
total Ether sent  : 5868 , [np.float64(0.0), np.float64(865.6910932)]
min value received  : 4589 , [np.float64(0.0), np.float64(0.113119)]
 ERC20 uniq sent addr.1  : 4 , [np.int64(0), np.int64(1)]
 ERC20 avg val rec  : 3380 , [np.float64(0.0), np.float64(265586.1476)]
 ERC20 total Ether sent contract  : 29 , [np.float64(0.0), np.float64(1.15e-14)]
newbalanceDest  : 61351 , [np.float64(0.0), np.float64(566378.51)]
oldbalanceDest  : 57396 , [np.float64(0.0), np.float64(382572.19)]
 ERC20 min val sent  : 476 , [np.float64(0.0), np.float64(2.260809)]
 ERC20 most sent token type_Others  : 2 , [np.int64(0), np.int64(1)]
 ERC20 min val rec  : 1276 , [np.float64(0.0), np.float64(600.0)]
type_CASH_OUT  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Entertainment  : 2 , [np.int64(0), np.int64(1)]

In [ ]:
bb=display(imputed_data)

counting list of Uniquic all featurs
isFraud  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_type_EMI Payment  : 2 , [np.float64(0.0), np.float64(1.0)]
 Total ERC20 tnxs  : 300 , [np.float64(0.0), np.float64(265.0)]
oldbalanceOrg  : 54092 , [np.float64(0.0), np.float64(19391.0)]
transaction_type_Deposit  : 2 , [np.float64(0.0), np.float64(1.0)]
newbalanceOrig  : 42997 , [np.float64(0.0), np.float64(16374.82)]
 ERC20_most_rec_token_type_Others  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Utilities  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 total ether sent  : 1290 , [np.float64(0.0), np.float64(35603169.52)]
 ERC20 most sent token type_Golem  : 2 , [np.float64(0.0), np.float64(1.0)]
device_used_Web  : 2 , [np.float64(1.0), np.float64(-0.0)]
transaction_type_Bill Payment  : 2 , [np.float64(1.0), np.float64(0.0)]
transaction_type_Loan Disbursement  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Groceries  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 total Ether received  : 3190 , [np.float64(0.0), np.float64(35588543.78)]
avg val sent  : 3903 , [np.float64(0.0), np.float64(1.201)]
total ether balance  : 2942 , [np.float64(0.0), np.float64(-279.224)]
max val sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
transaction_location_Kalyan-Dombivli, Nagaland  : 2 , [np.float64(0.0), np.float64(1.0)]
account_balance_after_transaction  : 30267 , [np.float64(8211.0), np.float64(12858.0)]
Number of Created Contracts  : 20 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Online Shopping  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Healthcare  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_type_Fund Transfer  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Travel  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 most sent token type_EOS  : 2 , [np.float64(0.0), np.float64(1.0)]
total ether received  : 6194 , [np.float64(0.0), np.float64(586.467)]
is_international_transaction  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_location_Davanagere, Himachal Pradesh  : 2 , [np.float64(0.0), np.float64(1.0)]
Time Diff between first and last (Mins)  : 7810 , [np.float64(-0.0), np.float64(704785.63)]
 ERC20 most sent token type_OmiseGO  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_type_Credit Card  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Financial Services  : 2 , [np.float64(-0.0), np.float64(1.0)]
type_DEBIT  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Education  : 2 , [np.float64(0.0), np.float64(1.0)]
Unique Sent To Addresses  : 258 , [np.float64(0.0), np.float64(118.0)]
min val sent  : 2148 , [np.float64(0.0), np.float64(0.05)]
avg value sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20_most_rec_token_type_Blockwell say NOTSAFU  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Electronics  : 2 , [np.float64(0.0), np.float64(1.0)]
Received Tnx  : 727 , [np.float64(0.0), np.float64(89.0)]
Unique Received From Addresses  : 256 , [np.float64(-0.0), np.float64(40.0)]
 ERC20 uniq sent addr  : 107 , [np.float64(0.0), np.float64(30.0)]
Avg min between received tnx  : 6223 , [np.float64(-0.0), np.float64(1093.71)]
transaction_type_Net Banking  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Fuel  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 max val rec  : 2424 , [np.float64(0.0), np.float64(15000000.0)]
min value sent to contract  : 3 , [np.float64(0.0), np.float64(0.02)]
transaction_status_Success  : 2 , [np.float64(1.0), np.float64(0.0)]
transaction_type_UPI  : 2 , [np.float64(0.0), np.float64(1.0)]
max val sent  : 5277 , [np.float64(0.0), np.float64(31.22)]
total ether sent contracts  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20 uniq rec contract addr  : 123 , [np.float64(0.0), np.float64(58.0)]
Sent tnx  : 641 , [np.float64(-0.0), np.float64(721.0)]
Avg min between sent tnx  : 5013 , [np.float64(0.0), np.float64(844.26)]
 ERC20 avg val sent  : 1296 , [np.float64(0.0), np.float64(271779.92)]
max value received   : 4989 , [np.float64(0.0), np.float64(45.807)]
transaction_type_Debit Card  : 2 , [np.float64(0.0), np.float64(1.0)]
avg val received  : 4029 , [np.float64(0.0), np.float64(6.59)]
 ERC20 max val sent  : 1112 , [np.float64(0.0), np.float64(16830998.35)]
 ERC20 uniq sent token name  : 70 , [np.float64(0.0), np.float64(39.0)]
TransactionAmt  : 101054 , [np.float64(2100.0), np.float64(1400.0)]
 ERC20 uniq rec token name  : 121 , [np.float64(0.0), np.float64(57.0)]
type_PAYMENT  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 most sent token type_0  : 2 , [np.float64(0.0), np.float64(1.0)]
step  : 459 , [np.float64(0.0), np.float64(162.0)]
 ERC20_most_rec_token_type_OmiseGO  : 2 , [np.float64(0.0), np.float64(1.0)]
device_used_POS  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20_most_rec_token_type_Livepeer Token  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Dining  : 2 , [np.float64(1.0), np.float64(0.0)]
transaction_location_Siwan, Sikkim  : 2 , [np.float64(0.0), np.float64(1.0)]
type_TRANSFER  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 uniq rec addr  : 147 , [np.float64(-0.0), np.float64(54.0)]
device_used_Mobile  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20_most_rec_token_type_DATAcoin  : 2 , [np.float64(0.0), np.float64(1.0)]
total Ether sent  : 5112 , [np.float64(0.0), np.float64(865.691)]
min value received  : 2235 , [np.float64(0.0), np.float64(0.113)]
 ERC20 uniq sent addr.1  : 4 , [np.float64(0.0), np.float64(1.0)]
 ERC20 avg val rec  : 3113 , [np.float64(0.0), np.float64(265586.148)]
 ERC20 total Ether sent contract  : 14 , [np.float64(0.0), np.float64(214367.494)]
newbalanceDest  : 61351 , [np.float64(0.0), np.float64(566378.51)]
oldbalanceDest  : 57396 , [np.float64(0.0), np.float64(382572.19)]
 ERC20 min val sent  : 444 , [np.float64(0.0), np.float64(2.261)]
 ERC20 most sent token type_Others  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 min val rec  : 900 , [np.float64(0.0), np.float64(600.0)]
type_CASH_OUT  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Entertainment  : 2 , [np.float64(0.0), np.float64(1.0)]

In [ ]:
print(a,b)

[2, 2, 300, 54092, 2, 42997, 2, 2, 1415, 2, 2, 2, 2, 2, 3460, 5854, 5717, 4, 2, 30267, 20, 2, 2, 2, 2, 2, 6728, 2, 2, 7810, 2, 2, 2, 2, 2, 258, 4719, 4, 2, 2, 727, 256, 107, 6223, 2, 2, 2647, 3, 2, 2, 6647, 4, 123, 641, 5013, 1309, 6302, 2, 6767, 1130, 70, 101058, 121, 2, 2, 459, 2, 2, 2, 2, 2, 2, 147, 2, 2, 5868, 4589, 4, 3380, 29, 61351, 57396, 476, 2, 1276, 2, 2] [2, 2, 300, 54092, 2, 42997, 2, 2, 1290, 2, 2, 2, 2, 2, 3190, 3903, 2942, 4, 2, 30267, 20, 2, 2, 2, 2, 2, 6194, 2, 2, 7810, 2, 2, 2, 2, 2, 258, 2148, 4, 2, 2, 727, 256, 107, 6223, 2, 2, 2424, 3, 2, 2, 5277, 4, 123, 641, 5013, 1296, 4989, 2, 4029, 1112, 70, 101054, 121, 2, 2, 459, 2, 2, 2, 2, 2, 2, 147, 2, 2, 5112, 2235, 4, 3113, 14, 61351, 57396, 444, 2, 900, 2, 2]

In [ ]:
print(b)

[2, 2, 300, 54092, 2, 42997, 2, 2, 1290, 2, 2, 2, 2, 2, 3190, 3903, 2942, 4, 2, 30267, 20, 2, 2, 2, 2, 2, 6194, 2, 2, 7810, 2, 2, 2, 2, 2, 258, 2148, 4, 2, 2, 727, 256, 107, 6223, 2, 2, 2424, 3, 2, 2, 5277, 4, 123, 641, 5013, 1296, 4989, 2, 4029, 1112, 70, 101054, 121, 2, 2, 459, 2, 2, 2, 2, 2, 2, 147, 2, 2, 5112, 2235, 4, 3113, 14, 61351, 57396, 444, 2, 900, 2, 2]

In [ ]:
print(imputed_data.isnull().sum())

isFraud                               0
transaction_type_EMI Payment          0
 Total ERC20 tnxs                     0
oldbalanceOrg                         0
transaction_type_Deposit              0
                                     ..
 ERC20 min val sent                   0
 ERC20 most sent token type_Others    0
 ERC20 min val rec                    0
type_CASH_OUT                         0
merchant_category_Entertainment       0
Length: 87, dtype: int64

In [ ]:
df2 = pd.concat([imputed_data, a[["TransactionID", "dataset_name"]]], axis=1)

In [ ]:
df2.to_csv("/content/drive/MyDrive/Assigments/vae_index_data.csv")

In [ ]:
imputed_data.to_csv("/content/drive/MyDrive/Assigments/vae_data_imputed_data.csv")

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming 'imputed_data' is your full DataFrame
train_df, test_df = train_test_split(imputed_data, test_size=0.2, random_state=42)

# Optional: Check the size
print("Train shape:", train_df.shape)
print("Test shape:", test_df.shape)

Train shape: (127872, 87)
Test shape: (31969, 87)

In [ ]:
train_df.to_csv("/content/drive/MyDrive/Assigments/vae_train.csv")
test_df.to_csv("/content/drive/MyDrive/Assigments/vae_test.csv")

In [ ]:
# import pandas as pd

# # Ensure pandas doesn't truncate the column output
# pd.set_option('display.max_rows', None)

# # Then print the null counts
# print(df2.isnull().sum())

isFraud                                              0
transaction_type_EMI Payment                         0
 Total ERC20 tnxs                                    0
oldbalanceOrg                                        0
transaction_type_Deposit                             0
newbalanceOrig                                       0
 ERC20_most_rec_token_type_Others                    0
merchant_category_Utilities                          0
 ERC20 total ether sent                              0
 ERC20 most sent token type_Golem                    0
device_used_Web                                      0
transaction_type_Bill Payment                        0
transaction_type_Loan Disbursement                   0
merchant_category_Groceries                          0
 ERC20 total Ether received                          0
avg val sent                                         0
total ether balance                                  0
max val sent to contract                             0
transaction_location_Kalyan-Dombivli, Nagaland       0
account_balance_after_transaction                    0
Number of Created Contracts                          0
merchant_category_Online Shopping                    0
merchant_category_Healthcare                         0
transaction_type_Fund Transfer                       0
merchant_category_Travel                             0
 ERC20 most sent token type_EOS                      0
total ether received                                 0
is_international_transaction                         0
transaction_location_Davanagere, Himachal Pradesh    0
Time Diff between first and last (Mins)              0
 ERC20 most sent token type_OmiseGO                  0
transaction_type_Credit Card                         0
merchant_category_Financial Services                 0
type_DEBIT                                           0
merchant_category_Education                          0
Unique Sent To Addresses                             0
min val sent                                         0
avg value sent to contract                           0
 ERC20_most_rec_token_type_Blockwell say NOTSAFU     0
merchant_category_Electronics                        0
Received Tnx                                         0
Unique Received From Addresses                       0
 ERC20 uniq sent addr                                0
Avg min between received tnx                         0
transaction_type_Net Banking                         0
merchant_category_Fuel                               0
 ERC20 max val rec                                   0
min value sent to contract                           0
transaction_status_Success                           0
transaction_type_UPI                                 0
max val sent                                         0
total ether sent contracts                           0
 ERC20 uniq rec contract addr                        0
Sent tnx                                             0
Avg min between sent tnx                             0
 ERC20 avg val sent                                  0
max value received                                   0
transaction_type_Debit Card                          0
avg val received                                     0
 ERC20 max val sent                                  0
 ERC20 uniq sent token name                          0
TransactionAmt                                       0
 ERC20 uniq rec token name                           0
type_PAYMENT                                         0
 ERC20 most sent token type_0                        0
step                                                 0
 ERC20_most_rec_token_type_OmiseGO                   0
device_used_POS                                      0
 ERC20_most_rec_token_type_Livepeer Token            0
merchant_category_Dining                             0
transaction_location_Siwan, Sikkim                   0
type_TRANSFER                                        0
 ERC20 uniq rec addr                                 0
device_used_Mobile                                   0
 ERC20_most_rec_token_type_DATAcoin                  0
total Ether sent                                     0
min value received                                   0
 ERC20 uniq sent addr.1                              0
 ERC20 avg val rec                                   0
 ERC20 total Ether sent contract                     0
newbalanceDest                                       0
oldbalanceDest                                       0
 ERC20 min val sent                                  0
 ERC20 most sent token type_Others                   0
 ERC20 min val rec                                   0
type_CASH_OUT                                        0
merchant_category_Entertainment                      0
TransactionID                                        0
dataset_name                                         0
dtype: int64

In [ ]:
imputed_data['merchant_fraud_Kilback LLC'].value_counts()

WALLSMATERIAL_MODE_Stone, brick
0.211    50000
0.000    39446
1.000    10554
Name: count, dtype: int64

In [ ]:
imputed_data1=imputed_data.iloc[:,:30]

In [ ]:
imputed_data

In [ ]:
imputed_data1.to_csv('test.csv')

In [ ]:
imputed_data_round = imputed_data.round(0)
imputed_data_round

,amt,lat,long,city_pop,merch_lat,merch_long,merchant_fraud_Cormier LLC,merchant_fraud_Kilback LLC,merchant_fraud_Kuhn LLC,merchant_fraud_Schumm PLC,...,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_Others,EMERGENCYSTATE_MODE_Yes,is_fraud
0,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3.0,37.0,-91.0,241.0,36.0,-91.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99996,63.0,41.0,-74.0,5950.0,41.0,-74.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99997,52.0,27.0,-82.0,3776.0,26.0,-82.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99998,3.0,35.0,-99.0,540.0,35.0,-98.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99999,104.0,35.0,-99.0,540.0,35.0,-99.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
imputed_data_round['merchant_fraud_Kilback LLC'].value_counts()

merchant_fraud_Kilback LLC
0.0    99829
1.0      171
Name: count, dtype: int64

In [ ]:
imputed_data_round.to_csv('cred+simucred_vae.csv')

In [ ]:
dff=pd.read_csv("C:\Users\adars\final_data_vae.csv")

In [ ]:
for i in imputed_data_round.columns:
    print(i)

In [ ]:
import numpy as np
import torch
from torch.utils.data import DataLoader, TensorDataset
import torch.nn as nn
import torch.nn.functional as F
import pandas as pd

# Load your dataset
# df = pd.read_csv('your_dataset.csv')  # Load your DataFrame here if not already loaded

# Convert DataFrame to a numpy array
data = df_new.to_numpy()

# Convert to PyTorch tensors
data_tensor = torch.tensor(data, dtype=torch.float32)

# Create DataLoader
batch_size = 32
dataset = TensorDataset(data_tensor, data_tensor)
dataloader = DataLoader(dataset, batch_size=batch_size, shuffle=True)

# VAE Model
class Encoder(nn.Module):
    def __init__(self, input_dim, hidden_dim, latent_dim):
        super(Encoder, self).__init__()
        self.fc1 = nn.Linear(input_dim, hidden_dim)
        self.fc_mu = nn.Linear(hidden_dim, latent_dim)
        self.fc_logvar = nn.Linear(hidden_dim, latent_dim)

    def forward(self, x):
        h = F.relu(self.fc1(x))
        mu = self.fc_mu(h)
        logvar = self.fc_logvar(h)
        return mu, logvar

class Decoder(nn.Module):
    def __init__(self, latent_dim, hidden_dim, output_dim):
        super(Decoder, self).__init__()
        self.fc1 = nn.Linear(latent_dim, hidden_dim)
        self.fc2 = nn.Linear(hidden_dim, output_dim)

    def forward(self, z):
        h = F.relu(self.fc1(z))
        x_reconstructed = torch.sigmoid(self.fc2(h))
        return x_reconstructed

class VAE(nn.Module):
    def __init__(self, input_dim, hidden_dim, latent_dim):
        super(VAE, self).__init__()
        self.encoder = Encoder(input_dim, hidden_dim, latent_dim)
        self.decoder = Decoder(latent_dim, hidden_dim, input_dim)

    def reparameterize(self, mu, logvar):
        std = torch.exp(0.5 * logvar)
        eps = torch.randn_like(std)
        return mu + eps * std

    def forward(self, x):
        mu, logvar = self.encoder(x)
        z = self.reparameterize(mu, logvar)
        x_reconstructed = self.decoder(z)
        return x_reconstructed, mu, logvar

def vae_loss(reconstructed_x, x, mu, logvar):
    reconstruction_loss = F.mse_loss(reconstructed_x, x, reduction='sum')
    kl_divergence = -0.5 * torch.sum(1 + logvar - mu.pow(2) - logvar.exp())
    return reconstruction_loss + kl_divergence

# Training
input_dim = data.shape[1]
hidden_dim = 64
latent_dim = 2
vae = VAE(input_dim, hidden_dim, latent_dim)
optimizer = torch.optim.Adam(vae.parameters(), lr=1e-3)

num_epochs = 100
vae.train()
for epoch in range(num_epochs):
    for batch in dataloader:
        x, _ = batch
        optimizer.zero_grad()
        reconstructed_x, mu, logvar = vae(x)
        loss = vae_loss(reconstructed_x, x, mu, logvar)
        loss.backward()
        optimizer.step()

    print(f'Epoch {epoch+1}, Loss: {loss.item()}')

# Generating Synthetic Data
vae.eval()
with torch.no_grad():
    z = torch.randn(100, latent_dim)
    generated_samples = vae.decoder(z)
    generated_samples = generated_samples.numpy()
    print(generated_samples)

In [ ]:
data=df_new

In [ ]:
# import numpy as np
# import pandas as pd
# import tensorflow as tf
# from tensorflow.keras.layers import Input, Dense, Lambda
# from tensorflow.keras.models import Model
# from tensorflow.keras import backend as K
# from sklearn.preprocessing import MinMaxScaler

# # Example DataFrame
# # Replace this with your own dataset loading and preprocessing steps

# # Scale the data
# scaler = MinMaxScaler()
# data_scaled = scaler.fit_transform(df_new)

# # Define the VAE architecture
# original_dim = data.shape[1]
# intermediate_dim = 10
# latent_dim = 2
# batch_size = 10
# epochs = 50

# # Encoder
# inputs = Input(shape=(original_dim,))
# h = Dense(intermediate_dim, activation='relu')(inputs)
# z_mean = Dense(latent_dim)(h)
# z_log_var = Dense(latent_dim)(h)

# # Sampling function
# def sampling(args):
#     z_mean, z_log_var = args
#     epsilon = K.random_normal(shape=(K.shape(z_mean)[0], latent_dim))
#     return z_mean + K.exp(0.5 * z_log_var) * epsilon

# # Reparameterization trick
# z = Lambda(sampling, output_shape=(latent_dim,))([z_mean, z_log_var])

# # Decoder
# decoder_h = Dense(intermediate_dim, activation='relu')
# decoder_mean = Dense(original_dim, activation='sigmoid')
# h_decoded = decoder_h(z)
# x_decoded_mean = decoder_mean(h_decoded)

# # VAE model
# vae = Model(inputs, x_decoded_mean)

# # Loss function
# xent_loss = original_dim * tf.keras.losses.binary_crossentropy(inputs, x_decoded_mean)
# kl_loss = -0.5 * tf.reduce_sum(1 + z_log_var - tf.square(z_mean) - tf.exp(z_log_var), axis=-1)
# vae_loss = tf.reduce_mean(xent_loss + kl_loss)

# vae.add_loss(vae_loss)
# vae.compile(optimizer='adam')

# # Training
# vae.fit(data_scaled, epochs=epochs, batch_size=batch_size, verbose=0)

# # Impute missing values using the trained VAE
# data_imputed_scaled = vae.predict(data_scaled)

# # Inverse transform scaling
# data_imputed = scaler.inverse_transform(data_imputed_scaled)

# # Replace the missing values in original data with imputed values
# data_filled = data.copy()
# data_filled.values[missing_mask] = data_imputed[missing_mask]

# # Now data_filled contains your DataFrame with missing values imputed using VAE

# # Example of how to use the imputed data
# print("Original Data:")
# print(data)
# print("\nData with Missing Values:")
# print(data_missing)
# print("\nImputed Data:")
# print(data_filled)