In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("/content/drive/MyDrive/Train/data/NewFullInsuranceFraudData.csv",low_memory=False)
# df=df.iloc[:,1:]

In [8]:
"IsFraud" in df.columns.tolist()

True

In [9]:
"TransactionID" in df.columns.tolist()

True

In [10]:
print(df.columns.tolist())

['AgeOfVehicle_7 years', 'dataset_name', 'NoOfMonths_PartACov_11', 'NumberOfCars_3 to 4', 'RenalDiseaseIndicator', 'Days:Policy-Accident_1 to 7', 'PolicyType_Sedan - Collision', 'umbrella_limit_0', 'SOCIAL_CLASS_MI', 'MaritalStatus_Single', 'PastNumberOfClaims_more than 4', 'NoOfMonths_PartACov_8', 'AgeOfVehicle_new', 'ChronicCond_Osteoporasis_2', 'witnesses_1', 'DriverRating_1', 'CITY_Nashville', 'number_of_vehicles_involved_1', 'incident_state_SC', 'INCIDENT_CITY_Manchester', 'CUSTOMER_EDUCATION_LEVEL_High School', 'VehiclePrice_20,000 to 29,000', 'incident_city_Arlington', 'STATE_AR', 'ChronicCond_ObstrPulmonary_2', 'insured_hobbies_bungie-jumping', 'AUTHORITY_CONTACTED_Police', 'auto_model_MDX', 'authorities_contacted_Police', 'DayOfWeekClaimed_Monday', 'WeekOfMonth_5', 'INCIDENT_CITY_Glendale', 'insured_education_level_JD', 'insured_relationship_unmarried', 'Police_Report', 'CUSTOMER_EDUCATION_LEVEL_Bachelor', 'MonthClaimed_Mar', 'insured_education_level_Associate', 'IPAnnualReimbursementAmt', 'CUSTOMER_EDUCATION_LEVEL_MD', 'MonthClaimed_Jun', 'Month_Oct', 'VehiclePrice_more than 69,000', 'witnesses_2', 'Gender', 'property_damage_YES', 'BasePolicy_Collision', 'MaritalStatus_Divorced', 'NumberOfSuppliments_3 to 5', 'incident_severity_Trivial Damage', 'Days:Policy-Accident_none', 'number_of_vehicles_involved_3', 'Days:Policy-Claim_8 to 15', 'witnesses_3', 'insured_occupation_sales', 'ChronicCond_stroke', 'collision_type_Front Collision', 'NoOfMonths_PartBCov_6', 'NumberOfCars_1 vehicle', 'NumberOfCars_2 vehicles', 'NO_OF_FAMILY_MEMBERS_7', 'Days:Policy-Accident_8 to 15', 'AddressChange-Claim_4 to 8 years', 'INCIDENT_SEVERITY_Minor Loss', 'INCIDENT_SEVERITY_Major Loss', 'bodily_injuries_0', 'AgeOfPolicyHolder_36 to 40', 'STATE_TN', 'MARITAL_STATUS_Y', 'RISK_SEGMENTATION_H', 'WitnessPresent_Yes', 'authorities_contacted_Ambulance', 'incident_state_WV', 'SOCIAL_CLASS_LI', 'property_claim', 'INCIDENT_CITY_Montgomery', 'capital-loss', 'NoOfMonths_PartBCov_10', 'NoOfMonths_PartBCov_12', 'HOUSE_TYPE_Own', 'NumberOfCars_5 to 8', 'ChronicCond_Diabetes_2', 'ANY_INJURY', 'CITY_Manchester', 'Make_Chevrolet', 'bodily_injuries_2', 'NO_OF_FAMILY_MEMBERS_5', 'NoOfMonths_PartACov_0', 'auto_make_Suburu', 'insured_occupation_machine-op-inspct', 'MonthClaimed_Oct', 'bodily_injuries_1', 'auto_make_Saab', 'CUSTOMER_EDUCATION_LEVEL_College', 'ChronicCond_Heartfailure_2', 'WeekOfMonth_4', 'DayOfWeek_Friday', 'auto_year', 'HOUSE_TYPE_Rent', 'CITY_Montgomery', 'incident_state_NY', 'Make_Mazda', 'ChronicCond_Cancer_2', 'Days:Policy-Accident_more than 30', 'auto_make_Chevrolet', 'auto_model_A3', 'AUTHORITY_CONTACTED_Ambulance', 'DayOfWeekClaimed_Tuesday', 'NO_OF_FAMILY_MEMBERS_2', 'Premium', 'AgeOfVehicle_5 years', 'STATE_CO', 'WeekOfMonth_1', 'number_of_vehicles_involved_4', 'witnesses_0', 'vehicle_claim', 'INSURANCE_TYPE_Mobile', 'EMPLOYMENT_STATUS_Y', 'NO_OF_FAMILY_MEMBERS_4', 'RISK_SEGMENTATION_M', 'policy_state_OH', 'insured_relationship_other-relative', 'incident_severity_Total Loss', 'VehiclePrice_30,000 to 39,000', 'insured_education_level_High School', 'PastNumberOfClaims_none', 'insured_relationship_not-in-family', 'insured_relationship_own-child', 'insured_education_level_Masters', 'collision_type_Side Collision', 'insured_occupation_exec-managerial', 'INSURANCE_TYPE_Property', 'OPAnnualDeductibleAmt', 'Month_Mar', 'insured_relationship_husband', 'MonthClaimed_Jan', 'Claim_Amount', 'INCIDENT_CITY_Arvada', 'NoOfMonths_PartBCov_11', 'OPAnnualReimbursementAmt', 'STATE_CA', 'PastNumberOfClaims_1', 'LOSS_TO_TXN_DELAY', 'umbrella_limit_7000000', 'DayOfWeekClaimed_Thursday', 'Days:Policy-Accident_15 to 30', 'ClaimDuration', 'NumberOfCars_more than 8', 'Make_Toyota', 'DayOfWeek_Thursday', 'CITY_Fayetteville', 'IPAnnualDeductibleAmt', 'DriverRating_4', 'DayOfWeek_Monday', 'incident_city_Springfield', 'ChronicCond_KidneyDisease_2', 'MaritalStatus_Widow', 'VehiclePrice_40,000 to 59,000', 'NumberOfSuppliments_1 to 2', 'ChronicCond_Depression_2', 'Make_Honda', 'incident_city_Northbrook', 'INCIDENT_CITY_Washington', 'Fault_Third Party', 'property_damage_NO', 'DayOfWeekClaimed_Wednesday', 'VehicleCategory_Sport', 'MaritalStatus_Married', 'HOUSE_TYPE_Mortgage', 'policy_deductable_500', 'incident_state_NC', 'SOCIAL_CLASS_HI', 'policy_csl_100/300', 'insured_occupation_prof-specialty', 'Deductible', 'Month_May', 'insured_education_level_PhD', 'insured_education_level_College', 'MonthClaimed_May', 'policy_deductable_1000', 'INSURANCE_TYPE_Health', 'AgeOfPolicyHolder_51 to 65', 'PolicyType_Sedan - Liability', 'IsInpatient', 'AgeOfPolicyHolder_31 to 35', 'Make_Pontiac', 'injury_claim', 'insured_hobbies_exercise', 'INSURANCE_TYPE_Travel', 'DayOfWeekClaimed_Friday', 'auto_model_Neon', 'VehicleCategory_Sedan', 'VehicleCategory_Utility', 'VehiclePrice_less than 20,000', 'AddressChange-Claim_under 6 months', 'INSURANCE_TYPE_Motor', 'auto_make_Dodge', 'DayOfWeek_Wednesday', 'policy_deductable_2000', 'insured_occupation_tech-support', 'AddressChange-Claim_1 year', 'capital-gains', 'NumberOfSuppliments_more than 5', 'ChronicCond_rheumatoidarthritis_2', 'Tenure', 'incident_city_Riverwood', 'umbrella_limit_6000000', 'AddressChange-Claim_2 to 3 years', 'PolicyType_Sedan - All Perils', 'DriverRating_3', 'INSURANCE_TYPE_Life', 'NoOfMonths_PartACov_12', 'DriverRating_2', 'policy_state_IN', 'STATE_FL', 'incident_type_Vehicle Theft', 'insured_hobbies_paintball', 'CITY_Washington', 'NoOfMonths_PartACov_6', 'AgeOfPolicyHolder_41 to 50', 'Month_Jun', 'PolicyType_Utility - All Perils', 'insured_hobbies_reading', 'WeekOfMonthClaimed', 'BasePolicy_All Perils', 'umbrella_limit_4000000', 'WeekOfMonth_3', 'incident_type_Parked Car', 'AgentType_Internal', 'AccidentArea_Urban', 'Age', 'incident_severity_Minor Damage', 'InscClaimAmtReimbursed', 'authorities_contacted_Fire', 'TransactionID', 'NO_OF_FAMILY_MEMBERS_3', 'auto_model_Wrangler', 'auto_model_RAM', 'POLICY_AGE_DAYS', 'Days:Policy-Claim_15 to 30', 'AgeOfPolicyHolder_26 to 30', 'incident_city_Northbend', 'auto_make_Nissan', 'policy_state_IL', 'REPORT_DELAY_DAYS', 'insured_education_level_MD', 'policy_csl_500/1000', 'incident_type_Multi-vehicle Collision', 'INCIDENT_SEVERITY_Total Loss', 'DayOfWeek_Tuesday', 'incident_severity_Major Damage', 'incident_state_VA', 'BasePolicy_Liability', 'ChronicCond_Alzheimer_2', 'insured_hobbies_movies', 'IsDead', 'incident_type_Single Vehicle Collision', 'insured_relationship_wife', 'Month_Jan', 'umbrella_limit_5000000', 'AgeOfVehicle_6 years', 'incident_city_Hillsdale', 'RISK_SEGMENTATION_L', 'PastNumberOfClaims_2 to 4', 'WeekOfMonth_2', 'PolicyType_Sport - Collision', 'AgeOfVehicle_more than 7', 'NoOfMonths_PartBCov_0', 'property_damage_?', 'NumberOfSuppliments_none', 'incident_city_Columbus', 'AddressChange-Claim_no change', 'CUSTOMER_EDUCATION_LEVEL_Masters', 'NO_OF_FAMILY_MEMBERS_6', 'IsFraud', 'Days:Policy-Claim_more than 30', 'Incident_Hour', 'number_of_vehicles_involved_2', 'policy_csl_250/500', 'collision_type_Rear Collision', 'Days:Policy-Claim_none']

In [11]:
def display(matching_rows):
    print("counting list of Uniquic all featurs")
    li=[]
    for i in matching_rows.columns:
        #print(str(i),' :',len(matching_rows[i].unique()),matching_rows[i].unique())
        print(str(i), ' :', matching_rows[i].nunique(),',',list(matching_rows[i].unique())[:2])
        li.append(matching_rows[i].nunique())
    #return li
        # if(matching_rows[i].nunique()<50):
        #     print(str(i),' :',matching_rows[i].unique())

In [12]:
display(df)

counting list of Uniquic all featurs
AgeOfVehicle_7 years  : 2 , [np.float64(nan), np.float64(0.0)]
dataset_name  : 4 , ['Insurance Fraud Detection', 'Insurance Claims Fraud Data']
NoOfMonths_PartACov_11  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfCars_3 to 4  : 2 , [np.float64(nan), np.float64(1.0)]
RenalDiseaseIndicator  : 2 , [np.float64(nan), np.float64(0.0)]
Days:Policy-Accident_1 to 7  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sedan - Collision  : 2 , [np.float64(nan), np.float64(0.0)]
umbrella_limit_0  : 2 , [np.float64(1.0), np.float64(0.0)]
SOCIAL_CLASS_MI  : 2 , [np.float64(nan), np.float64(0.0)]
MaritalStatus_Single  : 2 , [np.float64(nan), np.float64(1.0)]
PastNumberOfClaims_more than 4  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_8  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfVehicle_new  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Osteoporasis_2  : 2 , [np.float64(nan), np.float64(1.0)]
witnesses_1  : 2 , [np.float64(0.0), np.float64(1.0)]
DriverRating_1  : 2 , [np.float64(nan), np.float64(1.0)]
CITY_Nashville  : 2 , [np.float64(nan), np.float64(0.0)]
number_of_vehicles_involved_1  : 2 , [np.float64(1.0), np.float64(0.0)]
incident_state_SC  : 2 , [np.float64(1.0), np.float64(0.0)]
INCIDENT_CITY_Manchester  : 2 , [np.float64(nan), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_High School  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_20,000 to 29,000  : 2 , [np.float64(nan), np.float64(0.0)]
incident_city_Arlington  : 2 , [np.float64(0.0), np.float64(1.0)]
STATE_AR  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_ObstrPulmonary_2  : 2 , [np.float64(nan), np.float64(1.0)]
insured_hobbies_bungie-jumping  : 2 , [np.float64(0.0), np.float64(1.0)]
AUTHORITY_CONTACTED_Police  : 2 , [np.float64(nan), np.float64(1.0)]
auto_model_MDX  : 2 , [np.float64(0.0), np.float64(1.0)]
authorities_contacted_Police  : 2 , [np.float64(1.0), np.float64(0.0)]
DayOfWeekClaimed_Monday  : 2 , [np.float64(nan), np.float64(0.0)]
WeekOfMonth_5  : 2 , [np.float64(nan), np.float64(1.0)]
INCIDENT_CITY_Glendale  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_JD  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_relationship_unmarried  : 2 , [np.float64(0.0), np.float64(1.0)]
Police_Report  : 2 , [np.float64(1.0), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_Bachelor  : 2 , [np.float64(nan), np.float64(1.0)]
MonthClaimed_Mar  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_Associate  : 2 , [np.float64(0.0), np.float64(1.0)]
IPAnnualReimbursementAmt  : 3004 , [np.float64(nan), np.float64(36000.0)]
CUSTOMER_EDUCATION_LEVEL_MD  : 2 , [np.float64(nan), np.float64(0.0)]
MonthClaimed_Jun  : 2 , [np.float64(nan), np.float64(0.0)]
Month_Oct  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_more than 69,000  : 2 , [np.float64(nan), np.float64(1.0)]
witnesses_2  : 2 , [np.float64(1.0), np.float64(0.0)]
Gender  : 2 , [np.float64(1.0), np.float64(0.0)]
property_damage_YES  : 2 , [np.float64(1.0), np.float64(0.0)]
BasePolicy_Collision  : 2 , [np.float64(nan), np.float64(0.0)]
MaritalStatus_Divorced  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfSuppliments_3 to 5  : 2 , [np.float64(nan), np.float64(0.0)]
incident_severity_Trivial Damage  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Accident_none  : 2 , [np.float64(nan), np.float64(0.0)]
number_of_vehicles_involved_3  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Claim_8 to 15  : 2 , [np.float64(nan), np.float64(0.0)]
witnesses_3  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_sales  : 2 , [np.float64(0.0), np.float64(1.0)]
ChronicCond_stroke  : 2 , [np.float64(nan), np.float64(1.0)]
collision_type_Front Collision  : 2 , [np.float64(0.0), np.float64(1.0)]
NoOfMonths_PartBCov_6  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfCars_1 vehicle  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfCars_2 vehicles  : 2 , [np.float64(nan), np.float64(0.0)]
NO_OF_FAMILY_MEMBERS_7  : 2 , [np.float64(nan), np.float64(0.0)]
Days:Policy-Accident_8 to 15  : 2 , [np.float64(nan), np.float64(0.0)]
AddressChange-Claim_4 to 8 years  : 2 , [np.float64(nan), np.float64(0.0)]
INCIDENT_SEVERITY_Minor Loss  : 2 , [np.float64(nan), np.float64(0.0)]
INCIDENT_SEVERITY_Major Loss  : 2 , [np.float64(nan), np.float64(1.0)]
bodily_injuries_0  : 2 , [np.float64(0.0), np.float64(1.0)]
AgeOfPolicyHolder_36 to 40  : 2 , [np.float64(nan), np.float64(0.0)]
STATE_TN  : 2 , [np.float64(nan), np.float64(0.0)]
MARITAL_STATUS_Y  : 2 , [np.float64(nan), np.float64(1.0)]
RISK_SEGMENTATION_H  : 2 , [np.float64(nan), np.float64(0.0)]
WitnessPresent_Yes  : 2 , [np.float64(nan), np.float64(0.0)]
authorities_contacted_Ambulance  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_state_WV  : 2 , [np.float64(0.0), np.float64(1.0)]
SOCIAL_CLASS_LI  : 2 , [np.float64(nan), np.float64(1.0)]
property_claim  : 626 , [np.float64(13020.0), np.float64(780.0)]
INCIDENT_CITY_Montgomery  : 2 , [np.float64(nan), np.float64(0.0)]
capital-loss  : 354 , [np.float64(0.0), np.float64(-62400.0)]
NoOfMonths_PartBCov_10  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartBCov_12  : 2 , [np.float64(nan), np.float64(1.0)]
HOUSE_TYPE_Own  : 2 , [np.float64(nan), np.float64(1.0)]
NumberOfCars_5 to 8  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Diabetes_2  : 2 , [np.float64(nan), np.float64(0.0)]
ANY_INJURY  : 2 , [np.float64(nan), np.float64(0.0)]
CITY_Manchester  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Chevrolet  : 2 , [np.float64(nan), np.float64(0.0)]
bodily_injuries_2  : 2 , [np.float64(0.0), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_5  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_0  : 2 , [np.float64(nan), np.float64(0.0)]
auto_make_Suburu  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_machine-op-inspct  : 2 , [np.float64(0.0), np.float64(1.0)]
MonthClaimed_Oct  : 2 , [np.float64(nan), np.float64(0.0)]
bodily_injuries_1  : 2 , [np.float64(1.0), np.float64(0.0)]
auto_make_Saab  : 2 , [np.float64(1.0), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_College  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Heartfailure_2  : 2 , [np.float64(nan), np.float64(1.0)]
WeekOfMonth_4  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Friday  : 2 , [np.float64(nan), np.float64(0.0)]
auto_year  : 21 , [np.float64(2004.0), np.float64(2007.0)]
HOUSE_TYPE_Rent  : 2 , [np.float64(nan), np.float64(0.0)]
CITY_Montgomery  : 2 , [np.float64(nan), np.float64(0.0)]
incident_state_NY  : 2 , [np.float64(0.0), np.float64(1.0)]
Make_Mazda  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Cancer_2  : 2 , [np.float64(nan), np.float64(1.0)]
Days:Policy-Accident_more than 30  : 2 , [np.float64(nan), np.float64(1.0)]
auto_make_Chevrolet  : 2 , [np.float64(0.0), np.float64(1.0)]
auto_model_A3  : 2 , [np.float64(0.0), np.float64(1.0)]
AUTHORITY_CONTACTED_Ambulance  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeekClaimed_Tuesday  : 2 , [np.float64(nan), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_2  : 2 , [np.float64(nan), np.float64(0.0)]
Premium  : 7541 , [np.float64(1406.91), np.float64(1197.22)]
AgeOfVehicle_5 years  : 2 , [np.float64(nan), np.float64(0.0)]
STATE_CO  : 2 , [np.float64(nan), np.float64(0.0)]
WeekOfMonth_1  : 2 , [np.float64(nan), np.float64(0.0)]
number_of_vehicles_involved_4  : 2 , [np.float64(0.0), np.float64(1.0)]
witnesses_0  : 2 , [np.float64(0.0), np.float64(1.0)]
vehicle_claim  : 726 , [np.float64(52080.0), np.float64(3510.0)]
INSURANCE_TYPE_Mobile  : 2 , [np.float64(nan), np.float64(0.0)]
EMPLOYMENT_STATUS_Y  : 2 , [np.float64(nan), np.float64(1.0)]
NO_OF_FAMILY_MEMBERS_4  : 2 , [np.float64(nan), np.float64(0.0)]
RISK_SEGMENTATION_M  : 2 , [np.float64(nan), np.float64(0.0)]
policy_state_OH  : 2 , [np.float64(1.0), np.float64(0.0)]
insured_relationship_other-relative  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_severity_Total Loss  : 2 , [np.float64(0.0), np.float64(1.0)]
VehiclePrice_30,000 to 39,000  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_High School  : 2 , [np.float64(0.0), np.float64(1.0)]
PastNumberOfClaims_none  : 2 , [np.float64(nan), np.float64(1.0)]
insured_relationship_not-in-family  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_relationship_own-child  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_education_level_Masters  : 2 , [np.float64(0.0), np.float64(1.0)]
collision_type_Side Collision  : 2 , [np.float64(1.0), np.float64(0.0)]
insured_occupation_exec-managerial  : 2 , [np.float64(0.0), np.float64(1.0)]
INSURANCE_TYPE_Property  : 2 , [np.float64(nan), np.float64(0.0)]
OPAnnualDeductibleAmt  : 789 , [np.float64(nan), np.float64(70.0)]
Month_Mar  : 2 , [np.float64(nan), np.float64(0.0)]
insured_relationship_husband  : 2 , [np.float64(1.0), np.float64(0.0)]
MonthClaimed_Jan  : 2 , [np.float64(nan), np.float64(1.0)]
Claim_Amount  : 1399 , [np.float64(71610.0), np.float64(5070.0)]
INCIDENT_CITY_Arvada  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartBCov_11  : 2 , [np.float64(nan), np.float64(0.0)]
OPAnnualReimbursementAmt  : 2078 , [np.float64(nan), np.float64(60.0)]
STATE_CA  : 2 , [np.float64(nan), np.float64(0.0)]
PastNumberOfClaims_1  : 2 , [np.float64(nan), np.float64(0.0)]
LOSS_TO_TXN_DELAY  : 20 , [np.float64(nan), np.float64(16.0)]
umbrella_limit_7000000  : 2 , [np.float64(0.0), np.float64(1.0)]
DayOfWeekClaimed_Thursday  : 2 , [np.float64(nan), np.float64(0.0)]
Days:Policy-Accident_15 to 30  : 2 , [np.float64(nan), np.float64(0.0)]
ClaimDuration  : 37 , [np.float64(nan), np.float64(6.0)]
NumberOfCars_more than 8  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Toyota  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Thursday  : 2 , [np.float64(nan), np.float64(0.0)]
CITY_Fayetteville  : 2 , [np.float64(nan), np.float64(0.0)]
IPAnnualDeductibleAmt  : 147 , [np.float64(nan), np.float64(3204.0)]
DriverRating_4  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Monday  : 2 , [np.float64(nan), np.float64(0.0)]
incident_city_Springfield  : 2 , [np.float64(0.0), np.float64(1.0)]
ChronicCond_KidneyDisease_2  : 2 , [np.float64(nan), np.float64(0.0)]
MaritalStatus_Widow  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_40,000 to 59,000  : 2 , [np.float64(nan), np.float64(0.0)]
NumberOfSuppliments_1 to 2  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_Depression_2  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Honda  : 2 , [np.float64(nan), np.float64(1.0)]
incident_city_Northbrook  : 2 , [np.float64(0.0), np.float64(1.0)]
INCIDENT_CITY_Washington  : 2 , [np.float64(nan), np.float64(0.0)]
Fault_Third Party  : 2 , [np.float64(nan), np.float64(0.0)]
property_damage_NO  : 2 , [np.float64(0.0), np.float64(1.0)]
DayOfWeekClaimed_Wednesday  : 2 , [np.float64(nan), np.float64(0.0)]
VehicleCategory_Sport  : 2 , [np.float64(nan), np.float64(1.0)]
MaritalStatus_Married  : 2 , [np.float64(nan), np.float64(0.0)]
HOUSE_TYPE_Mortgage  : 2 , [np.float64(nan), np.float64(0.0)]
policy_deductable_500  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_state_NC  : 2 , [np.float64(0.0), np.float64(1.0)]
SOCIAL_CLASS_HI  : 2 , [np.float64(nan), np.float64(0.0)]
policy_csl_100/300  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_prof-specialty  : 2 , [np.float64(0.0), np.float64(1.0)]
Deductible  : 22 , [np.float64(nan), np.float64(1068.0)]
Month_May  : 2 , [np.float64(nan), np.float64(0.0)]
insured_education_level_PhD  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_education_level_College  : 2 , [np.float64(0.0), np.float64(1.0)]
MonthClaimed_May  : 2 , [np.float64(nan), np.float64(0.0)]
policy_deductable_1000  : 2 , [np.float64(1.0), np.float64(0.0)]
INSURANCE_TYPE_Health  : 2 , [np.float64(nan), np.float64(1.0)]
AgeOfPolicyHolder_51 to 65  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sedan - Liability  : 2 , [np.float64(nan), np.float64(0.0)]
IsInpatient  : 2 , [np.float64(nan), np.float64(1.0)]
AgeOfPolicyHolder_31 to 35  : 2 , [np.float64(nan), np.float64(0.0)]
Make_Pontiac  : 2 , [np.float64(nan), np.float64(0.0)]
injury_claim  : 638 , [np.float64(6510.0), np.float64(780.0)]
insured_hobbies_exercise  : 2 , [np.float64(0.0), np.float64(1.0)]
INSURANCE_TYPE_Travel  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeekClaimed_Friday  : 2 , [np.float64(nan), np.float64(0.0)]
auto_model_Neon  : 2 , [np.float64(0.0), np.float64(1.0)]
VehicleCategory_Sedan  : 2 , [np.float64(nan), np.float64(0.0)]
VehicleCategory_Utility  : 2 , [np.float64(nan), np.float64(0.0)]
VehiclePrice_less than 20,000  : 2 , [np.float64(nan), np.float64(0.0)]
AddressChange-Claim_under 6 months  : 2 , [np.float64(nan), np.float64(0.0)]
INSURANCE_TYPE_Motor  : 2 , [np.float64(nan), np.float64(0.0)]
auto_make_Dodge  : 2 , [np.float64(0.0), np.float64(1.0)]
DayOfWeek_Wednesday  : 2 , [np.float64(nan), np.float64(1.0)]
policy_deductable_2000  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_occupation_tech-support  : 2 , [np.float64(0.0), np.float64(1.0)]
AddressChange-Claim_1 year  : 2 , [np.float64(nan), np.float64(1.0)]
capital-gains  : 338 , [np.float64(53300.0), np.float64(0.0)]
NumberOfSuppliments_more than 5  : 2 , [np.float64(nan), np.float64(0.0)]
ChronicCond_rheumatoidarthritis_2  : 2 , [np.float64(nan), np.float64(0.0)]
Tenure  : 402 , [np.float64(328.0), np.float64(228.0)]
incident_city_Riverwood  : 2 , [np.float64(0.0), np.float64(1.0)]
umbrella_limit_6000000  : 2 , [np.float64(0.0), np.float64(1.0)]
AddressChange-Claim_2 to 3 years  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sedan - All Perils  : 2 , [np.float64(nan), np.float64(0.0)]
DriverRating_3  : 2 , [np.float64(nan), np.float64(0.0)]
INSURANCE_TYPE_Life  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_12  : 2 , [np.float64(nan), np.float64(1.0)]
DriverRating_2  : 2 , [np.float64(nan), np.float64(0.0)]
policy_state_IN  : 2 , [np.float64(0.0), np.float64(1.0)]
STATE_FL  : 2 , [np.float64(nan), np.float64(0.0)]
incident_type_Vehicle Theft  : 2 , [np.float64(0.0), np.float64(1.0)]
insured_hobbies_paintball  : 2 , [np.float64(0.0), np.float64(1.0)]
CITY_Washington  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartACov_6  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfPolicyHolder_41 to 50  : 2 , [np.float64(nan), np.float64(0.0)]
Month_Jun  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Utility - All Perils  : 2 , [np.float64(nan), np.float64(0.0)]
insured_hobbies_reading  : 2 , [np.float64(0.0), np.float64(1.0)]
WeekOfMonthClaimed  : 5 , [np.float64(nan), np.float64(1.0)]
BasePolicy_All Perils  : 2 , [np.float64(nan), np.float64(0.0)]
umbrella_limit_4000000  : 2 , [np.float64(0.0), np.float64(1.0)]
WeekOfMonth_3  : 2 , [np.float64(nan), np.float64(0.0)]
incident_type_Parked Car  : 2 , [np.float64(0.0), np.float64(1.0)]
AgentType_Internal  : 2 , [np.float64(nan), np.float64(0.0)]
AccidentArea_Urban  : 2 , [np.float64(nan), np.float64(1.0)]
Age  : 87 , [np.int64(48), np.int64(42)]
incident_severity_Minor Damage  : 2 , [np.float64(0.0), np.float64(1.0)]
InscClaimAmtReimbursed  : 438 , [np.float64(nan), np.float64(26000.0)]
authorities_contacted_Fire  : 2 , [np.float64(0.0), np.float64(1.0)]
TransactionID  : 584631 , ['InsuranceFraud_000001', 'InsuranceFraud_000002']
NO_OF_FAMILY_MEMBERS_3  : 2 , [np.float64(nan), np.float64(1.0)]
auto_model_Wrangler  : 2 , [np.float64(0.0), np.float64(1.0)]
auto_model_RAM  : 2 , [np.float64(0.0), np.float64(1.0)]
POLICY_AGE_DAYS  : 3474 , [np.float64(nan), np.float64(1789.0)]
Days:Policy-Claim_15 to 30  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfPolicyHolder_26 to 30  : 2 , [np.float64(nan), np.float64(1.0)]
incident_city_Northbend  : 2 , [np.float64(0.0), np.float64(1.0)]
auto_make_Nissan  : 2 , [np.float64(0.0), np.float64(1.0)]
policy_state_IL  : 2 , [np.float64(0.0), np.float64(1.0)]
REPORT_DELAY_DAYS  : 5 , [np.float64(nan), np.float64(5.0)]
insured_education_level_MD  : 2 , [np.float64(1.0), np.float64(0.0)]
policy_csl_500/1000  : 2 , [np.float64(0.0), np.float64(1.0)]
incident_type_Multi-vehicle Collision  : 2 , [np.float64(0.0), np.float64(1.0)]
INCIDENT_SEVERITY_Total Loss  : 2 , [np.float64(nan), np.float64(0.0)]
DayOfWeek_Tuesday  : 2 , [np.float64(nan), np.float64(0.0)]
incident_severity_Major Damage  : 2 , [np.float64(1.0), np.float64(0.0)]
incident_state_VA  : 2 , [np.float64(0.0), np.float64(1.0)]
BasePolicy_Liability  : 2 , [np.float64(nan), np.float64(1.0)]
ChronicCond_Alzheimer_2  : 2 , [np.float64(nan), np.float64(0.0)]
insured_hobbies_movies  : 2 , [np.float64(0.0), np.float64(1.0)]
IsDead  : 2 , [np.float64(nan), np.float64(0.0)]
incident_type_Single Vehicle Collision  : 2 , [np.float64(1.0), np.float64(0.0)]
insured_relationship_wife  : 2 , [np.float64(0.0), np.float64(1.0)]
Month_Jan  : 2 , [np.float64(nan), np.float64(0.0)]
umbrella_limit_5000000  : 2 , [np.float64(0.0), np.float64(1.0)]
AgeOfVehicle_6 years  : 2 , [np.float64(nan), np.float64(0.0)]
incident_city_Hillsdale  : 2 , [np.float64(0.0), np.float64(1.0)]
RISK_SEGMENTATION_L  : 2 , [np.float64(nan), np.float64(1.0)]
PastNumberOfClaims_2 to 4  : 2 , [np.float64(nan), np.float64(0.0)]
WeekOfMonth_2  : 2 , [np.float64(nan), np.float64(0.0)]
PolicyType_Sport - Collision  : 2 , [np.float64(nan), np.float64(0.0)]
AgeOfVehicle_more than 7  : 2 , [np.float64(nan), np.float64(0.0)]
NoOfMonths_PartBCov_0  : 2 , [np.float64(nan), np.float64(0.0)]
property_damage_?  : 2 , [np.float64(0.0), np.float64(1.0)]
NumberOfSuppliments_none  : 2 , [np.float64(nan), np.float64(1.0)]
incident_city_Columbus  : 2 , [np.float64(1.0), np.float64(0.0)]
AddressChange-Claim_no change  : 2 , [np.float64(nan), np.float64(0.0)]
CUSTOMER_EDUCATION_LEVEL_Masters  : 2 , [np.float64(nan), np.float64(0.0)]
NO_OF_FAMILY_MEMBERS_6  : 2 , [np.float64(nan), np.float64(0.0)]
IsFraud  : 2 , [np.float64(1.0), np.float64(0.0)]
Days:Policy-Claim_more than 30  : 2 , [np.float64(nan), np.float64(1.0)]
Incident_Hour  : 24 , [np.float64(5.0), np.float64(8.0)]
number_of_vehicles_involved_2  : 2 , [np.float64(0.0), np.float64(1.0)]
policy_csl_250/500  : 2 , [np.float64(1.0), np.float64(0.0)]
collision_type_Rear Collision  : 2 , [np.float64(0.0), np.float64(1.0)]
Days:Policy-Claim_none  : 2 , [np.float64(nan), np.float64(0.0)]

In [13]:
df.shape

(584631, 281)

In [14]:
df.value_counts("IsFraud")

IsFraud
0.0    370162
1.0    214469
Name: count, dtype: int64

In [15]:
df['IsFraud'].value_counts()/len(df)

IsFraud
0.0    0.633155
1.0    0.366845
Name: count, dtype: float64

In [16]:
a =df.copy()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584631 entries, 0 to 584630
Columns: 281 entries, AgeOfVehicle_7 years to Days:Policy-Claim_none
dtypes: float64(278), int64(1), object(2)
memory usage: 1.2+ GB

In [18]:
import pandas as pd

# Set option to show all columns when printing
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)      # If needed for rows
pd.set_option('display.max_colwidth', None)  # Show full content in cells

# Now print all dtypes
print(df.dtypes)

AgeOfVehicle_7 years                      float64
dataset_name                               object
NoOfMonths_PartACov_11                    float64
NumberOfCars_3 to 4                       float64
RenalDiseaseIndicator                     float64
Days:Policy-Accident_1 to 7               float64
PolicyType_Sedan - Collision              float64
umbrella_limit_0                          float64
SOCIAL_CLASS_MI                           float64
MaritalStatus_Single                      float64
PastNumberOfClaims_more than 4            float64
NoOfMonths_PartACov_8                     float64
AgeOfVehicle_new                          float64
ChronicCond_Osteoporasis_2                float64
witnesses_1                               float64
DriverRating_1                            float64
CITY_Nashville                            float64
number_of_vehicles_involved_1             float64
incident_state_SC                         float64
INCIDENT_CITY_Manchester                  float64
CUSTOMER_EDUCATION_LEVEL_High School      float64
VehiclePrice_20,000 to 29,000             float64
incident_city_Arlington                   float64
STATE_AR                                  float64
ChronicCond_ObstrPulmonary_2              float64
insured_hobbies_bungie-jumping            float64
AUTHORITY_CONTACTED_Police                float64
auto_model_MDX                            float64
authorities_contacted_Police              float64
DayOfWeekClaimed_Monday                   float64
WeekOfMonth_5                             float64
INCIDENT_CITY_Glendale                    float64
insured_education_level_JD                float64
insured_relationship_unmarried            float64
Police_Report                             float64
CUSTOMER_EDUCATION_LEVEL_Bachelor         float64
MonthClaimed_Mar                          float64
insured_education_level_Associate         float64
IPAnnualReimbursementAmt                  float64
CUSTOMER_EDUCATION_LEVEL_MD               float64
MonthClaimed_Jun                          float64
Month_Oct                                 float64
VehiclePrice_more than 69,000             float64
witnesses_2                               float64
Gender                                    float64
property_damage_YES                       float64
BasePolicy_Collision                      float64
MaritalStatus_Divorced                    float64
NumberOfSuppliments_3 to 5                float64
incident_severity_Trivial Damage          float64
Days:Policy-Accident_none                 float64
number_of_vehicles_involved_3             float64
Days:Policy-Claim_8 to 15                 float64
witnesses_3                               float64
insured_occupation_sales                  float64
ChronicCond_stroke                        float64
collision_type_Front Collision            float64
NoOfMonths_PartBCov_6                     float64
NumberOfCars_1 vehicle                    float64
NumberOfCars_2 vehicles                   float64
NO_OF_FAMILY_MEMBERS_7                    float64
Days:Policy-Accident_8 to 15              float64
AddressChange-Claim_4 to 8 years          float64
INCIDENT_SEVERITY_Minor Loss              float64
INCIDENT_SEVERITY_Major Loss              float64
bodily_injuries_0                         float64
AgeOfPolicyHolder_36 to 40                float64
STATE_TN                                  float64
MARITAL_STATUS_Y                          float64
RISK_SEGMENTATION_H                       float64
WitnessPresent_Yes                        float64
authorities_contacted_Ambulance           float64
incident_state_WV                         float64
SOCIAL_CLASS_LI                           float64
property_claim                            float64
INCIDENT_CITY_Montgomery                  float64
capital-loss                              float64
NoOfMonths_PartBCov_10                    float64
NoOfMonths_PartBCov_12                    float64
HOUSE_TYPE_Own                            float64
NumberOfCars_5 to 8                       float64
ChronicCond_Diabetes_2                    float64
ANY_INJURY                                float64
CITY_Manchester                           float64
Make_Chevrolet                            float64
bodily_injuries_2                         float64
NO_OF_FAMILY_MEMBERS_5                    float64
NoOfMonths_PartACov_0                     float64
auto_make_Suburu                          float64
insured_occupation_machine-op-inspct      float64
MonthClaimed_Oct                          float64
bodily_injuries_1                         float64
auto_make_Saab                            float64
CUSTOMER_EDUCATION_LEVEL_College          float64
ChronicCond_Heartfailure_2                float64
WeekOfMonth_4                             float64
DayOfWeek_Friday                          float64
auto_year                                 float64
HOUSE_TYPE_Rent                           float64
CITY_Montgomery                           float64
incident_state_NY                         float64
Make_Mazda                                float64
ChronicCond_Cancer_2                      float64
Days:Policy-Accident_more than 30         float64
auto_make_Chevrolet                       float64
auto_model_A3                             float64
AUTHORITY_CONTACTED_Ambulance             float64
DayOfWeekClaimed_Tuesday                  float64
NO_OF_FAMILY_MEMBERS_2                    float64
Premium                                   float64
AgeOfVehicle_5 years                      float64
STATE_CO                                  float64
WeekOfMonth_1                             float64
number_of_vehicles_involved_4             float64
witnesses_0                               float64
vehicle_claim                             float64
INSURANCE_TYPE_Mobile                     float64
EMPLOYMENT_STATUS_Y                       float64
NO_OF_FAMILY_MEMBERS_4                    float64
RISK_SEGMENTATION_M                       float64
policy_state_OH                           float64
insured_relationship_other-relative       float64
incident_severity_Total Loss              float64
VehiclePrice_30,000 to 39,000             float64
insured_education_level_High School       float64
PastNumberOfClaims_none                   float64
insured_relationship_not-in-family        float64
insured_relationship_own-child            float64
insured_education_level_Masters           float64
collision_type_Side Collision             float64
insured_occupation_exec-managerial        float64
INSURANCE_TYPE_Property                   float64
OPAnnualDeductibleAmt                     float64
Month_Mar                                 float64
insured_relationship_husband              float64
MonthClaimed_Jan                          float64
Claim_Amount                              float64
INCIDENT_CITY_Arvada                      float64
NoOfMonths_PartBCov_11                    float64
OPAnnualReimbursementAmt                  float64
STATE_CA                                  float64
PastNumberOfClaims_1                      float64
LOSS_TO_TXN_DELAY                         float64
umbrella_limit_7000000                    float64
DayOfWeekClaimed_Thursday                 float64
Days:Policy-Accident_15 to 30             float64
ClaimDuration                             float64
NumberOfCars_more than 8                  float64
Make_Toyota                               float64
DayOfWeek_Thursday                        float64
CITY_Fayetteville                         float64
IPAnnualDeductibleAmt                     float64
DriverRating_4                            float64
DayOfWeek_Monday                          float64
incident_city_Springfield                 float64
ChronicCond_KidneyDisease_2               float64
MaritalStatus_Widow                       float64
VehiclePrice_40,000 to 59,000             float64
NumberOfSuppliments_1 to 2                float64
ChronicCond_Depression_2                  float64
Make_Honda                                float64
incident_city_Northbrook                  float64
INCIDENT_CITY_Washington                  float64
Fault_Third Party                         float64
property_damage_NO                        float64
DayOfWeekClaimed_Wednesday                float64
VehicleCategory_Sport                     float64
MaritalStatus_Married                     float64
HOUSE_TYPE_Mortgage                       float64
policy_deductable_500                     float64
incident_state_NC                         float64
SOCIAL_CLASS_HI                           float64
policy_csl_100/300                        float64
insured_occupation_prof-specialty         float64
Deductible                                float64
Month_May                                 float64
insured_education_level_PhD               float64
insured_education_level_College           float64
MonthClaimed_May                          float64
policy_deductable_1000                    float64
INSURANCE_TYPE_Health                     float64
AgeOfPolicyHolder_51 to 65                float64
PolicyType_Sedan - Liability              float64
IsInpatient                               float64
AgeOfPolicyHolder_31 to 35                float64
Make_Pontiac                              float64
injury_claim                              float64
insured_hobbies_exercise                  float64
INSURANCE_TYPE_Travel                     float64
DayOfWeekClaimed_Friday                   float64
auto_model_Neon                           float64
VehicleCategory_Sedan                     float64
VehicleCategory_Utility                   float64
VehiclePrice_less than 20,000             float64
AddressChange-Claim_under 6 months        float64
INSURANCE_TYPE_Motor                      float64
auto_make_Dodge                           float64
DayOfWeek_Wednesday                       float64
policy_deductable_2000                    float64
insured_occupation_tech-support           float64
AddressChange-Claim_1 year                float64
capital-gains                             float64
NumberOfSuppliments_more than 5           float64
ChronicCond_rheumatoidarthritis_2         float64
Tenure                                    float64
incident_city_Riverwood                   float64
umbrella_limit_6000000                    float64
AddressChange-Claim_2 to 3 years          float64
PolicyType_Sedan - All Perils             float64
DriverRating_3                            float64
INSURANCE_TYPE_Life                       float64
NoOfMonths_PartACov_12                    float64
DriverRating_2                            float64
policy_state_IN                           float64
STATE_FL                                  float64
incident_type_Vehicle Theft               float64
insured_hobbies_paintball                 float64
CITY_Washington                           float64
NoOfMonths_PartACov_6                     float64
AgeOfPolicyHolder_41 to 50                float64
Month_Jun                                 float64
PolicyType_Utility - All Perils           float64
insured_hobbies_reading                   float64
WeekOfMonthClaimed                        float64
BasePolicy_All Perils                     float64
umbrella_limit_4000000                    float64
WeekOfMonth_3                             float64
incident_type_Parked Car                  float64
AgentType_Internal                        float64
AccidentArea_Urban                        float64
Age                                         int64
incident_severity_Minor Damage            float64
InscClaimAmtReimbursed                    float64
authorities_contacted_Fire                float64
TransactionID                              object
NO_OF_FAMILY_MEMBERS_3                    float64
auto_model_Wrangler                       float64
auto_model_RAM                            float64
POLICY_AGE_DAYS                           float64
Days:Policy-Claim_15 to 30                float64
AgeOfPolicyHolder_26 to 30                float64
incident_city_Northbend                   float64
auto_make_Nissan                          float64
policy_state_IL                           float64
REPORT_DELAY_DAYS                         float64
insured_education_level_MD                float64
policy_csl_500/1000                       float64
incident_type_Multi-vehicle Collision     float64
INCIDENT_SEVERITY_Total Loss              float64
DayOfWeek_Tuesday                         float64
incident_severity_Major Damage            float64
incident_state_VA                         float64
BasePolicy_Liability                      float64
ChronicCond_Alzheimer_2                   float64
insured_hobbies_movies                    float64
IsDead                                    float64
incident_type_Single Vehicle Collision    float64
insured_relationship_wife                 float64
Month_Jan                                 float64
umbrella_limit_5000000                    float64
AgeOfVehicle_6 years                      float64
incident_city_Hillsdale                   float64
RISK_SEGMENTATION_L                       float64
PastNumberOfClaims_2 to 4                 float64
WeekOfMonth_2                             float64
PolicyType_Sport - Collision              float64
AgeOfVehicle_more than 7                  float64
NoOfMonths_PartBCov_0                     float64
property_damage_?                         float64
NumberOfSuppliments_none                  float64
incident_city_Columbus                    float64
AddressChange-Claim_no change             float64
CUSTOMER_EDUCATION_LEVEL_Masters          float64
NO_OF_FAMILY_MEMBERS_6                    float64
IsFraud                                   float64
Days:Policy-Claim_more than 30            float64
Incident_Hour                             float64
number_of_vehicles_involved_2             float64
policy_csl_250/500                        float64
collision_type_Rear Collision             float64
Days:Policy-Claim_none                    float64
dtype: object

In [19]:
# Show only columns with non-numeric data types
non_numeric_cols = df.select_dtypes(exclude=['int64', 'float64']).dtypes

print(non_numeric_cols)

dataset_name     object
TransactionID    object
dtype: object

In [20]:
"object" in df.dtypes.tolist()

True

In [21]:
df.drop(columns =["TransactionID","dataset_name"],inplace=True)

In [22]:
# for i in df.columns:
#     print(i)
df_new=df

In [23]:
import numpy as np
import pandas as pd
from tensorflow.keras.layers import Input, Dense, Lambda, Layer
from tensorflow.keras.models import Model
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras import backend as K

# Custom layer for VAE loss
class VAELossLayer(Layer):
    def __init__(self, **kwargs):
        super(VAELossLayer, self).__init__(**kwargs)

    def vae_loss(self, x, x_decoded_mean, z_log_var, z_mean):
        reconstruction_loss = binary_crossentropy(x, x_decoded_mean)
        reconstruction_loss *= original_dim
        kl_loss = 1 + z_log_var - K.square(z_mean) - K.exp(z_log_var)
        kl_loss = K.sum(kl_loss, axis=-1)
        kl_loss *= -0.5
        return K.mean(reconstruction_loss + kl_loss)

    def call(self, inputs):
        x = inputs[0]
        x_decoded_mean = inputs[1]
        z_log_var = inputs[2]
        z_mean = inputs[3]

        loss = self.vae_loss(x, x_decoded_mean, z_log_var, z_mean)
        self.add_loss(loss)

        return x

# Data preparation
data_normalized = (df_new - df_new.mean()) / df_new.std()
data_normalized
original_dim = data_normalized.shape[1]

# VAE architecture
input_shape = (original_dim,)
intermediate_dim = 64
latent_dim = 32

# Encoder
inputs = Input(shape=input_shape, name='encoder_input')
x = Dense(intermediate_dim, activation='relu')(inputs)
z_mean = Dense(latent_dim, name='z_mean')(x)
z_log_var = Dense(latent_dim, name='z_log_var')(x)

def sampling(args):
    z_mean, z_log_var = args
    batch = K.shape(z_mean)[0]
    dim = K.int_shape(z_mean)[1]
    epsilon = K.random_normal(shape=(batch, dim))
    return z_mean + K.exp(0.5 * z_log_var) * epsilon

z = Lambda(sampling, output_shape=(latent_dim,), name='z')([z_mean, z_log_var])

# Decoder
decoder_h = Dense(intermediate_dim, activation='relu')
decoder_mean = Dense(original_dim, activation='sigmoid')
h_decoded = decoder_h(z)
x_decoded_mean = decoder_mean(h_decoded)

# VAE model
outputs = VAELossLayer()([inputs, x_decoded_mean, z_log_var, z_mean])
vae = Model(inputs, outputs)

# Compile model
vae.compile(optimizer='rmsprop')

# Train VAE
data_normalized_np = data_normalized.to_numpy()
vae.fit(data_normalized_np, epochs=50, batch_size=32, validation_split=0.1)

Epoch 1/50
16443/16443  49s 3ms/step - loss: nan - val_loss: nan
Epoch 2/50
16443/16443  77s 3ms/step - loss: nan - val_loss: nan
Epoch 3/50
16443/16443  48s 3ms/step - loss: nan - val_loss: nan
Epoch 4/50
16443/16443  76s 3ms/step - loss: nan - val_loss: nan
Epoch 5/50
16443/16443  81s 3ms/step - loss: nan - val_loss: nan
Epoch 6/50
16443/16443  44s 3ms/step - loss: nan - val_loss: nan
Epoch 7/50
16443/16443  44s 3ms/step - loss: nan - val_loss: nan
Epoch 8/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 9/50
16443/16443  81s 3ms/step - loss: nan - val_loss: nan
Epoch 10/50
16443/16443  82s 3ms/step - loss: nan - val_loss: nan
Epoch 11/50
16443/16443  82s 3ms/step - loss: nan - val_loss: nan
Epoch 12/50
16443/16443  83s 3ms/step - loss: nan - val_loss: nan
Epoch 13/50
16443/16443  80s 2ms/step - loss: nan - val_loss: nan
Epoch 14/50
16443/16443  42s 3ms/step - loss: nan - val_loss: nan
Epoch 15/50
16443/16443  82s 3ms/step - loss: nan - val_loss: nan
Epoch 16/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 17/50
16443/16443  41s 3ms/step - loss: nan - val_loss: nan
Epoch 18/50
16443/16443  42s 3ms/step - loss: nan - val_loss: nan
Epoch 19/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 20/50
16443/16443  82s 3ms/step - loss: nan - val_loss: nan
Epoch 21/50
16443/16443  84s 3ms/step - loss: nan - val_loss: nan
Epoch 22/50
16443/16443  80s 3ms/step - loss: nan - val_loss: nan
Epoch 23/50
16443/16443  80s 3ms/step - loss: nan - val_loss: nan
Epoch 24/50
16443/16443  84s 3ms/step - loss: nan - val_loss: nan
Epoch 25/50
16443/16443  80s 3ms/step - loss: nan - val_loss: nan
Epoch 26/50
16443/16443  81s 2ms/step - loss: nan - val_loss: nan
Epoch 27/50
16443/16443  41s 2ms/step - loss: nan - val_loss: nan
Epoch 28/50
16443/16443  82s 3ms/step - loss: nan - val_loss: nan
Epoch 29/50
16443/16443  47s 3ms/step - loss: nan - val_loss: nan
Epoch 30/50
16443/16443  42s 3ms/step - loss: nan - val_loss: nan
Epoch 31/50
16443/16443  82s 3ms/step - loss: nan - val_loss: nan
Epoch 32/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 33/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 34/50
16443/16443  41s 3ms/step - loss: nan - val_loss: nan
Epoch 35/50
16443/16443  83s 3ms/step - loss: nan - val_loss: nan
Epoch 36/50
16443/16443  80s 2ms/step - loss: nan - val_loss: nan
Epoch 37/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 38/50
16443/16443  80s 2ms/step - loss: nan - val_loss: nan
Epoch 39/50
16443/16443  44s 3ms/step - loss: nan - val_loss: nan
Epoch 40/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 41/50
16443/16443  41s 3ms/step - loss: nan - val_loss: nan
Epoch 42/50
16443/16443  83s 3ms/step - loss: nan - val_loss: nan
Epoch 43/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 44/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan
Epoch 45/50
16443/16443  42s 3ms/step - loss: nan - val_loss: nan
Epoch 46/50
16443/16443  41s 3ms/step - loss: nan - val_loss: nan
Epoch 47/50
16443/16443  42s 3ms/step - loss: nan - val_loss: nan
Epoch 48/50
16443/16443  84s 3ms/step - loss: nan - val_loss: nan
Epoch 49/50
16443/16443  79s 3ms/step - loss: nan - val_loss: nan
Epoch 50/50
16443/16443  43s 3ms/step - loss: nan - val_loss: nan

In [ ]:
# Impute missing values
missing_mask = data_normalized.isnull()
data_filled = data_normalized.fillna(0)
predicted_data = vae.predict(data_filled)
imputed_data = data_normalized.where(~missing_mask, predicted_data)
imputed_data = imputed_data * df_new.std() + df_new.mean()

# Round the imputed values to three decimal places
imputed_data = imputed_data.round(3)

# Display the imputed data
imputed_data

In [29]:
# # Optional: Save as a single HDF5 file
# vae.save("/content/drive/MyDrive/Train/data/my_model.h5")  # Creates file 'my_model.h5'
vae.save("/content/drive/MyDrive/Train/data/my_model.keras")  # Recommended format

In [ ]:
imputed_data.to_csv("/content/drive/MyDrive/Assigments/vae_data_imputed_data.csv")

## Loading Model

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv("/content/drive/MyDrive/Train/data/NewFullInsuranceFraudData.csv",low_memory=False)

In [5]:
a = df.copy()

In [6]:
df.drop(columns =["TransactionID","dataset_name"],inplace=True)

In [7]:
# for i in df.columns:
#     print(i)
df_new=df

In [9]:
data_normalized = (df_new - df_new.mean()) / df_new.std()
# data_normalized

In [10]:
# ----------------------------------------
# 2. Load your data (df_new and a)
# ----------------------------------------
# Make sure to replace this with your actual data loading logic

# Normalize data
data_normalized = (df_new - df_new.mean()) / df_new.std()
original_dim = data_normalized.shape[1]

In [11]:
data_normalized_np = data_normalized.to_numpy()

In [ ]:
from tensorflow.keras.saving import register_keras_serializable
import numpy as np
from tensorflow.keras.layers import Input, Dense, Lambda, Layer
from tensorflow.keras.models import Model
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras import backend as K
from tensorflow.keras.models import load_model

# Register again here too (for loading)
@register_keras_serializable()
def sampling(args):
    z_mean, z_log_var = args
    batch = K.shape(z_mean)[0]
    dim = K.int_shape(z_mean)[1]
    epsilon = K.random_normal(shape=(batch, dim))
    return z_mean + K.exp(0.5 * z_log_var) * epsilon

# Redefine VAELossLayer
class VAELossLayer(Layer):
    def __init__(self, **kwargs):
        super(VAELossLayer, self).__init__(**kwargs)

    def vae_loss(self, x, x_decoded_mean, z_log_var, z_mean):
        reconstruction_loss = binary_crossentropy(x, x_decoded_mean)
        reconstruction_loss *= original_dim
        kl_loss = 1 + z_log_var - K.square(z_mean) - K.exp(z_log_var)
        kl_loss = K.sum(kl_loss, axis=-1)
        kl_loss *= -0.5
        return K.mean(reconstruction_loss + kl_loss)

    def call(self, inputs):
        x = inputs[0]
        x_decoded_mean = inputs[1]
        z_log_var = inputs[2]
        z_mean = inputs[3]

        loss = self.vae_loss(x, x_decoded_mean, z_log_var, z_mean)
        self.add_loss(loss)
        return x

# Load the model with custom objects
vae = load_model(
    "/content/drive/MyDrive/Train/data/my_model.keras",
    custom_objects={
        "VAELossLayer": VAELossLayer,
        "sampling": sampling
    }
)

In [ ]:
# ----------------------------------------
# 4. Predict missing values
# ----------------------------------------
# Create a mask of missing values
missing_mask = data_normalized.isnull()

# Fill missing values with zeros for input
data_filled = data_normalized.fillna(0)

# Convert to numpy
data_filled_np = data_filled.to_numpy()

# Use the VAE to predict
predicted_data = vae.predict(data_filled_np)

# Replace missing values in original data
imputed_data = data_normalized.where(~missing_mask, predicted_data)

# Denormalize to original scale
imputed_data = imputed_data * df_new.std() + df_new.mean()

# Round for cleaner output
imputed_data = imputed_data.round(3)

# ----------------------------------------
# 5. Save outputs
# ----------------------------------------

# Save imputed data
imputed_data.to_csv("/content/drive/MyDrive/Train/data/vae_data_data.csv", index=False)

18270/18270  28s 1ms/step

In [ ]:
# Combine with metadata and save df2
df2 = pd.concat([imputed_data, a[["TransactionID", "dataset_name"]]], axis=1)
df2.to_csv("/content/drive/MyDrive/Train/data/vae_index_index_data.csv", index=False)

print(" Imputation completed and saved.")

## Next

In [ ]:
# Impute missing values
missing_mask = data_normalized.isnull()
data_filled = data_normalized.fillna(0)
predicted_data = vae.predict(data_filled)
imputed_data = data_normalized.where(~missing_mask, predicted_data)
imputed_data = imputed_data * df_new.std() + df_new.mean()

# Round the imputed values to three decimal places
imputed_data = imputed_data.round(3)

# Display the imputed data
imputed_data

In [ ]:
df.shape

In [ ]:
imputed_data.shape

In [ ]:
aa=display(df)

counting list of Uniquic all featurs
isFraud  : 2 , [np.int64(0), np.int64(1)]
dataset_name  : 3 , ['Transaction_Fraud', 'Mobile_Transaction_Fraud']
transaction_type_EMI Payment  : 2 , [np.int64(0), np.int64(1)]
 Total ERC20 tnxs  : 300 , [np.int64(0), np.int64(265)]
oldbalanceOrg  : 54092 , [np.float64(0.0), np.float64(19391.0)]
transaction_type_Deposit  : 2 , [np.int64(0), np.int64(1)]
newbalanceOrig  : 42997 , [np.float64(0.0), np.float64(16374.82)]
 ERC20_most_rec_token_type_Others  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Utilities  : 2 , [np.int64(0), np.int64(1)]
 ERC20 total ether sent  : 1415 , [np.float64(0.0), np.float64(35603169.52)]
 ERC20 most sent token type_Golem  : 2 , [np.int64(0), np.int64(1)]
device_used_Web  : 2 , [np.int64(1), np.int64(0)]
TransactionID  : 159841 , ['DigitalTrans_000001', 'DigitalTrans_000002']
transaction_type_Bill Payment  : 2 , [np.int64(1), np.int64(0)]
transaction_type_Loan Disbursement  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Groceries  : 2 , [np.int64(0), np.int64(1)]
 ERC20 total Ether received  : 3460 , [np.float64(0.0), np.float64(35588543.78)]
avg val sent  : 5854 , [np.float64(0.0), np.float64(1.200681)]
total ether balance  : 5717 , [np.float64(0.0), np.float64(-279.2244185)]
max val sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
transaction_location_Kalyan-Dombivli, Nagaland  : 2 , [np.int64(0), np.int64(1)]
account_balance_after_transaction  : 30267 , [np.float64(8211.0), np.float64(12858.0)]
Number of Created Contracts  : 20 , [np.int64(0), np.int64(1)]
merchant_category_Online Shopping  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Healthcare  : 2 , [np.int64(0), np.int64(1)]
transaction_type_Fund Transfer  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Travel  : 2 , [np.int64(0), np.int64(1)]
 ERC20 most sent token type_EOS  : 2 , [np.int64(0), np.int64(1)]
total ether received  : 6728 , [np.float64(0.0), np.float64(586.4666748)]
is_international_transaction  : 2 , [np.int64(0), np.int64(1)]
transaction_location_Davanagere, Himachal Pradesh  : 2 , [np.int64(0), np.int64(1)]
Time Diff between first and last (Mins)  : 7810 , [np.float64(0.0), np.float64(704785.63)]
 ERC20 most sent token type_OmiseGO  : 2 , [np.int64(0), np.int64(1)]
transaction_type_Credit Card  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Financial Services  : 2 , [np.int64(0), np.int64(1)]
type_DEBIT  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Education  : 2 , [np.int64(0), np.int64(1)]
Unique Sent To Addresses  : 258 , [np.int64(0), np.int64(118)]
min val sent  : 4719 , [np.float64(0.0), np.float64(0.05)]
avg value sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20_most_rec_token_type_Blockwell say NOTSAFU  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Electronics  : 2 , [np.int64(0), np.int64(1)]
Received Tnx  : 727 , [np.int64(0), np.int64(89)]
Unique Received From Addresses  : 256 , [np.int64(0), np.int64(40)]
 ERC20 uniq sent addr  : 107 , [np.int64(0), np.int64(30)]
Avg min between received tnx  : 6223 , [np.float64(0.0), np.float64(1093.71)]
transaction_type_Net Banking  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Fuel  : 2 , [np.int64(0), np.int64(1)]
 ERC20 max val rec  : 2647 , [np.float64(0.0), np.float64(15000000.0)]
min value sent to contract  : 3 , [np.float64(0.0), np.float64(0.02)]
transaction_status_Success  : 2 , [np.int64(1), np.int64(0)]
transaction_type_UPI  : 2 , [np.int64(0), np.int64(1)]
max val sent  : 6647 , [np.float64(0.0), np.float64(31.22)]
total ether sent contracts  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20 uniq rec contract addr  : 123 , [np.int64(0), np.int64(58)]
Sent tnx  : 641 , [np.int64(0), np.int64(721)]
Avg min between sent tnx  : 5013 , [np.float64(0.0), np.float64(844.26)]
 ERC20 avg val sent  : 1309 , [np.float64(0.0), np.float64(271779.92)]
max value received   : 6302 , [np.float64(0.0), np.float64(45.806785)]
transaction_type_Debit Card  : 2 , [np.int64(0), np.int64(1)]
avg val received  : 6767 , [np.float64(0.0), np.float64(6.589513)]
 ERC20 max val sent  : 1130 , [np.float64(0.0), np.float64(16830998.35)]
 ERC20 uniq sent token name  : 70 , [np.int64(0), np.int64(39)]
TransactionAmt  : 101058 , [np.float64(2100.0), np.float64(1400.0)]
 ERC20 uniq rec token name  : 121 , [np.int64(0), np.int64(57)]
type_PAYMENT  : 2 , [np.int64(0), np.int64(1)]
 ERC20 most sent token type_0  : 2 , [np.int64(0), np.int64(1)]
step  : 459 , [np.int64(0), np.int64(162)]
 ERC20_most_rec_token_type_OmiseGO  : 2 , [np.int64(0), np.int64(1)]
device_used_POS  : 2 , [np.int64(0), np.int64(1)]
 ERC20_most_rec_token_type_Livepeer Token  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Dining  : 2 , [np.int64(1), np.int64(0)]
transaction_location_Siwan, Sikkim  : 2 , [np.int64(0), np.int64(1)]
type_TRANSFER  : 2 , [np.int64(0), np.int64(1)]
 ERC20 uniq rec addr  : 147 , [np.int64(0), np.int64(54)]
device_used_Mobile  : 2 , [np.int64(0), np.int64(1)]
 ERC20_most_rec_token_type_DATAcoin  : 2 , [np.int64(0), np.int64(1)]
total Ether sent  : 5868 , [np.float64(0.0), np.float64(865.6910932)]
min value received  : 4589 , [np.float64(0.0), np.float64(0.113119)]
 ERC20 uniq sent addr.1  : 4 , [np.int64(0), np.int64(1)]
 ERC20 avg val rec  : 3380 , [np.float64(0.0), np.float64(265586.1476)]
 ERC20 total Ether sent contract  : 29 , [np.float64(0.0), np.float64(1.15e-14)]
newbalanceDest  : 61351 , [np.float64(0.0), np.float64(566378.51)]
oldbalanceDest  : 57396 , [np.float64(0.0), np.float64(382572.19)]
 ERC20 min val sent  : 476 , [np.float64(0.0), np.float64(2.260809)]
 ERC20 most sent token type_Others  : 2 , [np.int64(0), np.int64(1)]
 ERC20 min val rec  : 1276 , [np.float64(0.0), np.float64(600.0)]
type_CASH_OUT  : 2 , [np.int64(0), np.int64(1)]
merchant_category_Entertainment  : 2 , [np.int64(0), np.int64(1)]

In [ ]:
bb=display(imputed_data)

counting list of Uniquic all featurs
isFraud  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_type_EMI Payment  : 2 , [np.float64(0.0), np.float64(1.0)]
 Total ERC20 tnxs  : 300 , [np.float64(0.0), np.float64(265.0)]
oldbalanceOrg  : 54092 , [np.float64(0.0), np.float64(19391.0)]
transaction_type_Deposit  : 2 , [np.float64(0.0), np.float64(1.0)]
newbalanceOrig  : 42997 , [np.float64(0.0), np.float64(16374.82)]
 ERC20_most_rec_token_type_Others  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Utilities  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 total ether sent  : 1290 , [np.float64(0.0), np.float64(35603169.52)]
 ERC20 most sent token type_Golem  : 2 , [np.float64(0.0), np.float64(1.0)]
device_used_Web  : 2 , [np.float64(1.0), np.float64(-0.0)]
transaction_type_Bill Payment  : 2 , [np.float64(1.0), np.float64(0.0)]
transaction_type_Loan Disbursement  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Groceries  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 total Ether received  : 3190 , [np.float64(0.0), np.float64(35588543.78)]
avg val sent  : 3903 , [np.float64(0.0), np.float64(1.201)]
total ether balance  : 2942 , [np.float64(0.0), np.float64(-279.224)]
max val sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
transaction_location_Kalyan-Dombivli, Nagaland  : 2 , [np.float64(0.0), np.float64(1.0)]
account_balance_after_transaction  : 30267 , [np.float64(8211.0), np.float64(12858.0)]
Number of Created Contracts  : 20 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Online Shopping  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Healthcare  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_type_Fund Transfer  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Travel  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 most sent token type_EOS  : 2 , [np.float64(0.0), np.float64(1.0)]
total ether received  : 6194 , [np.float64(0.0), np.float64(586.467)]
is_international_transaction  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_location_Davanagere, Himachal Pradesh  : 2 , [np.float64(0.0), np.float64(1.0)]
Time Diff between first and last (Mins)  : 7810 , [np.float64(-0.0), np.float64(704785.63)]
 ERC20 most sent token type_OmiseGO  : 2 , [np.float64(0.0), np.float64(1.0)]
transaction_type_Credit Card  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Financial Services  : 2 , [np.float64(-0.0), np.float64(1.0)]
type_DEBIT  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Education  : 2 , [np.float64(0.0), np.float64(1.0)]
Unique Sent To Addresses  : 258 , [np.float64(0.0), np.float64(118.0)]
min val sent  : 2148 , [np.float64(0.0), np.float64(0.05)]
avg value sent to contract  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20_most_rec_token_type_Blockwell say NOTSAFU  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Electronics  : 2 , [np.float64(0.0), np.float64(1.0)]
Received Tnx  : 727 , [np.float64(0.0), np.float64(89.0)]
Unique Received From Addresses  : 256 , [np.float64(-0.0), np.float64(40.0)]
 ERC20 uniq sent addr  : 107 , [np.float64(0.0), np.float64(30.0)]
Avg min between received tnx  : 6223 , [np.float64(-0.0), np.float64(1093.71)]
transaction_type_Net Banking  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Fuel  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 max val rec  : 2424 , [np.float64(0.0), np.float64(15000000.0)]
min value sent to contract  : 3 , [np.float64(0.0), np.float64(0.02)]
transaction_status_Success  : 2 , [np.float64(1.0), np.float64(0.0)]
transaction_type_UPI  : 2 , [np.float64(0.0), np.float64(1.0)]
max val sent  : 5277 , [np.float64(0.0), np.float64(31.22)]
total ether sent contracts  : 4 , [np.float64(0.0), np.float64(0.02)]
 ERC20 uniq rec contract addr  : 123 , [np.float64(0.0), np.float64(58.0)]
Sent tnx  : 641 , [np.float64(-0.0), np.float64(721.0)]
Avg min between sent tnx  : 5013 , [np.float64(0.0), np.float64(844.26)]
 ERC20 avg val sent  : 1296 , [np.float64(0.0), np.float64(271779.92)]
max value received   : 4989 , [np.float64(0.0), np.float64(45.807)]
transaction_type_Debit Card  : 2 , [np.float64(0.0), np.float64(1.0)]
avg val received  : 4029 , [np.float64(0.0), np.float64(6.59)]
 ERC20 max val sent  : 1112 , [np.float64(0.0), np.float64(16830998.35)]
 ERC20 uniq sent token name  : 70 , [np.float64(0.0), np.float64(39.0)]
TransactionAmt  : 101054 , [np.float64(2100.0), np.float64(1400.0)]
 ERC20 uniq rec token name  : 121 , [np.float64(0.0), np.float64(57.0)]
type_PAYMENT  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 most sent token type_0  : 2 , [np.float64(0.0), np.float64(1.0)]
step  : 459 , [np.float64(0.0), np.float64(162.0)]
 ERC20_most_rec_token_type_OmiseGO  : 2 , [np.float64(0.0), np.float64(1.0)]
device_used_POS  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20_most_rec_token_type_Livepeer Token  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Dining  : 2 , [np.float64(1.0), np.float64(0.0)]
transaction_location_Siwan, Sikkim  : 2 , [np.float64(0.0), np.float64(1.0)]
type_TRANSFER  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 uniq rec addr  : 147 , [np.float64(-0.0), np.float64(54.0)]
device_used_Mobile  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20_most_rec_token_type_DATAcoin  : 2 , [np.float64(0.0), np.float64(1.0)]
total Ether sent  : 5112 , [np.float64(0.0), np.float64(865.691)]
min value received  : 2235 , [np.float64(0.0), np.float64(0.113)]
 ERC20 uniq sent addr.1  : 4 , [np.float64(0.0), np.float64(1.0)]
 ERC20 avg val rec  : 3113 , [np.float64(0.0), np.float64(265586.148)]
 ERC20 total Ether sent contract  : 14 , [np.float64(0.0), np.float64(214367.494)]
newbalanceDest  : 61351 , [np.float64(0.0), np.float64(566378.51)]
oldbalanceDest  : 57396 , [np.float64(0.0), np.float64(382572.19)]
 ERC20 min val sent  : 444 , [np.float64(0.0), np.float64(2.261)]
 ERC20 most sent token type_Others  : 2 , [np.float64(0.0), np.float64(1.0)]
 ERC20 min val rec  : 900 , [np.float64(0.0), np.float64(600.0)]
type_CASH_OUT  : 2 , [np.float64(0.0), np.float64(1.0)]
merchant_category_Entertainment  : 2 , [np.float64(0.0), np.float64(1.0)]

In [ ]:
print(a,b)

[2, 2, 300, 54092, 2, 42997, 2, 2, 1415, 2, 2, 2, 2, 2, 3460, 5854, 5717, 4, 2, 30267, 20, 2, 2, 2, 2, 2, 6728, 2, 2, 7810, 2, 2, 2, 2, 2, 258, 4719, 4, 2, 2, 727, 256, 107, 6223, 2, 2, 2647, 3, 2, 2, 6647, 4, 123, 641, 5013, 1309, 6302, 2, 6767, 1130, 70, 101058, 121, 2, 2, 459, 2, 2, 2, 2, 2, 2, 147, 2, 2, 5868, 4589, 4, 3380, 29, 61351, 57396, 476, 2, 1276, 2, 2] [2, 2, 300, 54092, 2, 42997, 2, 2, 1290, 2, 2, 2, 2, 2, 3190, 3903, 2942, 4, 2, 30267, 20, 2, 2, 2, 2, 2, 6194, 2, 2, 7810, 2, 2, 2, 2, 2, 258, 2148, 4, 2, 2, 727, 256, 107, 6223, 2, 2, 2424, 3, 2, 2, 5277, 4, 123, 641, 5013, 1296, 4989, 2, 4029, 1112, 70, 101054, 121, 2, 2, 459, 2, 2, 2, 2, 2, 2, 147, 2, 2, 5112, 2235, 4, 3113, 14, 61351, 57396, 444, 2, 900, 2, 2]

In [ ]:
print(b)

[2, 2, 300, 54092, 2, 42997, 2, 2, 1290, 2, 2, 2, 2, 2, 3190, 3903, 2942, 4, 2, 30267, 20, 2, 2, 2, 2, 2, 6194, 2, 2, 7810, 2, 2, 2, 2, 2, 258, 2148, 4, 2, 2, 727, 256, 107, 6223, 2, 2, 2424, 3, 2, 2, 5277, 4, 123, 641, 5013, 1296, 4989, 2, 4029, 1112, 70, 101054, 121, 2, 2, 459, 2, 2, 2, 2, 2, 2, 147, 2, 2, 5112, 2235, 4, 3113, 14, 61351, 57396, 444, 2, 900, 2, 2]

In [ ]:
print(imputed_data.isnull().sum())

isFraud                               0
transaction_type_EMI Payment          0
 Total ERC20 tnxs                     0
oldbalanceOrg                         0
transaction_type_Deposit              0
                                     ..
 ERC20 min val sent                   0
 ERC20 most sent token type_Others    0
 ERC20 min val rec                    0
type_CASH_OUT                         0
merchant_category_Entertainment       0
Length: 87, dtype: int64

In [ ]:
df2 = pd.concat([imputed_data, a[["TransactionID", "dataset_name"]]], axis=1)

In [ ]:
df2.to_csv("/content/drive/MyDrive/Assigments/vae_index_data.csv")

In [ ]:
imputed_data.to_csv("/content/drive/MyDrive/Assigments/vae_data_imputed_data.csv")

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming 'imputed_data' is your full DataFrame
train_df, test_df = train_test_split(imputed_data, test_size=0.2, random_state=42)

# Optional: Check the size
print("Train shape:", train_df.shape)
print("Test shape:", test_df.shape)

Train shape: (127872, 87)
Test shape: (31969, 87)

In [ ]:
train_df.to_csv("/content/drive/MyDrive/Assigments/vae_train.csv")
test_df.to_csv("/content/drive/MyDrive/Assigments/vae_test.csv")

In [ ]:
# import pandas as pd

# # Ensure pandas doesn't truncate the column output
# pd.set_option('display.max_rows', None)

# # Then print the null counts
# print(df2.isnull().sum())

isFraud                                              0
transaction_type_EMI Payment                         0
 Total ERC20 tnxs                                    0
oldbalanceOrg                                        0
transaction_type_Deposit                             0
newbalanceOrig                                       0
 ERC20_most_rec_token_type_Others                    0
merchant_category_Utilities                          0
 ERC20 total ether sent                              0
 ERC20 most sent token type_Golem                    0
device_used_Web                                      0
transaction_type_Bill Payment                        0
transaction_type_Loan Disbursement                   0
merchant_category_Groceries                          0
 ERC20 total Ether received                          0
avg val sent                                         0
total ether balance                                  0
max val sent to contract                             0
transaction_location_Kalyan-Dombivli, Nagaland       0
account_balance_after_transaction                    0
Number of Created Contracts                          0
merchant_category_Online Shopping                    0
merchant_category_Healthcare                         0
transaction_type_Fund Transfer                       0
merchant_category_Travel                             0
 ERC20 most sent token type_EOS                      0
total ether received                                 0
is_international_transaction                         0
transaction_location_Davanagere, Himachal Pradesh    0
Time Diff between first and last (Mins)              0
 ERC20 most sent token type_OmiseGO                  0
transaction_type_Credit Card                         0
merchant_category_Financial Services                 0
type_DEBIT                                           0
merchant_category_Education                          0
Unique Sent To Addresses                             0
min val sent                                         0
avg value sent to contract                           0
 ERC20_most_rec_token_type_Blockwell say NOTSAFU     0
merchant_category_Electronics                        0
Received Tnx                                         0
Unique Received From Addresses                       0
 ERC20 uniq sent addr                                0
Avg min between received tnx                         0
transaction_type_Net Banking                         0
merchant_category_Fuel                               0
 ERC20 max val rec                                   0
min value sent to contract                           0
transaction_status_Success                           0
transaction_type_UPI                                 0
max val sent                                         0
total ether sent contracts                           0
 ERC20 uniq rec contract addr                        0
Sent tnx                                             0
Avg min between sent tnx                             0
 ERC20 avg val sent                                  0
max value received                                   0
transaction_type_Debit Card                          0
avg val received                                     0
 ERC20 max val sent                                  0
 ERC20 uniq sent token name                          0
TransactionAmt                                       0
 ERC20 uniq rec token name                           0
type_PAYMENT                                         0
 ERC20 most sent token type_0                        0
step                                                 0
 ERC20_most_rec_token_type_OmiseGO                   0
device_used_POS                                      0
 ERC20_most_rec_token_type_Livepeer Token            0
merchant_category_Dining                             0
transaction_location_Siwan, Sikkim                   0
type_TRANSFER                                        0
 ERC20 uniq rec addr                                 0
device_used_Mobile                                   0
 ERC20_most_rec_token_type_DATAcoin                  0
total Ether sent                                     0
min value received                                   0
 ERC20 uniq sent addr.1                              0
 ERC20 avg val rec                                   0
 ERC20 total Ether sent contract                     0
newbalanceDest                                       0
oldbalanceDest                                       0
 ERC20 min val sent                                  0
 ERC20 most sent token type_Others                   0
 ERC20 min val rec                                   0
type_CASH_OUT                                        0
merchant_category_Entertainment                      0
TransactionID                                        0
dataset_name                                         0
dtype: int64

In [ ]:
imputed_data['merchant_fraud_Kilback LLC'].value_counts()

WALLSMATERIAL_MODE_Stone, brick
0.211    50000
0.000    39446
1.000    10554
Name: count, dtype: int64

In [ ]:
imputed_data1=imputed_data.iloc[:,:30]

In [ ]:
imputed_data

In [ ]:
imputed_data1.to_csv('test.csv')

In [ ]:
imputed_data_round = imputed_data.round(0)
imputed_data_round

,amt,lat,long,city_pop,merch_lat,merch_long,merchant_fraud_Cormier LLC,merchant_fraud_Kilback LLC,merchant_fraud_Kuhn LLC,merchant_fraud_Schumm PLC,...,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_Others,EMERGENCYSTATE_MODE_Yes,is_fraud
0,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,70.0,39.0,-90.0,88416.0,39.0,-90.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3.0,37.0,-91.0,241.0,36.0,-91.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99996,63.0,41.0,-74.0,5950.0,41.0,-74.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99997,52.0,27.0,-82.0,3776.0,26.0,-82.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99998,3.0,35.0,-99.0,540.0,35.0,-98.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99999,104.0,35.0,-99.0,540.0,35.0,-99.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
imputed_data_round['merchant_fraud_Kilback LLC'].value_counts()

merchant_fraud_Kilback LLC
0.0    99829
1.0      171
Name: count, dtype: int64

In [ ]:
imputed_data_round.to_csv('cred+simucred_vae.csv')

In [ ]:
dff=pd.read_csv("C:\Users\adars\final_data_vae.csv")

In [ ]:
for i in imputed_data_round.columns:
    print(i)

In [ ]:
import numpy as np
import torch
from torch.utils.data import DataLoader, TensorDataset
import torch.nn as nn
import torch.nn.functional as F
import pandas as pd

# Load your dataset
# df = pd.read_csv('your_dataset.csv')  # Load your DataFrame here if not already loaded

# Convert DataFrame to a numpy array
data = df_new.to_numpy()

# Convert to PyTorch tensors
data_tensor = torch.tensor(data, dtype=torch.float32)

# Create DataLoader
batch_size = 32
dataset = TensorDataset(data_tensor, data_tensor)
dataloader = DataLoader(dataset, batch_size=batch_size, shuffle=True)

# VAE Model
class Encoder(nn.Module):
    def __init__(self, input_dim, hidden_dim, latent_dim):
        super(Encoder, self).__init__()
        self.fc1 = nn.Linear(input_dim, hidden_dim)
        self.fc_mu = nn.Linear(hidden_dim, latent_dim)
        self.fc_logvar = nn.Linear(hidden_dim, latent_dim)

    def forward(self, x):
        h = F.relu(self.fc1(x))
        mu = self.fc_mu(h)
        logvar = self.fc_logvar(h)
        return mu, logvar

class Decoder(nn.Module):
    def __init__(self, latent_dim, hidden_dim, output_dim):
        super(Decoder, self).__init__()
        self.fc1 = nn.Linear(latent_dim, hidden_dim)
        self.fc2 = nn.Linear(hidden_dim, output_dim)

    def forward(self, z):
        h = F.relu(self.fc1(z))
        x_reconstructed = torch.sigmoid(self.fc2(h))
        return x_reconstructed

class VAE(nn.Module):
    def __init__(self, input_dim, hidden_dim, latent_dim):
        super(VAE, self).__init__()
        self.encoder = Encoder(input_dim, hidden_dim, latent_dim)
        self.decoder = Decoder(latent_dim, hidden_dim, input_dim)

    def reparameterize(self, mu, logvar):
        std = torch.exp(0.5 * logvar)
        eps = torch.randn_like(std)
        return mu + eps * std

    def forward(self, x):
        mu, logvar = self.encoder(x)
        z = self.reparameterize(mu, logvar)
        x_reconstructed = self.decoder(z)
        return x_reconstructed, mu, logvar

def vae_loss(reconstructed_x, x, mu, logvar):
    reconstruction_loss = F.mse_loss(reconstructed_x, x, reduction='sum')
    kl_divergence = -0.5 * torch.sum(1 + logvar - mu.pow(2) - logvar.exp())
    return reconstruction_loss + kl_divergence

# Training
input_dim = data.shape[1]
hidden_dim = 64
latent_dim = 2
vae = VAE(input_dim, hidden_dim, latent_dim)
optimizer = torch.optim.Adam(vae.parameters(), lr=1e-3)

num_epochs = 100
vae.train()
for epoch in range(num_epochs):
    for batch in dataloader:
        x, _ = batch
        optimizer.zero_grad()
        reconstructed_x, mu, logvar = vae(x)
        loss = vae_loss(reconstructed_x, x, mu, logvar)
        loss.backward()
        optimizer.step()

    print(f'Epoch {epoch+1}, Loss: {loss.item()}')

# Generating Synthetic Data
vae.eval()
with torch.no_grad():
    z = torch.randn(100, latent_dim)
    generated_samples = vae.decoder(z)
    generated_samples = generated_samples.numpy()
    print(generated_samples)

In [ ]:
data=df_new

In [ ]:
# import numpy as np
# import pandas as pd
# import tensorflow as tf
# from tensorflow.keras.layers import Input, Dense, Lambda
# from tensorflow.keras.models import Model
# from tensorflow.keras import backend as K
# from sklearn.preprocessing import MinMaxScaler

# # Example DataFrame
# # Replace this with your own dataset loading and preprocessing steps

# # Scale the data
# scaler = MinMaxScaler()
# data_scaled = scaler.fit_transform(df_new)

# # Define the VAE architecture
# original_dim = data.shape[1]
# intermediate_dim = 10
# latent_dim = 2
# batch_size = 10
# epochs = 50

# # Encoder
# inputs = Input(shape=(original_dim,))
# h = Dense(intermediate_dim, activation='relu')(inputs)
# z_mean = Dense(latent_dim)(h)
# z_log_var = Dense(latent_dim)(h)

# # Sampling function
# def sampling(args):
#     z_mean, z_log_var = args
#     epsilon = K.random_normal(shape=(K.shape(z_mean)[0], latent_dim))
#     return z_mean + K.exp(0.5 * z_log_var) * epsilon

# # Reparameterization trick
# z = Lambda(sampling, output_shape=(latent_dim,))([z_mean, z_log_var])

# # Decoder
# decoder_h = Dense(intermediate_dim, activation='relu')
# decoder_mean = Dense(original_dim, activation='sigmoid')
# h_decoded = decoder_h(z)
# x_decoded_mean = decoder_mean(h_decoded)

# # VAE model
# vae = Model(inputs, x_decoded_mean)

# # Loss function
# xent_loss = original_dim * tf.keras.losses.binary_crossentropy(inputs, x_decoded_mean)
# kl_loss = -0.5 * tf.reduce_sum(1 + z_log_var - tf.square(z_mean) - tf.exp(z_log_var), axis=-1)
# vae_loss = tf.reduce_mean(xent_loss + kl_loss)

# vae.add_loss(vae_loss)
# vae.compile(optimizer='adam')

# # Training
# vae.fit(data_scaled, epochs=epochs, batch_size=batch_size, verbose=0)

# # Impute missing values using the trained VAE
# data_imputed_scaled = vae.predict(data_scaled)

# # Inverse transform scaling
# data_imputed = scaler.inverse_transform(data_imputed_scaled)

# # Replace the missing values in original data with imputed values
# data_filled = data.copy()
# data_filled.values[missing_mask] = data_imputed[missing_mask]

# # Now data_filled contains your DataFrame with missing values imputed using VAE

# # Example of how to use the imputed data
# print("Original Data:")
# print(data)
# print("\nData with Missing Values:")
# print(data_missing)
# print("\nImputed Data:")
# print(data_filled)